[2020-08-06 15:41] codebytere commented on #166
@ryzokuken implicit there would be addressing small review feedback to ensure that's the case :)

[2020-08-06 15:42] ryzokuken commented on #166
Oops, I just deleted my comment because it was obvious. Thanks.

[2020-08-06 15:43] mmarchini commented on #166
@ryzokuken the changed code is only used on major bumps, so I think it would be safe to land @codebytere PR and make a release (to unbreak the daily v8 updated), and then follow up integrating @targos changes to allow for relative paths.

[2020-08-06 15:45] ryzokuken commented on #166
Right. I feel it's highly unlikely that we would ever bump _up_ to a version without those files, right?

[2020-08-06 15:51] mmarchini commented on #166
There's the ongoing V8 8.5 bump (https://github.com/nodejs/node/pull/34337) which might also be backported to Node.js v14. Either way, for the ongoing PR it's still possible to use a previous ncu version, and we should get a patch with a long-term fix landed before we start to backport to 8.5 v14.

[2020-08-06 15:55] codebytere commented on #166
Should i ensure mine is backwards compatible then or is it fine as-is as a stopgap do we think?

[2020-08-06 16:02] gengjiawen commented on #166
If you can make it in a day I thinks it's okay. But longer may cause some issue, since node.js daily build broken  more than 10 days. We got more time on V8 8.5 bump.

[2020-08-06 17:38] mmarchini commented on #166
Let's keep this open until the long-term fix is applied :)

[2020-08-07 03:04] gengjiawen commented on #162
This is caused by https://github.com/nodejs/node-v8/issues/166, binary build should be back online sone (except for windows due to known issue).

[2020-08-07 21:42] vsemozhetbyt commented on #166
Is it normal that `v15.0.0-v8-canary20200723fa696aa4d8` had `"v8":"8.6.228.0"` while the last `v15.0.0-v8-canary202008071df3ac3d89` has `"v8":"8.6.0.0"` as per https://nodejs.org/download/v8-canary/index.json?

[2020-08-10 14:38] targos commented on #166
That happens sometimes, when the HEAD commit of V8's `lkgr` branch wasn't tagged to a new version number yet.

[2020-08-13 12:57] #166 closed

[2020-09-06 14:09] vsemozhetbyt commented on #161
Sorry to bother, but is it worth to mention the Windows collaborator team here? We have not had Windows canary for three months...

[2020-09-07 00:23] gengjiawen commented on #161
This is more like a gyp issue: https://github.com/nodejs/gyp-next/issues/60

[2020-09-09 21:25] mhdawson commented on #161
@miladfarca could you take a look at  cppgc so we understand how it might impact power/s390 in the future?

[2020-09-11 06:29] vsemozhetbyt commented on #161
nodejs/gyp-next#60 seems fixed but there are no canaries at all for last days.

[2020-09-11 06:53] targos commented on #161
Canary needed an update in `v8.gyp`. I'm testing it locally.

[2020-09-11 07:50] gengjiawen opened #167 "new v8 deprecation cause build failing"
Should be an easy fix
[code]

Build log: https://github.com/nodejs/node-v8/runs/1084576984.

[2020-09-12 17:34] miladfarca commented on #161
@mhdawson It's a new mark and sweep GC called `Oilpan`. It does conservative stack scanning of C++/JS objects (treats them as one heap). It's actively being worked on and any port to other platforms will also get ported to p/z linux and AIX:
https://chromium-review.googlesource.com/c/v8/v8/+/2144691

This also elliminates the use of a clang plugin: https://github.com/nodejs/node/issues/27257#issue

[2020-09-13 06:24] mmarchini opened #168 "Automatic V8 DEPS detection"
I'm trying to find a way for us to auto sync V8 dependencies without needing to [manually list them](https://github.com/nodejs/node-core-utils/blob/master/lib/update-v8/constants.js#L34-L81) and without having to manually parse the DEPS file. One idea I had is to add depot_tools as a dependency to `git node v8` (which the user can specify a path or we can download if not specified) and then use `f

[2020-09-13 06:33] mmarchini opened #169 "Move `node-update-v8-canary` to GitHub Actions"
With GitHub Actions there's no reason to keep the update script on Jenkins, we can move it here making it easier for folks without Jenkins admin access to help improve it when something breaks.

[2020-09-13 06:39] mmarchini opened #170 "Restructure repository branches"
- [ ] Create `main` branch in this repository, set it as default branch
- [ ] Keep `canary` branch as we have today
  - [ ] Alternatively have a `canary/` folder which is a copy of `nodejs/node` with patches applied
  - [ ] Alternatively 2 keep the V8 canary as a `v8-canary` branch on `nodejs/node` and have it as a submodule here
- [ ] Ensure Jenkins fetches the `canary` branch for relevant jobs
-

[2020-09-13 06:40] targos commented on #168
Note that I intentionally didn't use `depot_tools` in order to only fetch the dependencies that are required to build V8 for node (there are many other dependencies, some of which are large, that are not necessary to us)

[2020-09-13 06:41] targos commented on #169
Good idea. I can have a try at it.

[2020-09-13 06:41] mmarchini commented on #170
We can start by creating the `main` branch with an empty README, and then slowly we can work on the other changes there (via PRs) and then once we're confident this new system is working and is better than the current state we can switch it.

[2020-09-13 06:43] mmarchini commented on #168
We can have a `ignore_deps` if that's the case. Do you have stats on how much the size would grow with those dependencies?

[2020-09-13 06:44] mmarchini commented on #169
I think this will work better if we decide to move forward with #170, but it could be implemented in the current system as well (we would just need to make sure we also cherry-pick the commit adding the Action to this repository when updating V8)

[2020-09-13 06:46] targos commented on #170
I'm not opposed to it, but having a branch to manage the canary patches helps me a lot because I can easily use `git cherry-pick` and `git rebase`. We need to make sure patch files don't slow down the regular processes of
- keeping gyp files up to date
- preparing the V8 update PRs in `nodejs/node`

[2020-09-13 06:48] targos commented on #168
There are also the gitignore updates that are related to the deps that we use.

[2020-09-13 06:49] mmarchini commented on #170
Definitely. I'm proposing these changes because I do believe they will make the overall process _faster_ (or at least _simpler_), but we'll definitely need some experimentation in order to get it right.

[2020-09-13 07:07] mmarchini commented on #170
Besides dropping the `canary-base` branch, what are your thoughts on the other changes?

[2020-09-13 07:13] targos commented on #170
Other changes SGTM

[2020-09-13 08:14] vsemozhetbyt commented on #161
Something seems break all builds again. IIUC, https://github.com/nodejs/node-v8/issues/167

[2020-09-13 08:40] mmarchini commented on #168
As a first step, would you be willing to add add `//build` and `//buildtools` dependencies, drop all ignores we have on the script, and add `deps/gn` which is updates alongside V8? We can probably drop depot_tools from our V8 testing script if we do that, and it opens the door to build V8 with GN in a hybrid setup.

[2020-09-13 08:54] targos commented on #168
I'm open to anything that works 😄

[2020-09-13 08:57] mmarchini commented on #168
Cool! I'll try to get this working with `node-core-utils`, hopefully when we upgrade to V8 8.5 we can also have those deps added and then we can simplify the whole `test-v8` setup.

[2020-09-13 09:01] targos commented on #168
Are you ready for the nightmare it will be to make it work on Windows? :D

[2020-09-13 09:02] mmarchini commented on #168
I'm ready to push super hard for us to drop msvc and support only clang like V8 does 😅

[2020-09-13 09:23] targos commented on #168
[code]

[2020-09-13 09:52] mmarchini commented on #168
That's with the full fetch, which includes binary files and the git folder, those folder are considerably smaller when cloning a single commit

[2020-09-13 14:47] targos commented on #168
This is what I get with `gclient sync`. Is there another way to use depot_tools?

[2020-09-13 19:55] mmarchini commented on #168
I don't think so, but maybe we can `git clean -xdf` the repositories. Otherwise we'll need to stick with the approach we have today.

[2020-09-14 15:12] vsemozhetbyt commented on #161
Still no Windows in today's build(

[2020-09-14 15:50] targos opened #172 "Builds fail on Windows"
CI: https://ci-release.nodejs.org/job/iojs+release/6313/

[code]

[2020-09-14 15:50] targos commented on #161
@vsemozhetbyt there's a build failure in release CI, but it seems unrelated to this issue. I opened https://github.com/nodejs/node-v8/issues/172

[2020-09-14 15:58] targos commented on #172
It's not specific to release CI: https://ci.nodejs.org/job/node-compile-windows/35995/nodes=win-vs2019/console

[2020-09-14 15:59] targos opened #173 "N-API test failure"
https://ci.nodejs.org/job/node-test-commit-linux/37061/nodes=ubuntu1804-64/console

[code]

[2020-09-14 16:05] targos opened #174 "ARM cross-compilation is broken"
/cc @nodejs/platform-arm

https://ci.nodejs.org/job/node-cross-compile/30572/nodes=cross-compiler-ubuntu1804-armv7-gcc-6/console

[code]

[2020-09-14 16:05] targos commented on #173
/cc @nodejs/n-api

[2020-09-14 16:05] targos commented on #172
/cc @nodejs/platform-windows

[2020-09-14 16:08] targos opened #175 "Debug error in node_mksnapshot"
https://ci.nodejs.org/job/node-test-commit-linux-containered/22283/nodes=ubuntu1804_sharedlibs_debug_x64/console

[code]

[2020-09-14 16:08] targos commented on #175
/cc @joyeecheung ? Do we have a team to ping for these kind of issues?

[2020-09-14 22:13] mhdawson commented on #161
@miladfarca thanks for the clarification :)

[2020-09-14 22:30] mhdawson commented on #173
Related test: https://github.com/nodejs/node/tree/master/test/js-native-api/test_object

[2020-09-15 06:52] gengjiawen commented on #167
PR: https://github.com/nodejs/node/pull/35204.

[2020-09-15 07:03] targos commented on #173
I cannot reproduce on my system (CentOS 8, with GCC 8.3.1)

[2020-09-15 08:47] #167 closed

[2020-09-15 15:43] mhdawson commented on #173
This did not reproduce on my system either (Ubuntu 18.04.4, GCC 7.5.0)

[2020-09-15 15:54] mhdawson commented on #173
I think one of the machines in the build matched the ubuntu/gcc level that I have:

[code]
from https://ci.nodejs.org/job/node-test-commit-linux/nodes=ubuntu1804-64/37061/consoleFull

So maybe we should re-run after the security release to see if it re-occurs

[2020-09-15 15:57] targos commented on #173
It's been occuring for some time (I haven't checked when it started to fail). Here's an other example from one week ago: https://ci.nodejs.org/view/MyJobs/job/node-test-commit-node-v8/600/

[2020-09-15 16:02] mhdawson commented on #173
So its intermittent or fails every time in the CI ?

[2020-09-15 16:10] mhdawson commented on #173
Also to confirm, the job just checks out the canary branch (the default) of node-v8 and does make test ?

[2020-09-15 16:12] targos commented on #173
It fails every time in CI. History: https://ci.nodejs.org/view/MyJobs/job/node-test-commit-node-v8/
The job triggers a `node-test-commit` subjob with the `canary` branch of `nodejs/node-v8`

[2020-09-15 16:34] mhdawson commented on #173
Strange since that should match what we've run.  I wonder if it would make sense to clear the workspace and make sure it recreates.

[2020-09-15 20:45] joyeecheung commented on #175
No, we don't have a team for this, from a glance I am guessing this is a V8 issue, I will try to reproduce locally and see what object this is. Also cc @nodejs/v8

[2020-09-16 02:17] gengjiawen commented on #172
Maybe related to not get https://github.com/nodejs/gyp-next/pull/62 ?

[2020-09-16 06:17] targos commented on #172
Shouldn't be. Unless I made a mistake, https://github.com/nodejs/node-v8/commit/6e33500d9f3297718360cc69c81750b9ddf4f752 contains that change.

[2020-09-16 07:02] gengjiawen commented on #172
Then looks like some deleted function issue in msvc like previously fix in V8 8.5. I will take a look.

[2020-09-16 13:12] gengjiawen commented on #172
I will try to upstream the fix from https://github.com/nodejs/node/pull/35229.

[2020-09-16 16:10] gengjiawen commented on #172
Upstream: https://chromium-review.googlesource.com/c/v8/v8/+/2414688.

In short, msvc force export class delete copy and assign if it's class member doesn't support them.
See: https://devblogs.microsoft.com/oldnewthing/20190927-00/?p=102932.

[2020-09-16 20:30] mhdawson commented on #173
@targos are you ok if we clear the workspace to see if that makes any difference?

[2020-09-17 03:03] gengjiawen commented on #168
those folders are git repo. `git clean -xdf` likely not to work.

[2020-09-17 03:12] gengjiawen commented on #168
I like the idea. But I have bad experience both with depot_tools and gclient even on linux (setup and sync issue). Also git submodule actually is pretty mess up. Maybe publish related toolchain in a npm module.

[2020-09-17 04:30] targos commented on #173
I'm ok

[2020-09-17 08:23] mmarchini commented on #168
The folders yes, but all the binaries that depot_tools downloads on the side aren't and can be deleted with xdf (and that's where most of the size @targos mentioned is coming from).

We all have 😅 but hopefully automating it via ncu would make things easier

I didn't suggest submodules in this issue :)

That _could_ work, but we would face pushback from folks that want Node.js to be builable offli

[2020-09-17 08:48] gengjiawen commented on #161
@vsemozhetbyt windows fix got merged, binary should be on the way 🎁

[2020-09-17 13:22] vsemozhetbyt commented on #161
Thank you all! [Win-x64 is back](https://nodejs.org/download/v8-canary/v15.0.0-v8-canary202009173b56586162/).

Now I can publish my translation about Intl.Segmenter (shipped in V8 87) and link to the  full binaries set for readers to test the feature)

Are Win-x86 binaries not built anymore or is this a build issue? [There were ones in the last successful build](https://nodejs.org/download/v8-cana

[2020-09-17 13:49] targos commented on #161
x86 build still fails:

[code]

[2020-09-17 13:59] mhdawson commented on #173
Ok, have cleared the workspace for https://ci.nodejs.org/job/node-test-commit-node-v8/.  We'll see if that makes any difference.

[2020-09-17 15:10] gengjiawen commented on #161
01@internal@v8@@IAEXH@Z) [c:\ws\tools\v8_gypfiles\mksnapshot.vcxproj]

@targos loos like you forget the patch x32 to ia32 patch in v8 8.5.

[2020-09-18 01:08] gengjiawen opened #176 "drop commit no longer needed."
![image](https://user-images.githubusercontent.com/3759816/93543461-39495180-f98e-11ea-807a-251a6f1aa1af.png)

[2020-09-18 05:49] targos commented on #176
Why are they no longer needed?

[2020-09-18 06:35] gengjiawen commented on #176
Aa for as I know, now minimum build Xcode is 10 and Visual Studio is 2019.

[2020-09-18 06:39] targos commented on #176
I don't know about Xcode, but I know that we needed to keep the VS2015 patch to support building native addons.

@joaocgreis is that still going to be the case with Node.js 15 ?

[2020-09-18 12:32] targos commented on #161
@gengjiawen right, good catch! I pushed the change to canary-base. Build should go well tomorrow.

[2020-09-18 19:57] gabrielschulhof commented on #173
I can't reproduce this.

[2020-09-18 19:57] gabrielschulhof commented on #173
Looks like Ubuntu 16.04 64-bit with gcc-7.5.0.

[2020-09-24 23:21] gengjiawen commented on #172
landed in https://github.com/v8/v8/commit/717543bbf0ef79557dc7b3a7dc845dc5611621d9

[2020-09-24 23:21] #172 closed

[2020-09-25 01:05] gengjiawen commented on #172
cc @targo You may need to remove https://github.com/nodejs/node-v8/commit/3853faa9c8728131a4c96eccc8212f7d7704c1fe in next sync cycle.

[2020-09-25 09:57] targos commented on #172
@gengjiawen thanks, I just updated canary-base and removed the floating patch 👍

[2020-09-25 20:46] mhdawson commented on #173
Using test-joyent-ubuntu1804-x64-1 on which we saw the failure recently to investigate

[2020-09-25 21:58] mhdawson commented on #173
Compiling in directory: https://github.com/nodejs/node-v8.git

[2020-09-25 22:46] mhdawson commented on #173
did not recreate with a `make node` followed by `make test`, so likely means that its related to config set by the CI job, for example compiler or something else

[2020-09-25 23:01] mhdawson commented on #173
Called set-compiler but not the ccache config still did not recreate, but not much seemed to be compiled either. Having said that it did not seem to have changed the compiler either

[2020-09-25 23:03] mhdawson commented on #173
Double check last failure was on https://ci.nodejs.org/job/node-test-commit-linux/nodes=ubuntu1804-64/37204/

[2020-09-25 23:04] mhdawson commented on #173
Remaining thing that is not like ci would be the ccache.  Next week I'll create a duplicate job that would only run on the same machine and validate it fails under CI, and if so then try to remove the part of the job which configures ccache.

[2020-09-27 07:15] sleikang opened #177 "Use VS2019 to compile V8 latest source code error function redefinition"
VS2019 is_clang=false Error
Use VS2019 to compile V8 latest source code error function redefinition

C:/Users/leixiaojun/Downloads/sdk/depot_tools/bootstrap-3_8_0_chromium_8_bin/python/bin/python.exe ../../build/toolchain/win/tool_wrapper.py link-wrapper environment.x64 False link.exe /nologo /OUT:./mksnapshot.exe /PDB:./mksnapshot.exe.pdb @./mksnapshot.exe.rsp
1>v8_libbase.dll.lib(v8_libbase.dll)

[2020-09-28 13:00] mhdawson commented on #173
Create this job: https://ci.nodejs.org/job/node-test-commit-linux-mhdawson/ as clone of main job which only runs on test-joyent-ubuntu1804-x64-1 and uses node-v8 and the canary branch.

Run to see if it recreates: https://ci.nodejs.org/job/node-test-commit-linux-mhdawson/2/console

[2020-09-28 13:18] mhdawson commented on #173
Unfortunately that job is not working, need to look further

[2020-09-28 15:30] mhdawson commented on #173
Recreated job as https://ci.nodejs.org/job/node-test-commit-linux-mhdawson/, does not default to node-v8/canary, but seems to be running having specified that in the build parameters

[2020-09-30 20:52] mhdawson commented on #173
Tried recreating through a clone of the job. Tried the follwing:

1) run the job specifying node-v8/canary - no recreate
2) first run the job for node/master, followed with run for node-v8/canary to more closely match what we see in the community runs - no recreate

[2020-09-30 21:08] mhdawson commented on #173
Looking at the build jobs they look pretty much the same. The only thing I can see is that my new job does not have the `NODE_MAJOR_VERSION` and `IGNORE_FLAKY_TESTS ` parameters defined.  I've added those and kicked off another run

[2020-09-30 23:12] mhdawson commented on #173
Still no recreate, the only other thing I can think of trying is to clear the workspace for node-test-commit-linux but that would definitely have an impact on the next run.

[2020-10-01 03:42] joyeecheung commented on #175
It looks like one of the typed arrays (`async_hook_fields` I think) in the global uncaught exception handler closure cannot be properly serialized, which might be related to this comment which I still have not figured out yet. I will see if I can give it another try..

https://github.com/nodejs/node/blob/423490423264d1b7624d578a421a1bedecbc5d2e/lib/internal/process/execution.js#L119-L126

<detail>

[2020-10-01 13:53] mhdawson commented on #173
Wiping workspace for `node-test-commit-linux`

[2020-10-01 13:55] mhdawson commented on #173
node-v8 run to see if wiping workspace had any effect: https://ci.nodejs.org/view/All/job/node-test-commit-node-v8/622/

[2020-10-01 14:02] mhdawson commented on #173
second run as first one seems to fail, missing some config after workspace clean https://ci.nodejs.org/job/node-test-commit-node-v8/623/

[2020-10-01 14:04] mhdawson commented on #173
And again https://ci.nodejs.org/job/node-test-commit-node-v8/624/

[2020-10-01 14:07] mhdawson commented on #173
Seems like you have to run 3 times after workspace clear, third one now seems to be building now.

[2020-10-01 18:10] mhdawson commented on #173
Looks to me like the linux job on ubuntu 1804 passed in this run: https://ci.nodejs.org/job/node-test-commit-node-v8/624/

[2020-10-01 18:16] mhdawson commented on #173
Lets see if it passes in the next regularly scheduled canary builds, if so it seems like the workspace clean removed whatever was causing the problem.

[2020-10-02 08:04] targos commented on #173
Thanks for looking into it @mhdawson ! Here is today's run: https://ci.nodejs.org/view/MyJobs/job/node-test-commit-node-v8/626/

[2020-10-02 14:14] mhdawson commented on #173
@targos that link seems to 404 for me. Launched this one https://ci.nodejs.org/view/MyJobs/job/node-test-commit-node-v8/628/

[2020-10-02 17:59] JingkunHu commented on #115
Segmentation fault still happens when running node 12.18.4 with multi-worker-threads

[2020-10-02 21:43] mhdawson commented on #173
Ok test_object passed in the last build I started as well. @targos I'm going to close this as I think it's resolved. Please re-open if it recreates.

[2020-10-02 21:43] #173 closed

[2020-10-03 22:43] Trott commented on #115
I don't believe this was fixed in 12.x. Fixed in 14.0.0 though.

[2020-10-04 00:47] d3x0r commented on #115
No, in 14, windows debug addons crash with release Node... have to build a debug node to use debug plugins, otherwise the arraybuffer delete uses the wrong runtime (uses the delete linked with the addon, and not the delete linked with node that created the object in the first place)

[2020-10-06 16:34] targos opened #178 "V8 crash while running ESLint"
To reproduce with [`canary-base`](https://github.com/nodejs/node/commits/canary-base):

[code]

gdb stack:

[code]

JS stack:

[code]

Full output: https://gist.github.com/targos/06d3e7f59017b56b9fa799b18a1b6cec

/cc @nodejs/v8

[2020-10-06 16:35] targos commented on #178
Crash happens on the `return` here: https://github.com/eslint/eslint/blob/27f0de62e6281c28043be38ef051818c9edc15cd/lib/cli-engine/cascading-config-array-factory.js#L287

I found out that the value returned by this function is an instance of a class that `extends Array {}`. I don't know if that's relevant.

[2020-10-06 16:52] targos commented on #177
This project is not about compiling V8 directly with depot_tools but embedding it in Node.js.

[2020-10-06 16:52] #177 closed

[2020-10-06 16:54] targos commented on #176
@gengjiawen If you would like to push for it, please try to open a PR in nodejs/node that reverts them. We'll see if CI is happy or not.

[2020-10-06 16:54] #176 closed

[2020-10-07 09:29] joyeecheung commented on #175
I dug around a bit and it looks like it's not related to the global uncaught exception handler after all. As long as the serializer reaches a Uint32Array in the closure of `getDefaultTriggerAsyncId` or `executionAsyncId ` (pretty sure it's `async_hook_fields`), it tries to obtain a back reference to it and that back reference is somehow invalid. Still looking into why that's the case..

[2020-10-17 09:36] vsemozhetbyt opened #179 "Limited set of binaries"
After almost 2 weeks without new builds, the last one has very limited set of binaries:

https://nodejs.org/download/v8-canary/v15.0.0-v8-canary20201016269b7068cf/

[2020-10-17 10:25] targos commented on #179
macOS release failed because of missing REPLACEME tags. The regular nightly build of `master` fails for the same reason:

[code]

[2020-10-17 10:26] targos commented on #179
Windows failed because of this error:
[code]

[2020-10-17 13:34] richardlau commented on #179
@AshCripps FYI I think this is because when the job was recently changed to allow more parallelism commenting out the original `make` line (the `#make -j 1...` below) it has broken line continuation so the make variables weren't being set.
[code]

I've swapped the two `make` lines: https://ci-release.nodejs.org/job/iojs+release/jobConfigHistory/showDiffFiles?timestamp1=2020-10-14_10-09-35&timestam

[2020-10-18 10:17] #174 closed

[2020-10-18 14:32] targos opened #180 "V8 CI broken by test runner changes"
See https://ci.nodejs.org/job/node-test-commit-v8-linux/3479/nodes=benchmark-ubuntu1604-intel-64,v8test=v8test/console

Error:
[code]

/cc @nodejs/build

[2020-10-18 17:12] Trott commented on #180
Here's the relevant bit of script:

[code]

I can remove the `--mode=release` if we're pretty sure that's all that needs to happen and this is time sensitive or anything.

[2020-10-18 18:06] richardlau commented on #180
Will

Isn’t that supposed to run our test runner and not V8’s?

[2020-10-18 18:16] richardlau commented on #180
@targos The job runs the `test-v8` target and this is invoking the V8 test runner:
https://github.com/nodejs/node/blob/6141ca318ad52c507fd9fbc49218768b72eb8f54/Makefile#L670-L676
so this should be fixed in the canary branch.

[2020-10-19 06:22] targos commented on #180
Thanks @richardlau. This already affects V8 8.7. I added a commit to remove the flag in https://github.com/nodejs/node/pull/35700

[2020-10-19 06:22] #180 closed

[2020-10-19 06:34] targos commented on #175
This is affecting V8 8.7: https://github.com/nodejs/node/pull/35700#issuecomment-711658306

[2020-10-19 09:03] richardlau commented on #180
@targos It looks like V8 8.6 was also affected -- the V8 CI for Node.js 15 (https://github.com/nodejs/node/pull/35014#issuecomment-711478666) failed.
cc @BethGriggs

[2020-10-19 09:13] targos commented on #180
Okay, sorry about that. It passed originally: https://ci.nodejs.org/job/node-test-commit-v8-linux/3416/ but I guess they backported the test runner changes.

Let me open a PR against master.

[2020-10-19 20:56] joyeecheung commented on #175
Maybe it would be easier to fix if we find the V8 commit where this starts to fail. Is there a way to automate bisect between two V8 versions with Node? Or do you have closer hashes other than v8.6 and v8.7? @targos

[2020-10-20 06:43] targos commented on #175
I do not have a way to bisect V8 versions with Node. The only additional info I can give you is that the oldest CI run with canary, which was on Sep 15, 2020, already showed that failure.

It gives us this commit range, if I compare from the point of 8.6 branch to Sep 16: https://github.com/v8/v8/compare/a626bc036236c9bf92ac7b87dc40c9e538b087e3...c73ca67bd5180207f2bc5b0e937db378721ac015

[2020-10-20 07:10] #161 closed

[2020-10-20 07:10] gengjiawen commented on #161
V8 8.6 merged into core.

[2020-10-20 10:43] joyeecheung commented on #175
From the CI this also at least showed up on Sep 11, do you remember the last good commit of this?

[2020-10-20 10:44] joyeecheung commented on #175
Oh, wait, the last good commit should be a626bc036236c9bf92ac7b87dc40c9e538b087e3.

[2020-10-20 10:46] targos commented on #175
@joyeecheung where did you find this? I can only go back to Sep 15 in the history

[2020-10-20 10:47] joyeecheung commented on #175
@targos https://ci.nodejs.org/job/node-test-commit-node-v8/602/

[2020-10-20 10:48] targos commented on #175
Still a lot of candidates :(

[2020-10-20 10:54] joyeecheung commented on #175
How can I pull the source code of node canary (if the build file works) for a given V8 hash or a build on a particular day to build and test it? If we are lucky we just need to test 5 builds.

[2020-10-20 10:59] targos commented on #175
If GitHub doesn't garbage collect the commits (we do not tag them, maybe we should?), you can find the commit hashes here: https://nodejs.org/download/v8-canary/

For example, with the build from Sep 01:
- https://nodejs.org/download/v8-canary/v15.0.0-v8-canary20200901482f91b93a/
- Commit hash: 482f91b93a

[2020-10-20 11:01] targos commented on #175
That doesn't give you the V8 hash though, only the canary hash. At least this way you can reduce the list based on the day canary was updated

[2020-10-20 11:07] joyeecheung commented on #175
This might be related to https://chromium-review.googlesource.com/c/v8/v8/+/2418101 - there are a bunch of relands and reverts of these CLs, so simply bisecting might not be useful

[2020-10-20 15:15] joyeecheung commented on #175
The source can't be checked out from the command line with the hash. It's available on the website as tarball though

[2020-10-21 02:06] gengjiawen commented on #179
@vsemozhetbyt Looks like binary online now
https://nodejs.org/download/v8-canary/v15.0.0-v8-canary2020101930ab55e359/

![image](https://user-images.githubusercontent.com/3759816/96664257-f4497e00-1384-11eb-945d-2cbeec6dbbee.png)

[2020-10-21 06:25] vsemozhetbyt commented on #179
Thank you!

[2020-10-21 06:25] #179 closed

[2020-10-21 07:01] gengjiawen commented on #175
Maybe worthing add debug build to V8 canary workflow like https://github.com/nodejs/node/pull/35721.

[2020-10-21 16:18] joyeecheung commented on #175
BTW I get

[code]

When I run `make v8` on canary locally and I get

[code]

When I `./configure` in the decompressed tarball

[2020-10-21 16:22] cclauss commented on #175
`urllib2` was removed in Python 3.

[2020-10-21 16:45] joyeecheung commented on #175
@cclauss Thanks, I wonder if we could add our python 3 locating code in `configure` to the `make v8` target somehow so that it also tries whichever python3 found locally..(although IIRC, depot_tools already contains a copy of python? not sure why it's not used)

[2020-10-22 01:30] gengjiawen commented on #175
The gyp is in `tools/gyp`, it's not bundled in tarball ?

[2020-10-22 12:17] joyeecheung commented on #175
@gengjiawen I redownloaded the tarball and it worked, maybe that wasn't a proper tarball in the first place, sorry

[2020-10-22 18:13] joyeecheung commented on #175
I bisected the range to https://github.com/v8/v8/compare/8.7.75...8.7.80 I wonder if we can just relax the DCHECK because the release build seems to work just fine...still verifying the fix

[2020-10-23 06:30] targos opened #182 "V8 tools were migrated to ESM"
See https://github.com/v8/v8/commit/94bce1dcaca3b42bbdca5ca8d3ca81abfcbc245b and https://github.com/v8/node/commit/1dae89124aa1be5262357496483c98ee74a2a3e1

We'll need to change how we load them.

[2020-10-23 14:16] devsnek commented on #182
Could use `vm.SourceTextModule`, perhaps?

[2020-10-27 15:14] joyeecheung commented on #175
Update: looks like we'd need to make objects with embedder fields that have pending forward references work in the context serializer instead of just ignoring the back reference check. Before https://github.com/v8/v8/commit/76d684cc821e24ddf17e819dac390143fad09b77 they worked as deferred objects with valid back references, and after they don't. Not sure why it wasn't caught in the V8 test suite.

[2020-10-28 21:37] joyeecheung commented on #175
By the way before the fix can be backported, you can still use the debug build if you just disable our own snapshot with the configure option `--without-node-snapshot`

[2020-10-29 08:46] targos commented on #175
Which fix?

[2020-10-29 18:07] joyeecheung commented on #175
@targos I should've typed "a fix" (or maybe more because serializer patches tend to take multiple relands)

[2020-11-03 01:47] gengjiawen opened #183 "windows build broken"
https://github.com/nodejs/node-v8/runs/1340956947

[code]

[2020-11-03 07:54] targos commented on #178
This is fixed in latest canary.

[2020-11-03 07:54] #178 closed

[2020-11-03 07:55] targos commented on #100
Either someone tries to upstream the revert: https://github.com/nodejs/node-v8/commit/c58cd35aa191b746fe2c242696da13ba718d1995#diff-f93464a48a2b9281080b555fac1081b1852154552800cbc6a2440ad1e3629033
Or we accept to float it forever and close this issue.

[2020-11-03 08:41] targos commented on #183
Here's the file as generated on my side:

<details>

[code]

</details>

[2020-11-03 09:20] gengjiawen commented on #183
Looks like need extra header include for msvc.

[2020-11-03 10:01] targos commented on #183
What about the syntax errors?

[2020-11-03 10:54] gengjiawen commented on #183
Not sure, but from my experience, fix front error will be helpfully for latter error.

[2020-11-05 16:59] targos commented on #183
If you have an idea about which header should be included in which file(s), I'm happy to try it on my Windows machine.

[2020-11-06 00:11] gengjiawen commented on #183
I have not got time to debug yet. I guess this not on hurry since v8 8.8 official release take some time ?

[2020-11-09 20:23] mhdawson commented on #100
As I understand it the only impact is that we don't get the test results in a format that we'd like.  We still run/get results and have coped for 1 1/2 years. I figure we just close. @targos make sense to you?

[2020-11-11 04:54] joyeecheung commented on #175
I think I was overthinking and simply avoiding deferring embedder objects instead of trying to add support for it should do the trick

[code]

[2020-11-11 07:39] gengjiawen commented on #183
Looks like something wrong with `torque-gernerated`

This file not generated on windows.
![image](https://user-images.githubusercontent.com/3759816/98783142-096d7600-2434-11eb-88ee-658944bba946.png)

[2020-11-11 09:03] camillobruni commented on #175
Funny that I just find this now :)
We just debugged the very same issue yesterday coming to the same conclusion, reported here: https://crbug.com/v8/11146

[2020-11-11 19:31] joyeecheung commented on #175
https://chromium-review.googlesource.com/c/v8/v8/+/2531195 has been merged. We can wait for a day or two so that more bots in the upstream verifies it before we can backport it (I think this fix should be simple enough to not regress though)

[2020-11-12 08:11] targos commented on #175
I pushed the fix to https://github.com/nodejs/node/pull/35700. Let's see how it goes.

[2020-11-17 14:54] #175 closed

[2020-11-21 16:33] vsemozhetbyt commented on #183
It seems all other builds are also absent for the last 5 days.

[2020-11-21 16:43] targos commented on #183
V8 now requires ICU 68. Canary should be fixed after https://github.com/nodejs/node/pull/36187 lands.

[2020-11-25 11:01] gengjiawen commented on #183
@tebbi I am not familiar with torque, any special part should I check for windows ? https://github.com/nodejs/node-v8/issues/183#issuecomment-725260956

[2020-11-25 11:15] targos opened #184 "New V8 deprecations"
[code]

[2020-11-29 10:21] targos commented on #183
@gengjiawen I checked with V8 8.8 PR (https://github.com/nodejs/node/pull/36139) and the same files are present in the torque-generated directory on both Windows and Linux.

[2020-11-29 10:49] targos commented on #183
Found it: it's the file `torque-generated/src/objects/torque-defined-classes-tq-inl.inc` that's wrong. It's completely empty on Windows.

[2020-11-29 11:13] targos commented on #183
Okay, so the issue is in https://github.com/v8/v8/blob/7111248e40379c540ae4c0325a8fb7fc792b9d43/src/torque/source-positions.cc#L48-L55

The method is called with `"src/objects/torque-defined-classes.tq"` and it matches nothing because the in the for loop, all strings have a backslash separator.

[2020-11-29 11:28] targos commented on #183
I'm trying a fix in GYP 🤞

[2020-11-29 12:22] targos commented on #183
I pushed the fix to https://github.com/nodejs/node/pull/36139/commits/c220ba68c1ef769604f5e1c2c3a392bb9a7a7db8
Now I'm hitting an issue with `mkcodecache`:

[code]

/cc @joyeecheung ?

[2020-11-29 12:51] targos commented on #183
This module is not supposed to be requireable. I don't know yet why the condition at https://github.com/nodejs/node/blob/299984561eff45bddc5bb802e5b22d47277e5ca5/tools/code_cache/cache_builder.cc#L130 is true for it.

[2020-11-29 13:01] targos commented on #183
Okay I found it. It's a side-effect of the gyp fix.

[2020-11-29 13:29] targos commented on #183
I'm closing this. We can continue to track other Windows errors in https://github.com/nodejs/node/pull/36139

[2020-11-29 13:29] #183 closed

[2020-12-22 19:26] vsemozhetbyt opened #186 "No builds for two weeks"
The last build: https://nodejs.org/download/v8-canary/v16.0.0-v8-canary20201208b712dd932f/ as of 08-Dec-2020.

[2020-12-24 13:58] ryzokuken commented on #186
I tried to fix and push a couple of days ago, but it's still broken. Let me investigate.

[2020-12-26 12:36] targos commented on #186
I pushed a fix. Running CI: https://ci.nodejs.org/view/MyJobs/job/node-update-v8-canary/1595

[2020-12-26 13:58] #186 closed

[2021-01-12 07:39] #182 closed

[2021-01-12 07:40] targos commented on #182
Let's discuss in https://github.com/nodejs/node/issues/36875

[2021-01-22 11:42] Tarnadas opened #187 "WebAssembly Reference Types not functional"
- **Version**: 15.4.0
- **Platform**: Microsoft Windows [Version 10.0.19041.630]
- **Subsystem**: Debian GNU/Linux 10 (buster) - 10.7

Related ticket in the wasm-bindgen repository:
https://github.com/rustwasm/wasm-bindgen/issues/2274

With the latest Nodejs release and also with other Nodejs versions with updated v8 releases from these branches:
https://github.com/targos/node/tree/v8-88
https://g

[2021-01-27 18:08] nolanmar511 opened #188 ""ReferenceError: WebAssembly is not defined" with latest (Jan 26) V8 canary build."
* **Version**: v16.0.0-v8-canary20210126cca63d5c10 (this issue does not occur with v16.0.0-v8-canary20210125331aeb02a3)
* **Platform**: 5.7.17-1rodete4-amd64 #1 SMP Debian 5.7.17-1rodete4 (2020-10-01) x86_64 GNU/Linux
* **Subsystem**: not sure

### What steps will reproduce the bug?
Compiling and running our [typescript benchmark](https://github.com/google/pprof-nodejs/blob/master/system-test/busy

[2021-01-28 16:16] nolanmar511 commented on #188
Wanted to note that this error persists with v16.0.0-v8-canary202101289af183895a.

Is this type of error now expected?

[2021-01-28 16:32] targos commented on #188
I'd say it's not expected, because Chrome Canary doesn't have a problem with WebAssembly as far as I can tell.
I'll check if we need to change something in our build config. There were many commits related to wasm in the last few days: https://github.com/v8/v8/commits/master

[2021-01-28 16:55] targos commented on #188
Okay, I found it: https://github.com/v8/v8/commit/27771482715

WebAssembly is now disabled by default in V8. I'm updating the configuration...

[2021-01-28 17:42] devsnek commented on #188
fwiw its enabled by default (`v8_enable_webassembly = true`)

[2021-01-29 11:43] targos commented on #188
@nolanmar511 can you check today's build?
https://nodejs.org/download/v8-canary/v16.0.0-v8-canary20210129cd2c123f93/

[2021-01-29 15:57] nolanmar511 commented on #188
Thanks!
This error went away with the latest V8 canary build.

[2021-01-29 15:57] #188 closed

[2021-01-30 10:16] targos opened #189 "cctest crash in debug build"
Built locally from https://github.com/nodejs/node/tree/canary-base

[code]

[2021-01-30 10:20] targos commented on #189
I think it fails on the following test: `EnvironmentTest.EnvironmentWithNoESMLoader`

[2021-01-30 11:12] targos commented on #189
Probably related to these deprecations:

[code]

[2021-01-30 13:38] targos commented on #184
Fixed along with other deprecations in https://github.com/nodejs/node/commit/40a88975a58e69c06a23ebe4329cc77862957010

[2021-01-30 13:38] #184 closed

[2021-01-30 13:50] targos opened #190 "Compiler error on Windows"
[code]

[2021-01-30 16:43] targos commented on #189
This is a bug in V8.
Fix: https://chromium-review.googlesource.com/c/v8/v8/+/2661455

[2021-02-06 14:32] vsemozhetbyt opened #192 "node-v8 for Windows seems dead"
Since the inception of the Node.js V8 lkgr binaries project, compiling for Windows has been in very poor shape. If there was an error preventing the creation of binaries, it often took weeks or even months to fix it.

There are no Windows binaries for over three months now.

Obviously, the project lacks people who can care about Node.js canary Windows binaries.

Since Node.js is an OSS project, th

[2021-02-06 14:52] targos commented on #192
I second this. The consequence of Windows being always broken in `node-v8` is that almost every time we lose time fixing multiple issue when V8 is stable, while integrating the update in nodejs/node.

[2021-02-06 15:42] ryzokuken commented on #192
+!

[2021-02-08 21:30] mhdawson commented on #192
@TierneyC, any chance you can try to figure out who in Microsoft might help on this front?

[2021-02-20 10:27] targos commented on #190
Tracked in https://github.com/nodejs/node/pull/37330

[2021-02-20 10:27] #190 closed

[2021-02-20 10:28] targos commented on #189
fixed upstream

[2021-02-20 10:28] #189 closed

[2021-02-20 10:31] targos commented on #187
Node.js does very few modifications to V8. I think it's more likely that this experimental API requires build option to be enabled or some compiler flag.

[2021-02-20 10:32] targos opened #193 "v8::Object::CreationContext is deprecated"
See https://github.com/v8/v8/commit/b38bf5b0b1f149f7af3fd90a2ce12344e7191d03.

The new API returns a `MaybeLocal`. IIUC, it's up to us to handle the case when it's empty (for example throw an error).

[2021-02-20 10:32] targos commented on #193
Here are all the warnings:

[code]

[2021-02-20 10:41] #100 closed

[2021-02-20 14:22] cclauss commented on #100
% flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
[code]
Fixes needed:
[code]

[2021-02-20 14:26] targos commented on #100
@cclauss That's unrelated. This issue was about a patch that we have to float on top of V8 to keep support for junit test output.

[2021-02-23 17:19] Horcrux7 commented on #192
The build is green. Great. Has Microsoft help with it?

[2021-02-25 16:02] targos opened #194 "compilation error on SmartOS"
The latest canary fails to build on SmartOS.

Error:

[code]

@nodejs/platform-smartos could you please look into upstreaming a fix?

[2021-02-26 21:31] cjihrig commented on #194
@targos can you cherry-pick https://github.com/cjihrig/node-v8/commit/98c618064cde164513616787b7a0e140576d6920. Since V8 has removed argument adapters, I don't think there is anything to upstream.

Here is a CI run: https://ci.nodejs.org/job/node-test-commit/44687/. At the time of writing, the CI hasn't finished yet, but the SmartOS run is green, and I don't think any other platforms depend on thi

[2021-02-28 09:55] targos commented on #194
Thanks @cjihrig! Cherry-picked to `canary-base`

[2021-02-28 09:55] #194 closed

[2021-02-28 15:39] targos commented on #193
@addaleax what do you think we should do?

[2021-02-28 15:45] devsnek commented on #193
For our purposes `GetCreationContext().ToLocalChecked()` should be fine. Inside V8 `GetCreationContext().ToHandleChecked()` is used a lot too.

[2021-02-28 17:06] targos commented on #193
Okay, I did that in https://github.com/nodejs/node/commit/5db39aca4e6c9b6b4e51c6fe9ff0afd459de209d

[2021-02-28 17:06] #193 closed

[2021-03-04 20:47] vsemozhetbyt commented on #192
V8 releases will be more frequent soon: https://v8.dev/blog/faster-releases

[2021-03-30 12:48] targos opened #196 "Compilation error on IBM platforms"
See
https://ci.nodejs.org/job/node-test-commit-plinux/38291/nodes=centos7-ppcle/console
https://ci.nodejs.org/job/node-test-commit-aix/35905/nodes=aix71-ppc64/console
https://ci.nodejs.org/job/node-test-commit-aix/35905/nodes=aix72-ppc64/console
https://ci.nodejs.org/job/node-test-commit-linuxone/26383/nodes=rhel7-s390x/console
https://ci.nodejs.org/job/node-test-commit-v8-linux/3881/nodes=rhel7-s

[2021-03-30 12:55] miladfarca commented on #196
This CL (will be landing soon) will fix this compilation issue:
https://chromium-review.googlesource.com/c/v8/v8/+/2787196

[2021-03-30 18:33] targos commented on #196
Thanks!

[2021-03-30 18:33] #196 closed

[2021-03-31 13:03] targos opened #197 "Abort on uncaught exception broken on Windows?"
See https://ci.nodejs.org/job/node-test-binary-windows-js-suites/9097/#showFailuresLink

Example failure:
[code]

[2021-03-31 15:29] targos opened #198 "test-linux-perf failing consistently"
I dont know when it started, but I think it's been failing every day for some time.
https://ci.nodejs.org/job/node-test-commit-v8-linux/3885/nodes=benchmark-ubuntu1604-intel-64,v8test=v8test/console

[code]

/cc @mmarchini

[2021-03-31 15:29] targos commented on #197
@nodejs/platform-windows

[2021-04-10 08:35] vsemozhetbyt commented on #192
The first 9.2 canary lacks many binaries including Windows:

https://direct.nodejs.org/download/v8-canary/v16.0.0-v8-canary20210409f3b7ac1e00/

[2021-04-11 06:34] targos commented on #192
I fixed the macOS build with https://github.com/nodejs/node/commit/133c583e8a503bc752265132deb8a63e162aec76.
Testing on Windows now.

[2021-04-11 09:15] targos commented on #169
This is live: https://github.com/nodejs/node-v8/actions/runs/737865140

[2021-04-11 09:15] #169 closed

[2021-04-11 10:50] targos commented on #192
Well, I don't know how to fix it on Windows.

Here are the errors:

[code]

[2021-04-13 06:23] targos commented on #192
Trying to disable system instrumentation for now (it was just enabled in V8): https://github.com/nodejs/node/commit/e7da31c73c1554a0683e9e71abc66308bb3be09e

[2021-04-14 09:43] targos commented on #192
We cannot disable it. The macro must be defined on macOS and Windows.

[2021-04-14 09:44] targos commented on #192
/cc @sartang who seems to have written `system-jit-win.cc`. Is there something obvious that we are missing in order to compile this file successfully with MSVC?

[2021-04-14 20:14] sartang commented on #192
Nothing obvious to me. Can you point me to how to build node w/ v8 so that I can look into this?

[2021-04-14 20:20] sartang commented on #192
Specifically, is there a way for me to build node and have it point to my local version of v8?

[2021-04-15 06:21] targos commented on #192
[code]

Depending on when you do this, it will build with V8 lkgr from today or yesterday (there's an automated update of the canary branch every day).

I'm not sure it's feasible. We check in V8 in the `deps/v8` directory.

[2021-04-16 00:44] sartang commented on #192
OK the quick fix is to add `#define VOID void` before the `#include <Windows.h>`. I started a CL here: https://chromium-review.googlesource.com/c/v8/v8/+/2830550.

Meanwhile, I'll contact the team responsible for Windows.h to find out what the real fix should be.

[2021-04-20 19:07] nolanmar511 opened #199 "Linux-64x builds missing from V8 canary on Apr. 20, 2021"
* Version: V8 canary from Apr 20, 2021
* Platform: Linux x64

I tried to download the latest version of V8 canary and got an error:
[code]

Looking at https://nodejs.org/download/v8-canary/v16.0.0-v8-canary202104208a052c0458/, I see that the files ending with "-linux-x64.tar.xz" and "-linux-x64.tar.gz" are not available for the latest v8 canary build, but were available for the [previous version](

[2021-04-21 06:18] targos commented on #199
There were issues with the release CI yesterday. Maybe that's related. Let's wait for today's build to see if it comes back.

[2021-04-21 13:10] targos commented on #199
Today's build is good: https://nodejs.org/download/v8-canary/v17.0.0-v8-canary20210421b1738c9237/

[2021-04-21 14:29] nolanmar511 commented on #199
Thanks so much!

[2021-04-21 15:13] targos opened #200 "Breaking? change for trace events in V8 9.2"
It looks like V8 changed some of the trace events it generates. This makes our `test-trace-events-v8` and `test-trace-events-all` tests fail.

In [`the tests`](https://github.com/nodejs/node/blob/87805375645f7af36fce2e59289559f746a7131d/test/parallel/test-trace-events-v8.js#L32), we verify that an event with the name `'V8.ScriptCompiler'` is emitted. With V8 9.2, this is no longer the case. I coul

[2021-04-21 15:29] targos commented on #200
I pushed https://github.com/nodejs/node/commit/614efb1bc2042725f847d4161cf8ae126483a7af to fix canary in the mean time.

[2021-04-21 15:32] jasnell commented on #200
Trace events in node are still considered experimental so aren't covered by semver.

[2021-04-21 15:40] targos commented on #200
Thanks, then I'll close this issue 👍🏻

[2021-04-21 15:40] #200 closed

[2021-04-24 08:44] targos commented on #197
Moving discussion to https://github.com/nodejs/node/pull/38273#issuecomment-826059171

[2021-04-24 08:44] #197 closed

[2021-04-24 09:37] targos commented on #198
Discussion moved to https://github.com/nodejs/node/pull/38273#issuecomment-826065301

[2021-04-24 09:37] #198 closed

[2021-04-26 11:54] targos opened #201 "v8::ApiObject is deprecated"
See https://github.com/nodejs/node-v8/runs/2435871022

/cc @devsnek

[2021-04-26 12:41] devsnek commented on #201
@targos you should be able to just `s/v8::ApiObject/v8::Value*/`

[2021-04-26 13:32] targos commented on #201
Thanks. Fixed in https://github.com/nodejs/node/commit/c84239c7917c1f7b34c22332121ed79658d40f2f

[2021-04-26 13:32] #201 closed

[2021-04-27 01:12] devsnek commented on #201
@targos i think you need to change `Object* v8_object = reinterpret_cast<Object*>(&value);` to `Object* v8_object = reinterpret_cast<Object*>(value);`

[2021-04-27 06:32] targos commented on #201
@devsnek that looks right, but all tests passed with the wrong code. do we have no test for these fast calls?

[2021-04-27 10:36] devsnek commented on #201
@targos I'm not sure that we do. you have to run with --turbo-fast-api-calls

[2021-04-27 11:31] targos commented on #201
Confirmed that it crashed without the additional change 👍🏻

[2021-04-28 07:13] targos opened #202 "Breaking change in V8 fast API calls"
https://github.com/nodejs/node-v8/runs/2455211490?check_suite_focus=true

[code]

/cc @devsnek

[2021-04-29 12:01] targos commented on #202
Actually I suspect this comes from V8 triggering its own deprecation. I don't know how they don't have that issue upstream, but I'll try to remove the DEPRECATE_SOON (like https://github.com/nodejs/node-v8/commit/03a7b87be8d61324632666720aec91ed96c1a1c6)

[2021-04-30 09:14] targos commented on #202
I think it's https://github.com/v8/v8/commit/10c137a2d82ca5df40c5fd6843875be95eae76fb. fixed with:

[code]

@MayaLekova is it expected? The documentation comments still says to use `v8::Value*`.

[2021-04-30 09:14] #202 closed

[2021-05-04 07:00] MayaLekova commented on #202
Indeed `Local<Value>` should be the correct usage and I didn't update the documentation accordingly, sorry about that. I wonder why our Node.js bots didn't complain about this change though. Thanks for tackling it!

[2021-06-11 13:54] Tarnadas commented on #187
It seems like the issue came from `wasm-bindgen` and it is now fixed.

[2021-06-11 13:54] #187 closed

[2021-07-17 10:38] targos commented on #192
@vsemozhetbyt I think node-v8 for Windows is quite stable now. Would you like to keep this open?

[2021-07-17 12:39] vsemozhetbyt commented on #192
Thank you! Let's hope for the best)

[2021-07-17 12:39] #192 closed

[2021-07-29 23:54] vsemozhetbyt opened #204 "No builds last 10 days"
The last build:

https://direct.nodejs.org/download/v8-canary/v17.0.0-v8-canary202107193e60047e23/

[2021-07-29 23:59] richardlau commented on #204
Looks like the actions workflow to [update the canary branch](https://github.com/nodejs/node-v8/actions/workflows/update-canary.yml) is broken.
e.g. https://github.com/nodejs/node-v8/runs/3188937642?check_suite_focus=true#step:2:11
[code]

[2021-07-30 06:23] targos commented on #204
The token was just restored. Releases will probably still fail, though. There is something to adapt in the gyp files that I did not have time to do yet. Anyone feel free to give it a try!

[2021-07-30 07:31] targos commented on #204
Here are today's logs: https://github.com/nodejs/node-v8/runs/3199118166?check_suite_focus=true

[2021-08-01 12:02] targos commented on #204
It should be fixed now: https://github.com/nodejs/node-v8/actions/runs/1087122489

[2021-08-02 13:39] vsemozhetbyt commented on #204
Thank you!

[2021-08-02 13:39] #204 closed

[2021-08-08 10:13] targos opened #205 "Build failures in release CI"
Example: https://ci-release.nodejs.org/job/iojs+release/7087/nodes=centos7-release-sources/console

[code]

What's surprising is that there are no issues in GitHub CI: https://github.com/nodejs/node-v8/runs/3272616604#step:5:3023

[2021-08-08 10:46] richardlau commented on #205
I’m fairly certain the default GitHub runner is on a newer gcc/g++ (9?).

[2021-08-08 11:10] targos commented on #205
@miladfarca already asked about it :)
https://chromium-review.googlesource.com/c/v8/v8/+/3073740/comments/6d0ecd94_f41d56f2

[2021-08-08 13:14] miladfarca commented on #205
Waiting for a review on this CL: https://chromium-review.googlesource.com/c/v8/v8/+/3076883.

[2021-08-10 01:59] miladfarca commented on #205
This CL has now landed and V8 is compiling successfully. https://chromium-review.googlesource.com/c/v8/v8/+/3074469/

[2021-08-10 06:17] targos opened #206 "Build failure on 32bit Windows"
https://ci-release.nodejs.org/job/iojs+release/7090/nodes=vs2019-x86/console

[code]

Refs: https://docs.microsoft.com/en-us/cpp/intrinsics/readfsbyte-readfsdword-readfsqword-readfsword?view=msvc-160

[2021-08-10 11:55] targos commented on #205
Confirmed in today's build. Thanks!

[2021-08-10 11:55] #205 closed

[2021-08-10 15:19] targos commented on #206
Actually the real error is probably this one that appears earlier:

[code]

[2021-08-10 16:43] targos commented on #206
Probable cause:

https://github.com/v8/v8/blob/fc6b999e62d9f75656ad27b267c83d3daff722ac/src/base/platform/platform.h#L44-L52

Added in https://github.com/v8/v8/commit/fb9e129964cf89d7de13cd8f2a7bcaf6573fb8da

[2021-08-11 10:16] targos commented on #206
I asked for clarification: https://chromium-review.googlesource.com/c/v8/v8/+/3042215/comments/41d007ce_5afb926b

[2021-08-12 06:10] targos commented on #206
https://chromium-review.googlesource.com/c/v8/v8/+/3086457

[2021-08-12 17:16] targos commented on #206
Fix landed upstream

[2021-08-12 17:16] #206 closed

[2021-09-07 09:27] targos opened #207 "Build error on Windows"
[code]

https://github.com/nodejs/node-v8/runs/3531095572?check_suite_focus=true

[2021-09-07 09:46] targos commented on #207
[code]

https://ci.nodejs.org/job/node-compile-windows-debug/9405/nodes=win-vs2019/console

[2021-09-07 10:14] DerekNonGeneric commented on #207
Yeah, pretty sure that this is preventing green CI for everyone at the moment&hellip; I do not know what needs to be done to fix it, but it is annoying (let me know if there is anything I can do &mdash; fortunately I have a Windows Machine w/ active licenses that were provided to me by my school.)

[2021-09-07 10:17] targos commented on #207
This is only with V8 canary. It has no impact on CI for `nodejs/node`.

[2021-09-07 10:22] targos opened #208 "Build error on FreeBSD and macOS"
[code]

https://ci.nodejs.org/job/node-test-commit-freebsd/41159/nodes=freebsd11-x64/console

[2021-09-07 10:44] targos commented on #208
Same error on macOS:

[code]

https://ci.nodejs.org/job/node-test-commit-osx/42034/nodes=osx1014/console

[2021-09-07 10:45] DerekNonGeneric commented on #207
Ah, we are having Windows problems in core too then (the screenshot below was taken from https://github.com/nodejs/node/pull/39958). Perhaps that already got taken care of, but if you get the chance, it would be nice to look into that if possible.

Not sure what I can do on my end to help w/ that though (lemme know if anything).

![image](https://user-images.githubusercontent.com/17770407/13233160

[2021-09-07 14:18] targos opened #209 "test-v8-stats crash in debug mode"
[code]

https://ci.nodejs.org/job/node-test-commit-linux-containered/28577/nodes=ubuntu1804_sharedlibs_debug_x64/testReport/junit/(root)/test/parallel_test_v8_stats/

[2021-09-21 06:23] targos opened #211 "Port absl config to gyp"
https://github.com/nodejs/node-v8/actions/runs/1256415634

[code]

[2021-09-21 19:33] targos commented on #211
This is an external dep to V8 that we'll have to pull.
Main BUILD.gn: https://chromium.googlesource.com/chromium/src/third_party/abseil-cpp/+/refs/heads/main/BUILD.gn

I probably won't have time to work on this in the near future.

[2021-09-21 19:34] targos commented on #211
I disabled the canary update GitHub action. It won't work until this is done.

[2021-09-21 22:12] richardlau commented on #211
Is this likely to block V8 9.5 for Node.js 17?

[2021-09-22 04:52] targos commented on #211
No, this is blocking V8 9.6

[2021-09-22 12:02] targos commented on #207
Moving to https://github.com/nodejs/node/pull/40178

[2021-09-22 12:02] #207 closed

[2021-09-22 14:37] #208 closed

[2021-09-22 14:39] targos commented on #209
https://github.com/nodejs/node/pull/40178

[2021-09-22 14:39] #209 closed

[2021-09-24 14:29] richardlau commented on #211
I've opened node-core-utils PR to add abseil to the fetched V8 dependencies on V8 updates: https://github.com/nodejs/node-core-utils/pull/565

[2021-09-24 18:02] richardlau commented on #211
FWIW this particular use was reverted in https://github.com/v8/v8/commit/d67f06067200f2c9acef422dbce0b3d732148afe

[2021-09-25 08:04] targos commented on #211
Right. It re-enabled the job as it seems V8 doesn't use `absl` anywhere after this revert.

[2021-10-25 13:25] targos opened #213 "Test crashes with dynamic import"
See full logs in https://gist.github.com/targos/d0cd175ad1727025f6efeb6fbb97b34b

Example:

[code]

[2021-10-28 15:59] targos opened #214 "CompileFunctionInContext is deprecated"
[code]

See https://source.chromium.org/chromium/_/chromium/v8/v8.git/+/78387ca75dc95e39118805fa72e52aea12a37a66

It's not trivial to migrate, because `script_or_module_out` isn't exposed anymore but we use it.

[2021-10-31 11:35] targos commented on #214
@nodejs/v8 do you have any suggestions on how we could migrate to the new API?

[2021-11-02 08:32] hashseed commented on #214
There is a newly introduced `[CompileFunction](https://source.chromium.org/chromium/chromium/src/+/main:v8/include/v8-script.h;l=699;bpv=1;bpt=1?q=compilefunctionincontext&ss=chromium)` which should do the same.

[2021-11-02 08:34] hashseed commented on #214
@camillobruni

[2021-11-02 08:46] camillobruni commented on #214
This is the first part of a multistage fix to get around the implementation issues with [host-defined options](https://crbug.com/1244145) :(.
- CompileFunctionInContext works for now for now (minus the deprecation):
  - It creates temporary ScriptOrModule objects (slow, but backwards compatible)
  - It references the temporary ScriptOrModule objects from the Script if the v8_scriptormodule_legacy_

[2021-11-02 08:47] camillobruni commented on #214
For the time being I could un-deprecate CompileFunctionInContext (since I've updated V8 + blink already). WDYT?

[2021-11-02 08:54] hashseed commented on #214
Deprecation warning in Node.js is not a dealbreaker imo. Maybe you can
explain the plans on the github thread and point out how to fix it in
Node.js?

Cheers,

Yang

On Tue, Nov 2, 2021 at 9:47 AM Camillo Bruni ***@***.***>
wrote:

[2021-11-02 14:40] devsnek commented on #214
I think as long as this is out before CompileFunctionInContext is removed we can keep using it deprecated for now.

It sounds like we should enable `v8_scriptormodule_legacy_lifetime` though.

[2021-11-02 14:46] camillobruni commented on #214
I plan to only remove `CompileFunctionInContext` once the complete API migration is complete.

[2021-11-05 09:16] targos commented on #214
@camillobruni I think this is the source of the errors in https://github.com/nodejs/node-v8/issues/213.

I'm wondering why your Node.js integration tests don't catch them.

[2021-11-05 09:27] camillobruni commented on #214
So far we don't have a bot that fails with deprecation warnings (based on your comment we're likely adding a compile-only bot with deprecation warnings on).

In general we don't really have the capacity to fix node full time, but in this case communication might have not been ideal. We try to limit API churn for as much as possible, but there is quite some work ahead to make modules work properly

[2021-11-05 10:01] targos commented on #213
Fixed in http://github.com/nodejs/node/commit/4b5fd9a916e2cb3119be7cfdff847ad4c95384a2

[2021-11-05 10:01] #213 closed

[2021-11-05 10:01] targos commented on #214
Sorry, I missed @devsnek's comment. The solution to #213 was to enable `v8_scriptormodule_legacy_lifetime`.

[2021-11-17 10:23] targos commented on #111
This is tracked in https://github.com/nodejs/node-v8/issues/214 now.

[2021-11-17 10:23] #111 closed

[2021-12-01 00:50] amchiclet opened #216 "Error during npm install after installing canary"
We found some errors while using node-v8 canary.

I've been able to narrow down the steps to reproduce below.

[code]

Let me know if more information is needed or if this is actually a bug against something upstream.

Thank you!

[2021-12-01 01:02] richardlau commented on #216
It has been reported upstream https://bugs.chromium.org/p/v8/issues/detail?id=12421
(It came up in Node.js tests https://github.com/nodejs/node/pull/40907#issuecomment-975548270.)

[2021-12-01 01:06] amchiclet commented on #216
Ah, thanks so much for the links.

[2022-01-18 14:09] targos opened #217 "Build issue with inspector protocol"
https://github.com/nodejs/node-v8/runs/4849367189?check_suite_focus=true

[code]

It seems that the `path` property is added from the build file: https://chromium.googlesource.com/v8/v8.git/+/refs/heads/main/src/inspector/BUILD.gn#51

Introduced in https://chromium.googlesource.com/v8/v8.git/+/db77f7fb4acbc7d75fbacbcaed8ded4e36be457f

[2022-01-29 21:25] vsemozhetbyt commented on #217
Is this the cause of no canary binaries since [10-Jan-2022](https://direct.nodejs.org/download/v8-canary/v18.0.0-v8-canary20220110228ddfd331/)?

[2022-01-29 22:12] targos commented on #217
Probably.

[2022-02-18 08:40] codebytere opened #218 "GC crash in Environment::NearHeapLimitCallback with latest V8"
After the CLs linked in this crbug: https://bugs.chromium.org/p/v8/issues/detail?id=12503

In `test/parallel/test-heapsnapshot-near-heap-limit-worker.js`

crashes with the following stacktrace:

<details>
<summary>stacktrace</summary>

[code]

</details>

I haven't yet had time to dig into the root cause but it seems that as of now the call to `heap::WriteSnapshot(env->isolate(), filename.c_str())

[2022-02-23 15:19] codebytere opened #219 "Latest V8 causing failure in `test-worker-debug`"
A recent set of V8 commits is causing a failure in `test-worker-debug` here: https://github.com/nodejs/node/blob/master/test/parallel/test-worker-debug.js#L109

owing to this CL: https://chromium-review.googlesource.com/c/v8/v8/+/3345001

which we caught in Electron's latest Chromium update.

I assume the best way forward here is just to remove the assertion, but if there's anything else needed he

[2022-02-23 15:25] targos commented on #219
fwiw that's what the V8 team did in https://github.com/v8/node/pull/135/files

[2022-02-23 15:29] codebytere commented on #219
ah cool - thanks!

[2022-02-24 06:52] targos commented on #217
I don't know how to handle this correctly on our side, so I'm going to float a patch that adds the field back to inspector_protocol_config.json.

[2022-02-24 13:51] targos commented on #217
Actually, I found the solution in the [Bazel file](https://github.com/v8/v8/blob/266f41aa24958b7f65e5c0a57c3b96dfa77e7ce6/BUILD.bazel#L3245) 🎉
This can easily be done similarly in inspector.gypi: https://github.com/nodejs/node/commit/bcec01e5cca200e7ab2c0ddc10dc189d3be1b414

[2022-02-24 13:51] #217 closed

[2022-02-25 08:05] targos commented on #219
I push https://github.com/nodejs/node/commit/4638589b3cd288848ef24dbae0536a1b129adfe0 to canary-base. Thanks for the heads-up!

[2022-02-25 08:05] #219 closed

[2022-02-25 11:09] targos opened #220 "Review state of canary in CI"
I finally found the time to update and fix canary, at least for my system (macOS, arm64)

Latest commit: https://github.com/nodejs/node-v8/commit/0a3560bb04ac90336e2e798a8b87969cac5d12f9
CI: https://ci.nodejs.org/job/node-test-commit/52045/

[2022-02-25 12:59] targos commented on #220
[node-test-commit-osx-arm](https://ci.nodejs.org/job/node-test-commit-osx-arm/4675/) is green 😇

[2022-02-25 13:10] codebytere commented on #218
@targos any potential thoughts on the above?

[2022-02-25 13:20] targos commented on #216
this is fixed now

[2022-02-25 13:20] #216 closed

[2022-02-25 13:22] targos commented on #218
I'm not able to reproduce with the latest canary.

[2022-02-25 13:29] targos commented on #220
A lot of failures are:

[code]

Any idea?

[2022-02-25 13:34] richardlau commented on #220
A missing include? I think the memory mapped stuff is in `sys/mman.h` on Linux.

[2022-02-25 14:12] targos commented on #220
Seems right: https://man7.org/linux/man-pages/man2/memfd_create.2.html

The problem is that the include is already there:

https://github.com/nodejs/node-v8/blob/0a3560bb04ac90336e2e798a8b87969cac5d12f9/deps/v8/src/base/platform/platform-posix.cc#L18

[2022-02-25 15:02] richardlau commented on #220
The linked man page also has
[code]
before the include, which doesn't appear to be in either the `deps/v8/src/base/platform/platform-posix.cc` file or the failing command line.

[2022-02-25 15:07] targos commented on #220
V8 added the call in https://github.com/v8/v8/commit/7b2b3afa8be2b08eeecc533791c081b45796bf4d
It doesn't seem like they needed to do anything to make it work.

[2022-02-25 15:12] targos commented on #220
The weird thing is that most linux hosts compiled without errors: https://ci.nodejs.org/job/node-test-commit-linux/44849/

[2022-02-25 15:44] richardlau commented on #220
It looks like most (all?) the failures of that type are centos 7/RHEL 7. I'm wondering if it's linked to the glibc version as there are  other passing platforms using gcc 8.

FWIW I'm currently setting up RHEL 8 s390x machines and kicked off a canary build in the job I've been using to test them and it looks like the rhel8 machine is building this where the rhel7 one failed.

[2022-02-25 16:26] richardlau commented on #220
From https://man7.org/linux/man-pages/man2/memfd_create.2.html#VERSIONS:

CentOS 7/RHEL 7 is old (first released in 2014) and has glibc 2.17 [1]. The good news there is that we are planning to move building binaries for Node.js 18 onwards from CentOS 7 to RHEL 8 (https://github.com/nodejs/build/issues/2815, https://github.com/nodejs/build/issues/2741) so this may resolve itself over the next few w

[2022-02-25 18:09] targos commented on #220
Does it mean we have to increase the minimum glibc for v18.0.0?

[2022-02-25 18:14] targos commented on #220
@nodejs/v8 does Chromium document somewhere the minimum required versions of the Linux kernel and glibc?

[2022-02-25 19:12] richardlau commented on #220
Yes, for the running the release binaries at least we'll need to raise the minimum glibc to 2.28 (as that is what is used by RHEL 8). It may be possible to still build against glibc versions earlier than that, but it looks like you'd need to be on at least 2.27 if the change on canary lands, according to the documentation.

[2022-02-28 09:47] bnoordhuis commented on #220
Apropos that memfd_create error, that's in a function that's only used for testing. If you really wanted to keep compatibility with old kernels, you could float a patch that changes it to:
[code]

[2022-03-01 08:16] targos commented on #220
@bnoordhuis good point.

I added the following patch: https://github.com/nodejs/node/commit/72f0932d692936e0414ee850efff95ca56f1f0dc
Hope that makes sense.

[2022-03-01 11:09] bnoordhuis commented on #220
@targos Compile-time feature checking means the binary won't run on older systems when it's compiled on a newer system. There are ways around that but I wouldn't bother in this particular case and just stub it out.

[2022-03-01 11:36] targos commented on #220
https://github.com/nodejs/node/commit/ec77f2d278c45bae9dc55c2654ff971b44358592

[2022-03-04 00:45] IxaRyo opened #221 "We stand with the people of Afghanistan. fuck you american"
![image](https://user-images.githubusercontent.com/18397480/156677682-4fa15648-7f3c-424e-81f6-bbf88de068e6.png)

[2022-03-04 00:53] #221 closed

[2022-03-17 06:15] targos commented on #220
It looks like they didn't intend to bump glibc requirements: https://github.com/v8/v8/commit/4e81f2584ee15cd6300e180585c26f16616210f3
I removed my floating patch from canary.

[2022-04-06 05:50] joyeecheung commented on #218
FYI I opened a separate bug in V8 for this near-heap-limit

[2022-04-10 10:20] #220 closed

[2022-04-12 11:52] joyeecheung commented on #218
Should be fixed by https://chromium-review.googlesource.com/c/v8/v8/+/3575468

[2022-04-12 11:52] #218 closed

[2022-04-20 09:22] vsemozhetbyt opened #222 "No canary builds during a month"
The last build is https://direct.nodejs.org/download/v8-canary/v18.0.0-v8-canary20220323849445f546/

[2022-04-20 09:25] targos commented on #222
I don't know why there's nothing in the `v8-canary` folder. Release builds are green. For example yesterday:
https://ci-release.nodejs.org/job/iojs+release/8404/
![image](https://user-images.githubusercontent.com/2352663/164196682-667f4c0b-5d23-48fd-92ac-79b5a1eda5cf.png)

@nodejs/build-infra

[2022-04-20 09:43] targos commented on #222
The files are copied to `custom`. That's probably the cause of the problem.

[code]

[2022-04-20 11:53] richardlau commented on #222
Unlikely, that has always been the case -- the builds are staged in `custom` and the promotion script is supposed to be copying the files to `v8-canary` based on the directory name: https://github.com/nodejs/build/blob/5e2ae08283c75eff51de04635883446dce23ad8b/ansible/www-standalone/tools/promote/settings#L16-L18

Given the timings, I think what may have happened is that the test build I was runnin

[2022-04-20 12:15] richardlau commented on #222
Running the promotion script as the `dist` user appears to back up that theory -- `v18.0.0-test202202249be1dcff34` was the identifier for the test builds I ran:
[code]

I suspect I've run into https://github.com/nodejs/build/pull/2020 where the destination dist directory intentionally had its permissions changed and I was running builds with the same identifier over more than a five day period. I

[2022-04-20 12:21] richardlau commented on #222
Looks promising:
[code]

[2022-04-20 12:37] richardlau commented on #222
The missing canary builds are all now available.

[2022-04-20 13:26] vsemozhetbyt commented on #222
Thank you!

[2022-04-20 13:26] #222 closed

[2022-04-26 12:13] targos opened #223 "Review state of canary in CI"
Commit: https://github.com/nodejs/node-v8/commit/ae3407fe49bb571e4e160409d0596bd932e50c16

`node-test-commit`: https://ci.nodejs.org/job/node-test-commit/53135/
`node-test-commit-v8-linux`: https://ci.nodejs.org/job/node-test-commit-v8-linux/4652/

[2022-04-26 12:21] richardlau commented on #223
@targos FYI we'd need to add ICU 71 (the new minimum) to the sharedlib containers for the CI dynamically linked ICU builds to pass.

[2022-04-26 12:24] targos commented on #223
@richardlau that would be in https://github.com/nodejs/build/blob/master/ansible/roles/docker/templates/ubuntu2004_sharedlibs.Dockerfile.j2 ? I can try to make a PR.

[2022-04-26 17:21] richardlau commented on #223
Resumed CI: https://ci.nodejs.org/job/node-test-commit/53143/

[2022-04-30 13:22] targos commented on #223
New run with https://github.com/nodejs/node-v8/commit/0a262a7e4a82e6ca7176af15e3d1afc026be87a4

CI: https://ci.nodejs.org/job/node-test-commit/53237/
V8: https://ci.nodejs.org/job/node-test-commit-v8-linux/4657/

[2022-04-30 15:12] targos commented on #223
On my PC:

[code]

[2022-04-30 15:19] targos commented on #223
Here's the stack. It's the first time I use Visual Studio's debugger, so I hope I did it right:

![image](https://user-images.githubusercontent.com/2352663/166111533-a737076c-8468-4f6c-b0b5-d192f1e27b4a.png)
![image](https://user-images.githubusercontent.com/2352663/166111590-cfb9a2c7-b854-4bf6-9dc3-4c91108966f6.png)

[2022-04-30 15:24] targos commented on #223
I commented on the V8 issue related to TurboShaft: https://bugs.chromium.org/p/v8/issues/detail?id=12783#c2

[2022-05-11 14:26] nornagon opened #224 "some tests failing with recently added v8 DCHECK"
This CL seems to be causing some tests to fail: https://chromium-review.googlesource.com/c/v8/v8/+/3610624

e.g. parallel/test-vm-timeout-escape-promise-2

[code]

cc @targos

[2022-05-14 17:45] targos commented on #223
New run with https://github.com/nodejs/node-v8/commit/99be974dca3f57d2157faa3dc5689878b39c12fc

CI: https://ci.nodejs.org/job/node-test-commit/53477/
V8: https://ci.nodejs.org/job/node-test-commit-v8-linux/4675/

[2022-05-17 02:21] muse117 commented on #103
I have the same problem, how can I solve it?

[2022-05-17 02:50] muse117 opened #225 "Failed to compile on ubuntu16.04 system aarch64 (error: use of deleted function ‘v8::internal::MacroAssembler::MacroAssembler)"
[code]

[2022-05-20 02:41] muse117 commented on #225
The solution I found from this issue was also to modify the register_arm64.h file, but add the CPURegList() constructor.

https://github.com/meta-qt5/meta-qt5/issues/341

[2022-05-20 02:42] #225 closed

[2022-05-24 05:02] targos opened #226 "Canary build crash on M1 mac (node_mksnapshot)"
[code]

/cc @nodejs/v8 @joyeecheung

[2022-05-24 06:45] bnoordhuis commented on #226
It's this check:

https://github.com/nodejs/node/blob/3921b896e55d9beb3921f3dcd9f245e3352f09f9/deps/v8/src/base/platform/platform-posix.cc#L478

And the call comes from here:

https://github.com/nodejs/node/blob/3921b896e55d9beb3921f3dcd9f245e3352f09f9/deps/v8/src/heap/memory-allocator.cc#L407-L415

V8 is shrinking an executable memory mapping and moving down the guard page. My hunch is the M1 won

[2022-05-24 07:21] targos commented on #226
I added a comment to https://chromium-review.googlesource.com/c/v8/v8/+/3610445

[2022-05-31 18:02] codebytere opened #227 "DCHECK crash on `!i_isolate->is_execution_terminating()`"
https://chromium-review.googlesource.com/c/v8/v8/+/3620285

was merged recently and causes a _ton_ of failures in a variety of tests (~50 or so, `parallel/test-worker-esm-exit` as an example):

[code]

I initially attempted to fix by adding in early returns in various places:

[code]

but it ended up being a bit of a whac-a-mole game with new ones appearing with every early return I added so i'm n

[2022-05-31 19:57] camillobruni commented on #227
Sorry for the inconvenience here :/.

I think V8 has been a bit too lenient on this in the past (and it led to a bunch of issues within chrome).
The general idea is really that you don't use V8 anymore after marking it for termination, and I'm aware of how painful it can be to track down those issues.

I think having simple accessors still available would make sense (and it might well be that I to

[2022-06-17 07:38] targos commented on #223
New run with beccf5415167ba8b7dec0398526707460f2491b7

CI: https://ci.nodejs.org/job/node-test-commit/54192/
V8: https://ci.nodejs.org/job/node-test-commit-v8-linux/4734/

[2022-06-17 08:02] targos opened #229 "Build error on osx"
See https://ci.nodejs.org/job/node-test-commit-osx-arm/6086/nodes=osx11/console

[code]

[2022-06-18 07:04] targos commented on #229
Not specific to arm64:

https://ci.nodejs.org/job/node-test-commit-osx/45583/nodes=osx11-x64/console

[code]

[2022-06-19 07:53] targos commented on #223
New run with 6cfbc2ff80b4b03d9e858c37b4eed6349338c878

CI: https://ci.nodejs.org/job/node-test-commit/54276/
V8: https://ci.nodejs.org/job/node-test-commit-v8-linux/4738/

[2022-06-20 12:20] targos commented on #227
Example in CI: https://ci.nodejs.org/job/node-test-commit-arm-debug/2497/nodes=ubuntu1804-arm64/

Problematic code: https://github.com/nodejs/node/blob/6ac55fa337b57cecf36602d0acc3da25ee82a589/src/env-inl.h#L222-L237

/cc @nodejs/async_hooks

[2022-06-20 12:30] targos commented on #229
Created a V8 issue: https://bugs.chromium.org/p/v8/issues/detail?id=12982

[2022-06-20 21:46] Flarna commented on #227
Adding `if (env()->can_call_into_js()) {` around [this code](https://github.com/nodejs/node/blob/6ac55fa337b57cecf36602d0acc3da25ee82a589/src/env-inl.h#L223-L230) solves the async hooks problem but it seems there are other similar places where JS code is called but no longer allowed.

[2022-06-22 07:57] targos opened #230 "Linker error"
https://github.com/nodejs/node-v8/runs/6998213418?check_suite_focus=true

[code]

[2022-06-24 09:59] targos opened #231 "test-hash-seed fails"
https://github.com/nodejs/node-v8/runs/7037723725?check_suite_focus=true

[code]

[2022-06-24 13:21] targos commented on #231
So, it seems that the hash seed cannot be guessed anymore? I don't know who to ping about that @nodejs/v8

[2022-06-24 14:47] camillobruni commented on #231
I don't think we have any guarantee on what hashing function / seeds we use internally in V8.
What's the purpose of this test actually?

[2022-06-24 17:51] targos commented on #231
The test verifies that two Node.js processes do not use the same hash seed.
It's related to this security release: https://nodejs.org/en/blog/vulnerability/july-2017-security-releases/#node-js-specific-security-flaws

[2022-06-25 10:21] bnoordhuis commented on #229
The compiler is Technically Right: V8 is using the wrong type check.

Untested (as in: I didn't even try to compile it) but a fix would look like this:
<details>

[code]

</details>

[2022-06-25 10:43] bnoordhuis commented on #231
I didn't look too deeply into this but that test learns the hash seed by observing insertion time into a Set.

It leans heavily on the observation that `set.has(value)` was an ersatz compiler barrier to V8. If V8 learned to optimize around has() calls, then that probably throws off the timing enough to stop the algorithm from converging.

I was going to suggest starting node with `--noopt` but whe

[2022-06-26 09:11] targos commented on #229
@bnoordhuis thanks, it seems to work on my computer. Could you please upstream it?

[2022-06-26 09:11] targos commented on #226
Can't reproduce anymore.

[2022-06-26 09:11] #226 closed

[2022-06-30 20:00] bnoordhuis commented on #229
@DadaIsCrazy it's on my todo list but there's a bit of a corona outbreak going on in my household right now so I have little hands-on time this week.

[2022-07-01 07:56] DadaIsCrazy commented on #229
@bnoordhuis I'm sorry to hear that. I hope you and your family get well soon!
Don't worry if you don't have time to upload the fix: I'll take care of it next week (middle/end of the week) if you haven't do so yourself ;)

[2022-07-07 10:30] bnoordhuis commented on #229
https://chromium-review.googlesource.com/c/v8/v8/+/3749192

[2022-07-08 06:15] #229 closed

[2022-07-08 09:16] targos commented on #223
New run with https://github.com/nodejs/node-v8/commit/4131f7076d7421d913d679f37130762ac49d8c93

CI: https://ci.nodejs.org/job/node-test-commit/54775/
V8: https://ci.nodejs.org/job/node-test-commit-v8-linux/4761/

[2022-07-08 09:43] targos opened #232 "EXC_BAD_ACCESS on macOS/arm64"
[code]

[2022-07-08 09:43] targos commented on #232
@nodejs/v8

[2022-07-08 09:49] targos commented on #223
Build fails on ppc and s390:

[code]

[code]

@nodejs/platform-ppc @nodejs/platform-s390

[2022-07-08 10:13] targos opened #233 "Linker error on macOS/arm64"
[code]

[2022-07-08 10:15] verwaest commented on #232
This is likely already fixed; the problem there was a missing scope to flip MAP_JIT state from X to W during marking (iiuc). Probably the same here.

[2022-07-08 10:21] targos commented on #232
@verwaest This build is with a V8 commit from this morning: https://github.com/v8/v8/commit/9662376ad91c53e2394548063f5ad5861471c295

[2022-07-08 11:46] bnoordhuis commented on #233
Does this patch fix it?
[code]

[2022-07-08 11:54] targos commented on #233
@bnoordhuis No, it doesn't.

It also triggers a warning:
[code]

[2022-07-08 12:12] bnoordhuis commented on #233
Makes you wonder how it compiles/links at all... Does this work?
[code]

[2022-07-08 14:48] targos commented on #233
It works!

[2022-07-08 16:30] miladfarca commented on #223
This doesn't seem to be a problem with V8 but rather an issue with building `libnode`? i.e `-DV8_TARGET_ARCH_S390X` or `-DV8_TARGET_ARCH_PPC64` is not being passed as a compile time flag to g++.

[2022-07-09 12:07] bnoordhuis commented on #233
https://bugs.chromium.org/p/v8/issues/detail?id=13055
https://chromium-review.googlesource.com/c/v8/v8/+/3749583

[2022-07-11 12:14] targos commented on #231
I'm able to make the test pass again with the following changes:

[code]

Is that acceptable?

[2022-07-11 12:51] BethGriggs commented on #223
Is https://chromium.googlesource.com/v8/v8/+/28b5d299845f6ca289647241badd08844b51bb7c relevant? (Apologies if you've already aware/have seen, I just had a cursory glance and it seems like it could be related.)

[2022-07-11 13:16] targos commented on #232
https://bugs.chromium.org/p/v8/issues/detail?id=13059

[2022-07-11 14:11] targos commented on #223
@BethGriggs I was not aware, thanks! It might be this commit, but I don't see how.

[2022-07-11 14:28] miladfarca commented on #223
How is libnode being built? i.e I can see build of v8 itself is triggered with `make v8`: https://github.com/nodejs/node-v8/blob/f316cfca62048a18fde5a7479af791882598214f/Makefile#L275
Probably has to do with this config: https://github.com/nodejs/node-v8/blob/f316cfca62048a18fde5a7479af791882598214f/node.gyp#L453

[2022-07-11 14:47] richardlau commented on #223
The problem is that https://chromium.googlesource.com/v8/v8/+/28b5d299845f6ca289647241badd08844b51bb7c has moved the arch detection to `v8config.h` which ends up being included by `v8.h` and `node.h`.
[code]

The V8 part (using gn/ninja) of https://ci.nodejs.org/job/node-test-commit-v8-linux/4761/nodes=rhel8-s390x,v8test=v8test/consoleFull succeeded -- it's the Node.js build that is now broken as

[2022-07-11 15:54] richardlau commented on #223
FWIW I'm checking if https://github.com/richardlau/node-v8/commit/85d6c5b502d59342ebf95d16f30317a61f8b200f improves things.
CI: https://ci.nodejs.org/job/node-test-commit-v8-linux/4767/

[2022-07-11 16:41] richardlau commented on #223
@miladfarca suggests that one might be resolved by https://chromium-review.googlesource.com/c/v8/v8/+/3755141.

[2022-07-11 23:33] richardlau commented on #223
https://ci.nodejs.org/job/node-test-commit-v8-linux/4769 is:
- the current canary branch (f316cfca62048a18fde5a7479af791882598214f)
- https://chromium-review.googlesource.com/c/v8/v8/+/3755141 backported (via ncu-ci v8 backport)
- https://github.com/richardlau/node-v8/commit/4bc623fbb9acb93640c9459ecb36041dcf35d546 (to address the architecture/endianness detection on s390x/ppc64 when `V8_TARGET_AR

[2022-07-12 04:52] targos commented on #223
Looks good! Are you able to upstream the patch?

[2022-07-12 13:48] richardlau commented on #223
No, but @miladfarca has on my behalf 🙇‍♂️ : https://chromium-review.googlesource.com/c/v8/v8/+/3757944

[2022-07-12 13:54] targos commented on #231
Done, thank you.

[2022-07-12 13:54] #231 closed

[2022-07-13 08:24] targos commented on #223
Thanks @richardlau / @miladfarca!

New run with 86275668493c71cf807f6cf0f695cd0cec32e862
CI: https://ci.nodejs.org/job/node-test-commit/55006/
V8: https://ci.nodejs.org/job/node-test-commit-v8-linux/4772/

[2022-07-18 13:39] targos commented on #232
Fixed upstream, thank you!

[2022-07-18 13:39] #232 closed

[2022-07-18 13:39] targos commented on #233
Fixed upstream. Thank you!

[2022-07-18 13:39] #233 closed

[2022-07-18 13:40] targos commented on #223
I'll open a new issue for the next round of reviews.

[2022-07-18 13:40] #223 closed

[2022-07-18 13:41] targos commented on #211
Closing as this didn't show up again after almost a year.

[2022-07-18 13:55] targos commented on #224
Is this still an issue? I don't see those tests failing on my machine.

[2022-07-20 12:15] targos opened #234 "Review state of canary in CI"
Commit: d20ed024041c35717f24334aadbb422a3d9e8da3
CI: https://ci.nodejs.org/job/node-test-commit/55212/
V8: https://ci.nodejs.org/job/node-test-commit-v8-linux/4781/

[2022-07-20 12:38] targos opened #235 "Build error on Windows"
https://ci.nodejs.org/job/node-compile-windows-debug/12735/nodes=win-vs2019/console

[code]

[2022-07-20 12:41] targos opened #236 "Lost JUnit support for V8 tests"
We've been floating an old patch for some time (https://github.com/nodejs/node/commit/d8b4a7edaeff573df18d47277cb94553bf6faf39) but unfortunately it doesn't apply anymore since V8 did a big refactor of its test runner.

This breaks V8 CI: https://ci.nodejs.org/job/node-test-commit-v8-linux/4781/

[2022-07-20 12:42] targos commented on #236
@nodejs/python @nodejs/build

[2022-07-20 12:42] targos commented on #235
@nodejs/platform-windows

[2022-07-20 14:33] targos commented on #235
This is actually not specific to debug builds.

[2022-07-20 14:34] targos commented on #234
I fixed the linter issue on `canary-base`.
`test-repl-` issues are https://github.com/nodejs/node/issues/43676
V8 CI issue is https://github.com/nodejs/node-v8/issues/236
`test-vm-break-on-sigint` is new and unclear (timeout)

[2022-07-20 15:31] bnoordhuis commented on #236
It's possible to fix up the patch but it's arguably a better idea to just use the built-in `--json-test-results` flag and transform the JSON file to JUnit, or teach Jenkins the JSON format (possibly harder, I don't know how much harder.)

[2022-07-20 15:46] targos commented on #235
I just created an upstream issue: https://bugs.chromium.org/p/v8/issues/detail?id=13093

[2022-07-20 22:38] nornagon commented on #224
Hm, I'm still seeing failures in Electron: https://app.circleci.com/pipelines/github/electron/electron/55690/workflows/19d3b308-dc54-40c7-a938-e288958fce86/jobs/1269643/steps?invite=true#step-106-10743

[2022-07-25 07:10] kvakil commented on #236
Here's a script which does the JSON -> JUnit conversion:
https://gist.github.com/kvakil/8ed172559f5bc3c8391ec34065682599

It seems to work on all the cases I tried locally (on Linux: passed,
timeout, and failed test cases). One weird thing is that the JSON output
doesn't include all the successful test cases, only the failing ones and
the slowest `slow_tests_cutoff` ones. Of course, you can set
`s

[2022-07-28 18:45] bnoordhuis commented on #236
Seems like a good forward. Can I suggest you PR it to nodejs/node? I don't know how to hook it up to the CI but someone else no doubt does.

One style nit: the project's python style is two space indent, not four.

[2022-07-29 12:20] cclauss commented on #236
Would this make sense to add to https://github.com/nodejs/tap2junit ?
* A question, not a suggestion unless others agree.

[2022-07-30 06:22] kvakil commented on #236
PR is now at https://github.com/nodejs/node/pull/44049 (with your style nit addressed).

I'm not opposed to this. I can't find tap2unit anywhere in the nodejs repo with `git grep tap2junit`. Is it just hanging out in the Jenkins job config somewhere?

[2022-07-30 08:06] cclauss commented on #236
https://github.com/nodejs/tap2junit is a URL that you can click on.

[2022-08-02 13:06] targos commented on #234
Some nightly release builds are red too: https://ci-release.nodejs.org/job/iojs+release/8644/

[2022-08-10 12:05] targos opened #237 "Snapshot test failures"
https://github.com/nodejs/node-v8/runs/7761703491?check_suite_focus=true

/cc @joyeecheung

[2022-08-10 12:05] targos commented on #237
For example, one of the errors:

[code]

[2022-08-10 14:51] joyeecheung commented on #237
Looks like it's caused by an unknown external reference somewhere. I'll try to build it locally to see what the reference is. Do I simply need to build the canary branch from this repo?

[2022-08-10 14:52] targos commented on #237
Yes

[2022-08-10 15:34] mcollina commented on #227
@addaleax @jasnell @Qard, maybe you might want to chime in on this?

[2022-08-10 15:55] addaleax commented on #227
I’m not sure what else to do besides doing this and being consistent about this.

[2022-08-10 16:16] Qard commented on #227
Problem seems to be the perform_stopping_check() lambda in callback.cc Close method. It tries to clean up async_hooks reactively to the env stopping, but at that point it's no longer safe to create the HandleScope for setting the length field on js_execution_async_resources_. If the env is already in shutdown, it should be safe to just skip that though. 🤔

[2022-08-11 14:45] joyeecheung commented on #237
Traced this back to https://chromium-review.googlesource.com/c/v8/v8/+/3776678, which added a v8::External to the V8Console, and this band-aid makes the crash go away

[code]

I'll see if we can do something like what's been done for `v8::Isolate::async_event_delegate` and resolve this within v8

[2022-08-11 22:06] codebytere commented on #227
Alright - i can spin up a PR for that soon then!

[2022-08-15 16:13] joyeecheung commented on #237
After looking into it a bit I think we should simply remove the inspector console methods during serialization because V8 is always going to re-install them when another inspector client is created during deserialization - with a new reference to the new inspector console. I created a commit that works on both the canary branch here and the main branch in the main repo (these methods are renamed i

[2022-08-15 17:39] #214 closed

[2022-08-19 04:57] joyeecheung commented on #237
Opened https://github.com/nodejs/node/pull/44279

[2022-08-19 06:42] targos opened #238 "mksnapshot build error"
https://github.com/nodejs/node-v8/actions/runs/2880276007

/cc @joyeecheung

[code]

[2022-08-19 08:02] joyeecheung commented on #238
Have you tried turning on v8_enable_snapshot_compression? See https://chromium-review.googlesource.com/c/v8/v8/+/3833817

[2022-08-19 08:05] joyeecheung commented on #238
It looks like v8_enable_snapshot_compression is set here, perhaps it needs to add `src/snapshot/snapshot-compression.cc`  and `src/snapshot/snapshot-compression.h` to the sources when the flag is true, like what the CL does

[2022-08-19 08:06] targos commented on #238
OK thanks, I'll have a look at the build config.

[2022-08-19 16:19] targos commented on #238
Relaunched the workflow with https://github.com/nodejs/node/commit/26d26b4e2f537510544dc3b9ebb8fc5ce015763d

https://github.com/nodejs/node-v8/actions/runs/2890757425

[2022-08-19 17:41] targos commented on #238
Fixed!

[2022-08-19 17:41] #238 closed

[2022-08-21 18:53] tony-go commented on #227
Hey 👋

I tried to reproduce the bug, but I struggled a bit as I'm fairly new to the codebase.

I have two questions:
- Should we checkout a specific branch to reproduce it? (like `targos:v8-103`)
- How could we run a single test file like `parallel/test-worker-esm-exit`? The documentation points out `make jstest` but it executes all the tests. Maybe I miss it somewhere?

[2022-08-22 07:54] codebytere commented on #227
@tony-go tests can be run as a rule with just the node executable, so `out/Debug/node /path/to/test/file`. If you do want to use the test runner, you can also just do `python3 tools/test.py test/parallel/test-worker-esm-exit.js`

[2022-08-22 07:55] tony-go commented on #227
Thanks, @codebytere 🙌

Finally found this: https://github.com/nodejs/node/blob/main/BUILDING.md#running-tests

[2022-08-22 08:40] codebytere commented on #227
@Flarna hmm - that's strange since theres a `can_call_into_js()` immediately prior: https://github.com/nodejs/node/blob/6932fb8bac3a4caf3f3fabee0a595a077f477f63/src/api/callback.cc#L103

[2022-08-22 13:07] Qard commented on #227
There's a bunch of places within that function that the state can transition though, which is why it checks it several times. Probably another place it needs a check now or something...it's a complicated bit of code. 😐

[2022-08-28 09:49] Flarna commented on #227
@codebytere It's a while that I had this in my debugger so can't remember in detail. But as far as I remmeber it's as @Qard said the state changes after that check you refer to.

[2022-08-28 10:07] Qard commented on #227
I know the microtask queue bits change it briefly. Forget if there were other cases, but basically these callback scopes can end up nested within each other and that can have some unexpected side effects if not handled carefully.

[2022-08-30 10:01] targos commented on #235
Unfortunately this is still happening...

https://github.com/nodejs/node-v8/runs/8087799918?check_suite_focus=true

[2022-09-07 11:20] #237 closed

[2022-09-07 13:32] targos commented on #234
Commit: 882dcffdfb45e0127ecb0035db67e90c45ab24dc
CI: https://ci.nodejs.org/job/node-test-commit/56245/

[2022-09-08 09:09] targos commented on #234
Commit: edbabbaa4921a590284bafd55171ba45cf7d2315
CI: https://ci.nodejs.org/job/node-test-commit/56266/

[2022-09-08 14:18] targos commented on #234
Some new compiler errors:

fedora:

[code]

smartos:

[code]

[2022-09-09 15:02] targos commented on #234
/cc @nodejs/platform-smartos  ^

[2022-09-15 08:42] targos commented on #234
Commit: ef4184cbd6db1afbab5127577264505c799c8625
CI: https://ci.nodejs.org/job/node-test-commit/56400/
V8: https://ci.nodejs.org/job/node-test-commit-v8-linux/4857/

[2022-09-15 09:18] targos opened #239 "Build error on SmartOS"
https://ci.nodejs.org/job/node-test-commit-smartos/45420/nodes=smartos20-64/console

[code]

@nodejs/platform-smartos

[2022-09-15 09:48] targos opened #240 "Build error on Windows (arm64)"
https://ci.nodejs.org/job/node-compile-windows/46957/nodes=win-vs2019-arm64/console

[code]

[2022-09-15 10:15] bnoordhuis commented on #235
Bit of a long shot but does this help?
[code]
WasmDecoder is a template class. Annotating members with `__declspec(dllexport)` doesn't seem appropriate.

[2022-09-15 11:59] targos commented on #235
Let's try: https://ci.nodejs.org/job/node-test-commit-windows-fanned/50518/
https://github.com/targos/node/commit/ae23865d822f33b75a062cbbe5051da35e9f2511

[2022-09-15 13:36] targos commented on #235
@bnoordhuis looks good (arm64 build failed because of https://github.com/nodejs/node-v8/issues/240)!

[2022-09-15 13:41] bnoordhuis commented on #235
Nice. I'll open a V8 CL tomorrow.

[2022-09-16 07:27] targos commented on #240
The first error is considered "not a bug" by Microsoft. What should we do?

@nodejs/platform-windows-arm

https://developercommunity.visualstudio.com/t/error-c2078-too-many-initializers-when-using-arm-n/402911

[2022-09-16 09:08] pbo-linaro commented on #240
It seems like a workaround was given by Microsoft (using .128_u8).
It it's working, would that be possible to simply add an ifdef for that compiler (vs gcc/clang)?

[2022-09-16 09:13] nsait-linaro commented on #240
We probably should upstream a patch to V8 as well to fix the same issue with MSVC.

[2022-09-16 11:54] targos commented on #240
Yes, please send a patch upstream if possible!

[2022-09-16 11:58] pbo-linaro commented on #240
I'll look at it :)
If we integrate that in v8, can you easily update to latest version (including current trunk)?

[2022-09-16 12:18] targos commented on #240
Yes, the canary branch in this repository is updated automatically every day.

[2022-09-16 13:02] santigimeno commented on #227
This [commit](https://github.com/nodejs/node-v8/commit/8bb7d253d416bb0fb12cb9b6a040559c5a83d437) fixes the issue for me. Should I open a PR in this repo or somewhere else?

[2022-09-16 13:34] bahamat commented on #239
My team will be taking a look at this.

[2022-09-16 13:54] targos commented on #227
@santigimeno you can open a PR on [nodejs/node](https://github.com/nodejs/node/pulls), targeting the [`canary-base`](https://github.com/nodejs/node/tree/canary-base) branch (I just made it have the same HEAD as canary in this repo).

[2022-09-16 14:39] santigimeno commented on #227
Done. Thanks @targos

[2022-09-16 15:36] jperkin commented on #239
Hi @targos, I'm struggling to find where this is coming from - GitHub search across the entire nodejs and v8 organisations show no code matches for `malloc_usable_size()`.  It's not something we have in SmartOS, and many other platforms don't have it either, so the fix should be pretty straight-forward, I just can't figure out where it's actually being used.

I'd be more than happy to submit a fix

[2022-09-16 16:03] targos commented on #239
In the V8 repo: https://github.com/v8/v8/blob/50504b168d2c364d49e3332cbd934dc60a4bfad8/src/base/platform/memory.h#L117-L118

Introduced by https://chromium-review.googlesource.com/c/v8/v8/+/3858226

In this repo (canary is updated every day so the commit is ephemeral): https://github.com/nodejs/node-v8/blob/4e97ad7ae1c6d4639f227094f3270de44214c4f1/deps/v8/src/base/platform/memory.h#L117-L118

[2022-09-16 16:56] jperkin commented on #239
Ah, ok, thanks!  Looks like GitHub search just completely doesn't work.

The fix looks straight-forward (add `V8_OS_SOLARIS` to the exclusion list for `V8_HAS_MALLOC_USABLE_SIZE` on line 26, similar to AIX) but I assume I'll need to get this through the v8 contribution process first.

[2022-09-20 10:03] targos commented on #235
@bnoordhuis can you please post a link to the V8 CL here?

[2022-09-20 14:18] pbo-linaro commented on #235
Just a thought, but this *might* be related to nodejs build system layer (gyp).

V8_EXPORT_PRIVATE is defined [here](https://github.com/nodejs/node/blob/4e97ad7ae1c6d4639f227094f3270de44214c4f1/deps/v8/src/base/macros.h#L390) following other macros:
[code]

Those macros are set in [tools/v8_gypfiles/v8.gyp](https://github.com/nodejs/node/blob/4e97ad7ae1c6d4639f227094f3270de44214c4f1/tools/v8_gypfi

[2022-09-21 13:35] #227 closed

[2022-09-22 12:51] targos commented on #235
@pbo-linaro would you be able to identify exactly where the wrong macro is set?

[2022-09-22 12:54] pbo-linaro commented on #235
I'll try to look at it, but that would be better if someone who worked on gyp/gn layer tackles this.
First, I'm working to upstream https://github.com/nodejs/node-v8/issues/240.

[2022-09-22 12:55] pbo-linaro commented on #235
@targos: For now, how do you deal with custom patches that nodejs applies to v8? Are there kept somewhere?

[2022-09-22 12:59] targos commented on #235
I keep them on the `canary-base` branch (https://github.com/nodejs/node/tree/canary-base) which I rebase from time to time (usually when the daily update workflow of this repo fails because of a conflict)

[2022-09-22 13:42] pbo-linaro commented on #235
You can safely remove that V8_EXPORT_PRIVATE in src/wasm/function-body-decoder-impl.h.
Another class inherits from the one defining this `StackEffect` function, and reuse V8_EXPORT_PRIVATE, which is forbidden by msvc (should be defined either at class or method level, but not both).

[2022-09-23 08:08] codebytere commented on #227
Looks like we're still having issues - when we run `sequential/test-vm-timeout-escape-promise-module-2` we see this:

[code]

[2022-09-23 10:26] santigimeno commented on #227
@codebytere  by looking at the stacktrace I'm not sure it is related to the patch. Regardless, what should I do to reproduce this locally? I can't see any crashes when running it with neither the node.js main branch nor the canary branch.

[2022-09-23 14:12] pbo-linaro commented on #240
@targos I just submitted [4 patches](https://groups.google.com/g/v8-dev/c/RoYs2mvWPw8/m/mRHKteTNAwAJ) to fix all compilation errors of V8 with MSVC (including some not concerning Node).

This [one](https://chromium-review.googlesource.com/c/v8/v8/+/3913035) solves issue discussed here.

[2022-09-23 14:15] targos commented on #240
Amazing!

[2022-09-23 14:19] pbo-linaro commented on #235
@targos After trying random stuff around node build system, I could not get something that was solving this issue. I suggest you keep a patch (on node side) removing that export for now.

[2022-09-23 14:32] targos commented on #235
Will do, thanks a lot for investigating!

[2022-09-25 12:27] pbo-linaro commented on #240
@targos Patches are now merged upstream, v8 canary should be able to compile for windows from now.

Don't hesitate to ping me if you need help in the future 👍

[2022-09-25 15:40] targos commented on #240
Cherry-picked all patches to https://github.com/nodejs/node/pull/44741.

[2022-09-25 15:40] #240 closed

[2022-09-25 15:40] #235 closed

[2022-09-25 15:42] targos commented on #239
I'm floating a patch for now in https://github.com/nodejs/node/pull/44741 but let's keep this issue open until it's upstreamed.

[2022-09-26 08:32] targos commented on #234
Commit: d3cfc1168917c46374209fa51695b3c0287e42b9
CI: https://ci.nodejs.org/job/node-test-commit/56659/
V8: https://ci.nodejs.org/job/node-test-commit-v8-linux/4875/

[2022-09-26 09:36] codebytere commented on #227
@santigimeno does it now happen against canary when running `parallel/test-vm-timeout-escape-promise-2`? That's where we see it when running with our embedded Node.js instance 🤔

Seems to be related to https://chromium-review.googlesource.com/c/chromium/src/+/3620285

[2022-09-26 10:16] targos commented on #227
Here's the latest canary CI run in debug mode (green): https://ci.nodejs.org/job/node-test-commit-arm-debug/4183/nodes=ubuntu1804-arm64/

Maybe these crashes are only reproducible within Electron?

[2022-09-26 14:17] dio commented on #226
@targos sorry, did you change the caller? Or updating the V8 version? We are experiencing the same on Envoy: https://github.com/envoyproxy/envoy/issues/23243. Thanks!

[2022-09-26 14:33] targos commented on #226
It just didn't reproduce with newer V8 versions.

[2022-09-27 04:40] dio commented on #226
As a reference, this was fixed by: [chromium-review.googlesource.com/c/v8/v8/+/3700352](https://chromium-review.googlesource.com/c/v8/v8/+/3700352).

[2022-09-27 09:41] codebytere commented on #227
Looks like it 🤔  at least, it looks like it's specific to embedded Node.js and i haven't been able to repro it on your canary branch

[2022-10-03 17:45] #236 closed

[2022-10-03 21:22] codebytere commented on #227
@santigimeno i determined it's related to `v8::Isolate::SafeForTerminationScope`, which i think is missing somewhere for nested microtasks. Electron starts Node.js with `only_terminate_in_safe_scope` set to `true`, which triggers this error after

also cc @addaleax since this appears specific to `microtaskMode: 'afterEvaluate'` and i also see you added https://github.com/nodejs/node/pull/36344 to

[2022-10-22 09:27] bnoordhuis commented on #239
@bahamat the patch still needs to be upstreamed, see nodejs/node#45118.

[2022-10-28 20:26] bahamat commented on #239
@bnoordhuis Ok, I'm looking into the CLA requirement. It's not clear to me that MNX is the most appropriate agent to contribute the patch, since we are not the author/copyright holder.

[2022-10-29 17:24] bnoordhuis commented on #239
@targos That means you'd have to upstream it?

[2022-10-31 10:54] targos opened #242 "`v8::ArrayBuffer::Detach()` is deprecated"
https://github.com/nodejs/node-v8/actions/runs/3359418603/jobs/5567423443

[code]

Refs: https://github.com/v8/v8/commit/724e7ce1744be2141fcf4fbd8afec922bf33d850

/cc @nodejs/node-api

[2022-10-31 17:09] legendecas commented on #242
I believe the change in node-api would be straightforward as node-api currently doesn't expose an API to set the detach key. And from reading the [`v8::ArrayBuffer::Detach`](https://source.chromium.org/chromium/chromium/src/+/main:v8/src/api/api.cc;l=8128?q=v8::ArrayBuffer::Detach) source, if the detach key is set to an empty Local handle, `ArrayBuffer::Detach` detaches the ArrayBuffer without che

[2022-11-11 10:38] targos commented on #242
In the mean time I will push a commit passing a null handle to fix the CI.

[2022-11-11 10:57] targos commented on #242
While doing that I realized that there are other calls to `Detach()` in `src`.
/cc @nodejs/cpp-reviewers

[2022-11-11 11:08] targos commented on #242
For now I fixed it with https://github.com/nodejs/node/commit/d02989389a6addca5329581201f7d851935d1f1b

[2022-11-11 11:10] bnoordhuis commented on #242
Untested, but I think you can simply change all `ab->Detach()` calls to `ab->Detach(v8::Undefined(isolate))` - that's the default key.

[2022-11-14 16:18] targos commented on #239
https://chromium-review.googlesource.com/c/v8/v8/+/4026402

[2022-11-15 07:54] #239 closed

[2022-11-16 10:20] targos commented on #234
Commit: ce32638aa7f1ccdbd8d557c3e3742b058a24009a
CI: https://ci.nodejs.org/job/node-test-commit/57946/
V8: https://ci.nodejs.org/job/node-test-commit-v8-linux/4990/

[2022-11-16 12:55] targos commented on #234
Build failure on AIX:

https://ci.nodejs.org/job/node-test-commit-aix/43725/nodes=aix72-ppc64/console

[code]

@nodejs/platform-aix

[2022-11-16 21:52] V-for-Vasili commented on #234
This is related to a linker issue with `extern thread_local` - patch to v8 main branch to fix this: https://chromium-review.googlesource.com/c/v8/v8/+/4031867/2

[2022-11-19 16:15] #234 closed

[2022-11-20 11:58] targos opened #244 "Review state of canary in CI"
Previous thread: https://github.com/nodejs/node-v8/issues/234

[2022-11-20 12:00] targos commented on #244
Commit: https://github.com/nodejs/node-v8/commit/61c569ba0dde4f9320173cd48d71b7292893c1ee
CI: https://ci.nodejs.org/job/node-test-commit/58038/
V8: https://ci.nodejs.org/job/node-test-commit-v8-linux/4999/

[2022-11-22 08:58] ywave620 opened #245 "Question about TerminateExecution()"
Hey! I wonder whether v8 would propagate the termination exception all the way up?
I'm working on a fix to a node issue about worker terminating, and I observed the following anomaly(at least doesn't make sense me)

[code]

All the c++ function mentioned above have the same signature: `void (const v8::FunctionCallbackInfo<Value>&)`

Any hint and explanation would be highly appreciated :)

[2022-11-30 12:12] codebytere opened #246 "DCHECK crash in `heap::base::Stack::SaveContext`"
As of https://chromium-review.googlesource.com/c/v8/v8/+/4017512, there is a worker test that crashes deterministically in Node.js: `parallel/test-worker-init-failure` with the following stacktrace:

<details><summary>Stacktrace</summary>

[code]

</details>

I'm not quite sure why this is happening, but there is a comment in the CL:

that indicates it may have to do with stack intricacies in a Wo

[2022-11-30 12:35] targos commented on #246
I can reproduce with a debug build of canary, but I don't know what we can do.

[2022-11-30 13:59] targos commented on #244
Commit: d0f8aa52f69bfe1323437fbb75f0965eef36e15c
CI: https://ci.nodejs.org/job/node-test-commit/58269/
V8: https://ci.nodejs.org/job/node-test-commit-v8-linux/5024/

[2022-11-30 14:52] targos commented on #244
Windows debug build error:
[code]

I created a V8 bug: https://bugs.chromium.org/p/v8/issues/detail?id=13550