[2017-05-09 05:53] targos opened #1 "Build failure on FreeBSD 10"
CI run: https://ci.nodejs.org/job/node-test-commit-freebsd/8853/nodes=freebsd10-64/console

[code]

We should probably upgrade clang.

[2017-05-09 08:02] fhinkel commented on #1
Or not build on FreeBSD anymore :( Is this V8 head or are those problems with 5.8 in master?

[2017-05-09 09:17] targos commented on #1
This is V8 head.

[2017-05-09 14:11] targos opened #2 "Build failure on Ubuntu 12.04"
https://ci.nodejs.org/job/node-test-commit-linux/9732/nodes=ubuntu1204-64/console

[code]

[2017-05-10 13:31] ofrobots commented on #1
Based on https://github.com/nodejs/node/blob/master/BUILDING.md, the minimum version of clang should be 3.4.2. I am not sure if it will necessarily fix the problem though, but as a starting point, let's try getting that updated on the FreeBSD machines?

/cc @nodejs/platform-freebsd, @nodejs/build

[2017-05-10 14:07] jbergstroem commented on #1
`clang34-3.4.2_6                C, Objective-C, and C++ compiler` is available. I can upgrade.

[2017-05-16 06:43] targos commented on #2
Still happening: https://ci.nodejs.org/job/node-test-commit-linux/9879/nodes=ubuntu1204-64/console

[2017-05-16 11:32] targos opened #3 "Build with V8 5.9 fails"
This is probably related to the latest ICU update.
/cc @nodejs/intl

I am trying to build this branch: https://github.com/targos/node/tree/v8-5.9 (master + V8 update)

Error:
[code]

[2017-05-18 06:48] targos opened #4 "Test build failure on win2008r2"
https://ci.nodejs.org/job/node-test-binary-windows/8576/

[code]

/cc @nodejs/platform-windows

[2017-05-22 07:45] targos commented on #3
Ping. This is only with V8 5.9. 6.0 doesn't have this issue.

Also cc @nodejs/v8.

[2017-05-22 08:06] bmeurer commented on #3
cc @psmarshall

[2017-05-22 08:28] bnoordhuis commented on #3
At a guess, i18n.cc needs to `#include "unicode/ustring.h"`.

[2017-05-22 08:42] targos commented on #3
@bnoordhuis That fixes it. Thank you!

[2017-05-22 11:04] targos commented on #2
Also happens with V8 5.9: https://ci.nodejs.org/job/node-test-commit-linux/10054/nodes=ubuntu1204-64/console

@nodejs/lts @nodejs/ctc I think we have to choose now (i.e. before the 8.0.0 release) if we still want to support this system or if we are going to fix this.

[2017-05-22 11:10] targos commented on #4
Same error with V8 5.9 (which should become stable next week): https://ci.nodejs.org/job/node-test-binary-windows/8664/

Any idea?

[2017-05-22 11:36] bnoordhuis commented on #2
It's EOL, drop it!

[2017-05-22 11:37] gibfahn commented on #2
All the discussion has been about dropping support _within_ a release, I don't think anyone is opposed to dropping support before v8.x.

💯  to dropping it.

[2017-05-22 12:33] refack commented on #4
I'll look into this.

[2017-05-22 13:23] cjihrig commented on #2
+1 to dropping it.

[2017-05-22 19:43] joaocgreis commented on #4
Note that is compiling the addon with VS2013 (node.exe was compiled in another machine with VS2015).

[2017-05-23 20:06] bzoz commented on #4
Turns out VS2013 does not support defaulting move constructor and move assignment operator. A fix: https://github.com/janeasystems/node/commit/27fb4bb0ed8620f0a01c2cffe62b53acaaffd6dc

[2017-05-24 06:37] targos commented on #4
@bzoz thank you! I cherry-picked your commit to `canary-base`.

[2017-05-24 16:47] mhdawson commented on #2
I'm +1 for dropping it in 8.x and later

[2017-05-24 17:59] gibfahn commented on #2
I can add an equivalent of https://github.com/nodejs/build/issues/688#issuecomment-303553969 to skip it in the test job if there are no objections.

[2017-05-24 21:38] gibfahn commented on #2
Changed the `clang` check to an `ubuntu1204` check, the only label with `clang` in the name was `ubuntu1204-clang341-64` (which would still be picked up by this), and that has been disabled anyway.

[code]

Confirmed that the skipping works.

[2017-05-25 05:56] #4 closed

[2017-05-31 11:44] #3 closed

[2017-05-31 11:44] targos commented on #2
Thank you @gibfahn!

[2017-05-31 11:44] #2 closed

[2017-06-01 09:01] targos opened #5 "Broken message test"
CI run: https://ci.nodejs.org/job/node-test-commit-node-v8/32/

Error:
[code]

Commit: https://github.com/v8/v8/commit/69aa868bb717af38c05449621365cb5d484692c6

[2017-06-12 15:07] Fishrock123 opened #6 "please update the readme to avoid confusion"
Someone I know was somewhat confused if this was the main node repo or not, we should probably either patch the readme, or be much more clear in the repo name + description.

[2017-06-13 15:05] targos commented on #5
This is still happening and I don't know if we have to change this test or if it's a V8 issue.

Repro:
[code]
With Node 7, it prints "overflow 15288".
With Node 8, it prints "overflow 5088".
With canary, it prints nothing.

I put some `process._rawDebug()` in the code and it shows that the log fails here (Maximum call stack size exceeded): https://github.com/nodejs/node/blob/master/lib/console.js#

[2017-06-13 15:08] targos commented on #5
Reverting https://github.com/v8/v8/commit/69aa868bb717af38c05449621365cb5d484692c6 fixes this issue.

[2017-06-13 16:56] addaleax commented on #5
Ugh … this is tricky. I *think* the most semantically correct way to fix that would be to re-throw certain errors like a stack overflow in the `catch` block two lines below the line you linked

[2017-06-13 17:01] bmeurer commented on #5
cc @isheludko

[2017-06-13 17:31] bnoordhuis commented on #5
I wouldn't expect `console.log()` or any other function call to work in a stack overflow situation.  I'd just change or remove the test.

[2017-06-13 17:34] addaleax commented on #5
@bnoordhuis I probably should have commented that in the test, but the test isn’t checking that `console.log()` works in a stack overflow situation; it’s checking that, once a stack overflow occurs while trying to put the`console` object together, `console.log()` works *after* the stack has unwound sufficiently.

[2017-06-13 17:43] bnoordhuis commented on #5
I was going by @targos's test case, I see that the message test does something slightly different.  I don't know if exception landing pads are expected to work like that when the stack is full.

[2017-06-14 08:26] targos commented on #5
@addaleax do you have an idea on how to fix this without removing the test?

[2017-06-14 13:01] addaleax commented on #5
@targos can you try something like

[code]

I didn’t check myself that this works together with `canary`, I might have the time a bit later this week to do it myself.

(I know this seems odd – maybe f18e08d820dde161788d95a5603546ceca021e90 should have been a bit less strict about catching all errors…)

[2017-06-14 13:30] targos commented on #5
@addaleax I tried that and it doesn't work with `canary`.
If I add `process._rawDebug('test')` just before the `throw`, I can see "test" being logged 4 times and then nothing.

[2017-06-14 13:45] addaleax commented on #5
Ugh, okay. I’ll take a look as soon as I get the chance (which is likely not before Friday, sorry).

[2017-06-14 13:48] targos commented on #5
No problem. We have plenty of time before V8 6.1 goes stable.

[2017-06-20 14:53] targos opened #7 "V8 6.0 failures"
I am starting to test Node.js with V8 6.0 (which will be stable in about one month) and there are some failures on some platforms.
CI run: https://ci.nodejs.org/job/node-test-commit/10683/

## ubuntu1404-32

Run: https://ci.nodejs.org/job/node-test-commit-linux/10702/nodes=ubuntu1404-32/console
Test error:
[code]

This error does not happen with the canary branch: https://ci.nodejs.org/job/node-te

[2017-06-23 11:37] targos opened #8 "Build failure on SmartOS (6.1)"
CI run: https://ci.nodejs.org/job/node-test-commit-smartos/9806/nodes=smartos15-64/console

[code]

/cc @nodejs/platform-smartos

[2017-06-23 11:40] targos opened #9 "Addon build failure on Windows"
CI run: https://ci.nodejs.org/job/node-test-binary-windows/9413/

[code]

[2017-06-23 17:49] geek commented on #8
@targos I'll take a look today

[2017-06-23 23:55] misterdjules commented on #8
@targos You can use the following patch to get passed the compilation error: https://gist.github.com/misterdjules/f0bc7b42de7f9ee72e9535f0ce361ea0. The patch itself is not correct though, in the sense that the function position and function names outputted by the DTrace ustack helper are not correct, but I would think it's fine for now. Is that a correct assumption?

[2017-06-26 13:18] targos commented on #9
Looks like a V8 bug introduced in https://chromium-review.googlesource.com/c/523271/6. I will submit a fix upstream.

[2017-06-26 13:30] targos commented on #9
CL: https://chromium-review.googlesource.com/548399

[2017-06-26 14:36] targos commented on #8
@misterdjules It does not seem quite correct.
I applied your patch: https://github.com/nodejs/node-v8/commit/0bf3f913b84bdfc40942e3dfc2cdb4786a422f3c and now the error is: `dtrace: failed to compile script src/v8ustack.d: line 458: failed to resolve V8DBG_SHAREDFUNCTION_FUNCTION_TOKEN_POSITION: Unknown variable name`

CI run: https://ci.nodejs.org/job/node-test-commit-smartos/9836/nodes=smartos15-

[2017-06-26 16:15] misterdjules commented on #8
@targos

My apologies, I had forgotten to update the gist with all my local changes. I did so now, and using that gist should now allow you to work around the build errors.

When is that version of V8 scheduled to be merged in master?

[2017-06-27 08:08] targos commented on #8
@misterdjules Thank you. V8 6.1 should be merged in early September.

[2017-06-30 12:04] #9 closed

[2017-06-30 15:12] targos commented on #7
Moved to https://github.com/nodejs/node/pull/14004

[2017-06-30 15:12] #7 closed

[2017-07-06 05:39] rench opened #10 "How to build v8 for ARM V7 core without hardware FPU/VFP"
* **Version**:Node.Js v6.10.0
* **Platform**: LEDE arm Linux 4.9.20
* **Subsystem**: arm Linux 4.9.20

i have a router with bcm4709 armv7 without hardware FPU for  lede/openwrt

i try many ways to build node.js and run in my router.
when i run node -v ,it works well.
but when i run other cmd invoke v8,will got Illegal instruction every times.

i know mips works well and must enable FPE.
but on arm

[2017-07-14 06:22] targos opened #11 "Build failure on PPC"
CI run: https://ci.nodejs.org/job/node-test-commit-plinux/10197/

[code]

This has been happening for about a week.
@nodejs/platform-ppc

[2017-07-14 07:15] gireeshpunathil commented on #11
strange - tried building locally and passed. either mismatch in the compiler or in the source in my config. Digging further.

[2017-07-14 07:53] gireeshpunathil commented on #11
[code]

All is good here. So I am looking at a different source?

[2017-07-14 07:57] gireeshpunathil commented on #11
My working copy is master with last commit:
73078d607251b7c88dab96532c7e61606d70b2f8

[2017-07-14 08:00] bnoordhuis commented on #11
deps/v8/src/ppc/macro-assembler-ppc.h simply doesn't implement the TurboAssembler yet (amusing  joke, by the way, assuming it's intentional.)

[2017-07-14 08:06] bnoordhuis commented on #11
@jbajwa You probably know more.  Is this in progress?  I didn't find an open CL for PPC.

[2017-07-14 08:21] gireeshpunathil commented on #11
ah! I see it now, thanks @bnoordhuis . I was using the wrong repo.

[2017-07-14 13:00] jbajwa commented on #11
Hi,
As @bnoordhuis mentioned its the TurboAssembler layer that is not implemented on ppc and s390 yet. I'm working on it, should be clean by early next week. Will add an update here once its upstreamed.

[2017-07-14 13:04] targos commented on #11
OK, good to know. Thank you!

[2017-07-14 16:26] gibfahn opened #12 "Give collaborators access"
It'd be good if we could have the same permissions on this repo as we have on `nodejs/node`.

@targos is this something you have the power to do?

[2017-07-14 16:52] targos commented on #12
done

[2017-07-14 16:52] #12 closed

[2017-07-21 12:59] targos commented on #11
Note that V8 master is now working on version 6.2 so this will have to be merged to 6.1.

[2017-07-21 13:03] targos commented on #8
@misterdjules V8 master is now working on version 6.2. When the correct patch is upstreamed, it will have to be merged back to 6.1.

[2017-07-21 13:04] targos commented on #5
Ping @addaleax. Would you still like to find something better than removing the test?

[2017-07-21 13:05] targos commented on #1
Closing in favor of https://github.com/nodejs/build/issues/723

[2017-07-21 13:05] #1 closed

[2017-07-21 16:40] misterdjules commented on #8
@targos If that's fine with the V8 team then that's fine by me. Hopefully I can get to this sooner than later.

[2017-07-24 16:18] bnb commented on #6
+1 - is it possible to get an update on this?

[2017-07-24 16:50] tniessen commented on #6
I would suggest to update the description - e.g. `Node.js mirror on ...` instead of `Node.js on ...`.

[2017-07-27 18:52] jbajwa commented on #11
Quick update: V8 master should be clean after this [CL](https://chromium-review.googlesource.com/c/590168/) goes through, should be uploaded in 30mins or so.
Preparing a patch for 6.1 now with all commits squashed (it should be green by tomorrow).

[2017-08-03 08:38] targos commented on #11
It seems that V8 master is fixed but I still get a compilation failure with 6.1: https://ci.nodejs.org/job/node-test-commit-plinux/10605/nodes=ppcbe-ubuntu1404/console

[2017-08-03 09:12] targos commented on #6
Updated in https://github.com/nodejs/node-v8/pull/13

To change the contents of the new README, one can open a PR against the [`readme`](https://github.com/nodejs/node-v8/tree/readme) branch.

[2017-08-03 09:12] #6 closed

[2017-08-03 09:13] targos commented on #6
I also changed the description to "Experimental Node.js mirror on V8 Tip-of-Tree"

[2017-08-03 09:18] targos commented on #10
@rench sorry for the late response. Can you please open your issue in the [help repository](https://github.com/nodejs/help/issues)?
This is a special repository that is automatically updated and the issue tracker is only used for issues with V8 upgrades.

[2017-08-03 09:18] #10 closed

[2017-08-03 09:20] targos commented on #5
This is going to be fixed in https://github.com/nodejs/node/pull/14580. Closing.

[2017-08-03 09:20] #5 closed

[2017-08-03 09:38] targos opened #14 "Build failure on SmartOS and FreeBSD (6.1)"
CI runs:
https://ci.nodejs.org/job/node-test-commit-smartos/10603/nodes=smartos15-64/console
https://ci.nodejs.org/job/node-test-commit-freebsd/10730/nodes=freebsd11-x64/console

SmartOS error:

[code]

FreeBSD error:

[code]

/cc @nodejs/platform-freebsd @nodejs/platform-smartos

[2017-08-03 14:19] jbajwa commented on #11
6.1 should be clean now, I missed a partial port which was affecting native builds.

[2017-08-03 14:50] targos commented on #14
V8 6.1 is also affected.

[2017-08-03 15:00] targos commented on #14
I think I have the fix

[2017-08-03 15:07] targos commented on #11
Confirmed it's fixed. Thank you!

[2017-08-03 15:07] #11 closed

[2017-08-03 15:24] targos commented on #14
CL: https://chromium-review.googlesource.com/c/600194

[2017-08-08 08:29] targos opened #15 "Build failure on OSX and FreeBSD (6.2)"
CI run: https://ci.nodejs.org/view/MyJobs/job/node-test-commit-node-v8/104/
[code]

@nodejs/v8

Is that another Clang issue?

[2017-08-08 09:12] bnoordhuis commented on #15
It looks like a clang or libc++ issue, yes.  Also seems to happen on MacOS.

[2017-08-16 07:49] targos commented on #14
CL landed and is going to be merged to 6.1.

[2017-08-16 07:49] #14 closed

[2017-08-16 07:52] targos opened #16 "Build failure on SmartOS (6.2)"
CI run: https://ci.nodejs.org/job/node-test-commit-smartos/10884/nodes=smartos15-64/console

Error:
[code]

@nodejs/platform-smartos

[2017-08-16 21:22] cjihrig commented on #16
I'll take a look.

[2017-08-28 14:38] targos commented on #15
Anyone knows what should be done about this?

[2017-08-28 14:40] targos commented on #16
This is still happening. Latest run: https://ci.nodejs.org/job/node-test-commit-smartos/11137/nodes=smartos16-64/console

[2017-08-28 16:30] gibfahn commented on #15
Maybe cc/ @nodejs/platform-freebsd @nodejs/platform-macos

[2017-08-28 21:25] geek commented on #16
Fixed in the latest: https://ci.nodejs.org/job/node-test-commit-smartos/11139/ via https://github.com/nodejs/node/commit/44f5ffebdfae8fc17336328e2fabbe1ed038f38b

[2017-08-29 07:13] targos commented on #16
I'm reopening because the build is still failing with this commit and with the same error message: https://ci.nodejs.org/job/node-test-commit-smartos/11145/

[2017-08-29 14:46] geek commented on #16
@targos thanks, I'll investigate... looks like a new culprit this time

[2017-08-29 23:05] emaste commented on #15
It looks like that Jenkins build has expired now. I presume this happens on FreeBSD 10.x and 11.x (which have Clang+libc++ 4.0), what Clang version is being used on OS X? (Aside, would it be useful to have a Linux Clang builder?)

I will see if I can loop in some C++ folks.

[2017-08-30 04:33] targos commented on #15
Latest run: https://ci.nodejs.org/job/node-test-commit-freebsd/11269/

[2017-08-31 02:37] cjihrig commented on #8
@targos, per my comment at https://github.com/nodejs/node/pull/14730#issuecomment-326062779. I've been able to get postmortem stack traces mostly working in llnode. There is still one problem I'm seeing, and I'm not entirely sure if this is a bug in the postmortem data generation, or something else in V8. Take this code for example:

[code]

Without my changes, the JS stack frames show up in llnod

[2017-09-01 07:08] targos commented on #16
Fixed by https://github.com/nodejs/node/commit/50cc6c71991294d904ff26bfebe2467a5321239d

[2017-09-01 07:08] #16 closed

[2017-09-01 14:37] misterdjules commented on #16
@targos Just to make sure we're on the same page, some of the commits that fix the build issue on SmartOS are temporary fixes (like https://github.com/nodejs/node-v8/commit/f6bd6af88f1a35c11ffc36cf13c2881b36598046), and some of them may not have been through a standard review/testing process (like https://github.com/nodejs/node/commit/50cc6c71991294d904ff26bfebe2467a5321239d).

@cjihrig, myself an

[2017-09-01 14:45] targos commented on #16
@misterdjules all commits that are on `canary-base` but not on `master` can be considered temporary fixes. This branch only exists to collect fixes that the bot can cherry-pick to this repository for the `canary` updates/tests/nightly.

They will go through a standard review process when a PR is opened in the node repository to update V8 on `master` or they will be removed once the changes are ups

[2017-09-12 09:18] #8 closed

[2017-09-12 09:22] targos commented on #15
I'm going to open the 6.2 PR in the main repo. We can investigate there.

[2017-09-12 09:22] #15 closed

[2017-10-20 21:04] vsemozhetbyt opened #19 "Last builds lack Windows installers and binaries"
See
https://nodejs.org/download/v8-canary/v9.0.0-v8-canary201710193971f070e9/
https://nodejs.org/download/v8-canary/v9.0.0-v8-canary201710206d75561466/

The last one with Windows items is
https://nodejs.org/download/v8-canary/v9.0.0-v8-canary20171018c5afbc57bf/

[2017-10-20 22:43] targos commented on #19
That's because the build is broken on Windows: https://ci.nodejs.org/job/node-test-commit-windows-fanned/12687/

[2017-10-20 23:29] refack commented on #19
Also checking out

[2017-10-26 14:33] targos commented on #19
Still failing: https://ci.nodejs.org/job/node-compile-windows/12882/

[2017-10-26 14:37] targos opened #20 "Build failure on AIX"
https://ci.nodejs.org/job/node-test-commit-aix/9699/nodes=aix61-ppc64/console

Error:
[code]

/cc @nodejs/platform-aix

[2017-10-26 14:40] targos opened #21 "Build failure on SmartOS"
https://ci.nodejs.org/job/node-test-commit-smartos/12561/nodes=smartos15-64/console

Error:
[code]

/cc @nodejs/platform-smartos

[2017-10-26 14:54] bnoordhuis commented on #20
I think https://chromium-review.googlesource.com/738890 will address that, if inadvertently.

[2017-10-26 16:02] cjihrig commented on #21
Looking into this.

[2017-10-26 19:30] cjihrig commented on #21
Proposed fix in #22. It looks like the relevant changes in V8 are https://github.com/v8/v8/commit/d953b2ab726acca0b3abe90ce090a16d7ccc2ae3

[2017-10-27 08:10] targos commented on #20
It is fixed indeed! There is a new error but I will open another issue for it. Thanks!

[2017-10-27 08:10] #20 closed

[2017-10-27 08:16] targos opened #23 "Build failure on AIX"
https://ci.nodejs.org/job/node-test-commit-aix/9727/nodes=aix61-ppc64/console

Error:
[code]

I'm trying this patch:
[code]

/cc @nodejs/platform-aix

CI: https://ci.nodejs.org/job/node-test-commit-aix/9732/

Edit: trying to fix the other error: https://ci.nodejs.org/job/node-test-commit-aix/9768/

[2017-10-30 09:28] gireeshpunathil commented on #23
@targos - curious to know whether you were able to move this? Please let me know if I should pitch-in.

[2017-10-30 09:47] targos commented on #23
I was blocked on this error: https://ci.nodejs.org/job/node-test-commit-aix/9768/nodes=aix61-ppc64/console

I'd be happy if you could help me with that, thanks!

[2017-10-30 09:50] gireeshpunathil commented on #23
sure, will start look into it.

[2017-10-30 12:06] gireeshpunathil commented on #23
@targos - this should fix it:

[code]
I compiled it fully locally and saw no more errors. Hope you will take it from here.

[2017-10-30 12:09] gireeshpunathil commented on #23
ah! wait:
[code]
that line seem to be there already!
So don't know what is going on here. Please wait while I dig it further.

[2017-10-30 12:51] gireeshpunathil commented on #23
ok - `V8_OS_AIX` is defined in `v8config.h` which comes to life through `v8.h` and that is included further down the line.

This patch breaks the readability a bit, but to conform to the platform definitions and to build, I see no other way.

[code]

@targos - looks fair to you?

[2017-10-30 13:03] targos commented on #23
That seems fair to me. Thank you for investigating!

CI: https://ci.nodejs.org/job/node-test-commit-aix/9838/

@gireeshpunathil  Do you mind if I upstream both fixes myself in the same CL?

[2017-10-30 13:04] gireeshpunathil commented on #23
sure, please!

[2017-10-31 20:16] vsemozhetbyt commented on #19
Still lack.
cc @nodejs/platform-windows?

[2017-10-31 20:50] seishun commented on #19
CI looks fine, so it's up to @nodejs/build

[2017-10-31 20:51] targos commented on #19
CI does not look fine. Here is the last run: https://ci.nodejs.org/job/node-test-commit-windows-fanned/12997/

[2017-10-31 20:54] seishun commented on #19
Ah, the dreaded parallel/test-async-wrap-uncaughtexception. See https://github.com/nodejs/node/issues/16210

[2017-10-31 20:57] targos commented on #19
Not really. It doesn't even compile.

[2017-10-31 20:59] refack commented on #19
It's that json bug. I have a patch for that. I wanted to upstream. I'll float here.

[2017-10-31 21:03] targos commented on #19
@refack. Thanks. If you have a working patch, feel free to push a commit on to of [`canary-base`](https://github.com/nodejs/node/commits/canary-base) (in nodejs/node, not this repo). The daily job will pick it up tomorrow.

[2017-10-31 21:03] seishun commented on #19
I see here that the last few builds were successful though: https://ci.nodejs.org/job/node-compile-windows/

[2017-10-31 21:05] targos commented on #19
We only have one canary build per day (unless it's manually triggered)

[2017-10-31 21:06] bzoz commented on #19
https://github.com/nodejs/node/commit/dfcaf280b728b20e536c27964ae1446342d98607 fixed Windows compilation

[2017-11-01 08:14] seishun commented on #19
@bzoz we're talking about v8-canary, not master. Took me a while to realize it too.

[2017-11-01 12:55] targos commented on #23
CL landed today: https://chromium-review.googlesource.com/c/v8/v8/+/743941

Thanks again @gireeshpunathil !

[2017-11-01 12:55] #23 closed

[2017-11-07 00:12] vsemozhetbyt commented on #19
Ping)

[2017-11-07 10:29] targos commented on #19
Still many errors with VS2015: https://ci.nodejs.org/job/node-compile-windows/13253/label=win-vs2015/console

[2017-11-07 11:30] targos commented on #21
Fixed in https://chromium-review.googlesource.com/c/v8/v8/+/741919.

[2017-11-07 15:27] seishun commented on #19
Confirmed locally, doesn't build with VS2015.

Does V8 have an official supported compilers list? Microsoft may or may not fix the internal compiler error, but they are definitely not going to add relaxed constexpr in VS2015. It's supported since VS2017.

[2017-11-07 15:42] targos commented on #19
/cc @nodejs/v8

[2017-11-07 16:05] refack commented on #19
This is after https://github.com/nodejs/node/commit/5366f807b754461865d5bb84861fed1f5575688c?

[2017-11-07 16:06] targos commented on #19
@refack yes

[2017-11-07 17:37] refack commented on #19
Breaking CL landed a day ago: https://chromium-review.googlesource.com/c/v8/v8/+/753903

[2017-11-07 17:44] hashseed commented on #19
Thanks for pinpointing the culprit. We currently don't have a Windows bot testing Node.js integration on our end, but it looks like we need one. I'll try to get something set up soon.

[2017-11-08 08:06] hammacher commented on #19
@hashseed note that this is not about nodejs integration, V8 and chromium are currently not compiled at all with VS2015 AFAICT. So either V8 needs to return to supporting VS2015, or nodejs also switches to VS2017 as proposed in #16868. The latter seems to be the more attractive way forward to me.

[2017-11-08 08:08] hashseed commented on #19
What I'm saying is that as long as Node.js has not moved to VS2017, we should have a test bot to build Node.js with VS2015, which would have detected this problem.

It also means that V8 needs to support VS2015 until the switch.

[2017-11-08 16:59] hashseed commented on #19
Tracking bug here for those interested https://bugs.chromium.org/p/v8/issues/detail?id=5960

[2017-11-09 04:41] joaocgreis commented on #19
Do we need the version of V8 that is failing to land in node v9.x?

Adding a new release machine with VS2017 (ref https://github.com/nodejs/node/issues/13052 and https://github.com/nodejs/node/pull/16868) will fix this.

@hashseed I understand that maintaining VS2015 support is a burden for V8. However, for building native modules, node users must also have VS installed. Asking all node users with

[2017-11-09 10:36] seishun commented on #19
On the other hand, assuming VS2015 is binary incompatible with VS2017, we are currently forcing node users with VS2017 to install VS2015 alongside it, which is arguably worse.

[2017-11-09 21:11] joaocgreis commented on #19
Are we? How? node-gyp should be able to use either and both are supported by us.

[2017-11-09 21:16] seishun commented on #19
Well that confirms that VS2015 is binary compatible with VS2017. If they weren't, addons built with VS2017 wouldn't work with node built with VS2015.

[2017-11-09 21:16] refack commented on #19
Ignore my last comment. It's about the build issue not the extended constexpr.

[2017-11-09 21:20] refack commented on #19
There is the issue of building node core from source, not just addons. Dropping official support for VS2015 is one thing, actually breaking support it is semver-major.

Let's keep that discussion in https://github.com/nodejs/node/pull/16868.

[2017-11-18 08:36] targos commented on #19
Do we have a release machine with VS2017?

[2017-11-18 18:22] refack commented on #19
@joaocgreis is working on some bugs in vcbuild.bat -
 https://github.com/nodejs/node/pull/17101

[2017-11-19 09:47] targos opened #24 "broken test-wasm-simple"
Probably caused by https://chromium-review.googlesource.com/c/v8/v8/+/775338

[2017-11-19 10:15] bmeurer commented on #24
cc @gahaas

[2017-11-19 11:16] addaleax commented on #24
Heh, yes. The test for Node was actually suggested by me with this specific feature in mind.

I’m surprised to see V8 extended its platform API to accommodate this – I am pretty sure I had made the preparations for this to work with the old API (i.e. I’m not sure why that extension was necessary).

Anyway, I’m taking a look at the crash itself now.

[2017-11-19 13:43] addaleax commented on #24
Fix is in https://github.com/nodejs/node/pull/17134

[2017-11-20 08:39] gahaas commented on #24
Hi Anna,

Thanks for addressing this issue so quickly.

Let me quickly explain the reason for the platform API change: There is a fundamental assumption in V8 that the isolate is only used by foreground tasks. The old platform API required the isolate to post new foreground task. In principle this meant that only foreground tasks were able to post new foreground tasks. This was, however insufficie

[2017-11-21 15:39] #24 closed

[2017-11-22 02:31] refack commented on #21
Well it's back with a new failed symbol `V8DBG_CLASS_MAP__INSTANCE_ATTRIBUTES__INT`:
[code]
https://ci.nodejs.org/job/node-test-commit-smartos/13336/nodes=smartos16-64/console

@targos do you want to reopen this or open a new issue?

[2017-11-22 02:40] refack opened #25 "Test fails very early on linuxONE and AIX (and plinux)"
I was testing CI's compatibility with this branch (good news, [debug build on Linux passes all tests](https://ci.nodejs.org/job/node-test-commit-linux-linked/247/nodes=ubuntu1604_sharedlibs_debug_x64/)), but it seems like node can't bootstap on linuxONE and AIX:
* https://ci.nodejs.org/job/node-test-commit-aix/10513/nodes=aix61-ppc64/console
[code]
* https://ci.nodejs.org/job/node-test-commit-linu

[2017-11-22 06:34] cjihrig commented on #21
I'll look into what's broken this time :-)

[2017-11-22 08:28] schuay opened #26 "Build failure: __config: No such file or directory"
On current canary branch head (30cba1bc27cdfe5daa563dcf77f72b27bf157087), linux:

[code]

The path exists, but is not picked up by the build:

[code]

[2017-11-22 09:54] bnoordhuis commented on #26
Introduced in nodejs/node#14901, which, mea culpa, could probably have used another round of review.

cc @mmarchini

[2017-11-22 10:17] bnoordhuis commented on #25
I can't say for sure but I suspect something in the Makefile is doing (the equivalent of) `./node ./node` - i.e., node trying to parse its own binary as JS code.

Possible culprit: the `run-npm-install` command that was added in 289fcb05be0efe5f57c742af7113547a4af94c69.

[2017-11-22 12:21] mmarchini commented on #26
I'll take a look at this, but I'm having trouble reproducing it on Ubuntu 16.04. Maybe I'm doing something wrong? Build is working and my `./deps/v8/` doesn't have a `buildtools` directory:

[code]

[2017-11-22 12:33] schuay commented on #26
Interesting, I can't repro either when building from a clean checkout.

`make clean` didn't help.
`git clean -xfd` did.

Apparently there were some untracked files/directory in `deps/v8` that messed up the build. Closing, thanks for investigating.

[2017-11-22 13:31] refack commented on #25
No such luck, checked manually 😞 :
[code]

For reference with a healthy binary `./node ./node` looks like:
[code]

[2017-11-22 13:40] richardlau commented on #25
My guess would be some sort of encoding issue (AIX and linuxONE are big endian).

[2017-11-22 13:42] refack commented on #25
@richardlau consistent with the failure on the other plinux machine (the BE one):
https://ci.nodejs.org/job/node-test-commit-plinux/13328/nodes=ppcbe-ubuntu1404/console
[code]

[2017-11-22 13:44] targos commented on #25
What's the last known good build?

[2017-11-22 13:54] refack commented on #25
I don't have a reference, but nodejs/node/master is green 🤷‍♂️

[2017-11-22 13:59] mhdawson commented on #25
@refack "this branch" is the canary branch right ?  I think the difference between canary and master should just be the level of V8.

[2017-11-22 14:01] mhdawson commented on #25
A big endian issue does sound like a good guess.  @jBarz can you take a look.

[2017-11-22 14:03] mhdawson commented on #25
Being the canary version of V8 it is possible we've just not quite caught up with the ports yet.  Either way good to investigate.

[2017-11-22 14:04] targos commented on #25
The least recent build I can find in Jenkins is [This build](https://ci.nodejs.org/view/MyJobs/job/node-test-commit-node-v8/216/) from Nov 17 and already has the failures.
Is it possible to go back earlier in time? The job is at https://ci.nodejs.org/view/MyJobs/job/node-test-commit-node-v8/

[2017-11-22 17:05] refack commented on #25
AFAIK we purge the Jenkins store after 7 days, but I found a git ref from a recent PR that is green:
`6.4.132` - 12bfc6c043b414f40955ff531d6b7afd4e3bb796
https://ci.nodejs.org/job/node-test-commit-linuxone/10551/nodes=rhel72-s390x/

[2017-11-22 18:35] jBarz commented on #25
We are investigating [issues](https://build.chromium.org/p/client.v8.ports/console) on v8 for big endian platforms.
Will update once we fix those issues.

[2017-11-23 01:01] refack commented on #26
So it seems the issue still reproduces when building `make test-v8`: https://ci.nodejs.org/job/node-test-commit-v8-linux/1069/

[2017-11-23 09:44] schuay commented on #26
Right, `make test-v8` fails for me with

[code]

[2017-11-24 15:29] targos commented on #21
Fixed in https://github.com/nodejs/node/commit/7e2665765eb498d4c976d75ab5682e744a8010ea

[2017-11-24 15:29] #21 closed

[2017-11-29 01:47] #26 closed

[2017-11-29 21:27] jBarz commented on #25
I think this branch is now fixed on big endian platforms.

[2017-11-30 00:53] vsemozhetbyt commented on #19
Is there any progress on this? We still have no Windows binaries.

[2017-11-30 09:48] seishun commented on #19
AFAIK @joaocgreis is working on a VS2017 release machine.

[2017-11-30 12:33] targos commented on #25
Thanks.

[2017-11-30 12:33] #25 closed

[2017-11-30 12:37] targos opened #29 "Build failure on AIX"
CI run: https://ci.nodejs.org/job/node-test-commit-aix/10778/nodes=aix61-ppc64/console

Error:
[code]

@nodejs/platform-aix

[2017-11-30 12:38] targos commented on #29
Introduced in https://github.com/v8/v8/commit/2cbfa2444d6192b472f02cab2c0f25b9df6145fb

[2017-11-30 12:40] targos opened #30 "Build failure on SmartOS"
CI run: https://ci.nodejs.org/job/node-test-commit-smartos/13593/nodes=smartos15-64/console

Error:
[code]

Introduced in https://github.com/v8/v8/commit/2cbfa2444d6192b472f02cab2c0f25b9df6145fb

@nodejs/platform-smartos

[2017-11-30 14:55] gireeshpunathil commented on #29
madvise on Linux:
int madvise(void *addr, size_t length, int advice);

madvise on AIX:
int madvise(caddr_t addr, size_t len,  int behav)
where:
typedef char * caddr_t;

So I guess we just need to cast addr (that is void *) to caddr_t for AIX.

can you please try this patch?

[code]

[2017-11-30 15:32] targos commented on #29
Sure: https://ci.nodejs.org/job/node-test-commit-aix/10782/

[2017-11-30 18:43] gibfahn commented on #29
Job is green! @gireeshpunathil I know you're on holiday, maybe someone could upstream this patch for you.

[2017-11-30 19:11] joaocgreis commented on #19
Release machines ready and working. First node-v8 test run: https://nodejs.org/download/test/v10.0.0-test201711308c5d0f1f35/ . Today's nightlies should already be build by the new machines, if everything goes well this should be fixed.

[2017-12-01 00:03] vsemozhetbyt commented on #19
This is fixed! Thank you all!

https://nodejs.org/download/v8-canary/v10.0.0-v8-canary201711307338c21936/

[2017-12-01 00:03] #19 closed

[2017-12-01 01:19] gireeshpunathil commented on #29
please feel free to upstream, @targos / @gibfahn

[2017-12-01 21:53] mhdawson commented on #29
@jBarz you could possibly also get Junliang to help upstream unless @targos can do it easily.

[2017-12-01 22:53] jBarz commented on #29
Upstream underway [here](https://chromium-review.googlesource.com/c/v8/v8/+/804554)

[2017-12-11 12:52] targos commented on #30
Fix landed upstream: https://github.com/v8/v8/commit/c8ffe744b50caf260d6e417e34bb627edb42a971

[2017-12-11 12:52] #30 closed

[2017-12-11 12:53] targos commented on #29
Fix landed upstream: https://github.com/v8/v8/commit/3c5cb5e5c77b9aed4e0cb5a9bce14c381af26699.
Thank you!

[2017-12-11 12:53] #29 closed

[2017-12-19 13:04] targos opened #33 "Missing constants for postmortem metadata"
CI run: https://ci.nodejs.org/job/node-test-commit-node-v8/252/

Missing constants:
* v8dbg_bit_field3_dictionary_map_shift
* v8dbg_class_Map__inobject_properties_or_constructor_function_index__int
* v8dbg_class_Map__instance_attributes__int
* v8dbg_class_Map__instance_size__int

/cc @nodejs/post-mortem

[2017-12-19 15:46] cjihrig commented on #33
PR coming up

[2017-12-19 16:04] cjihrig commented on #33
Fix in https://github.com/nodejs/node-v8/pull/34

[2017-12-20 07:13] #33 closed

[2018-01-19 09:36] targos opened #35 "Compilation error with V8 6.5"
CI: https://ci.nodejs.org/job/node-test-commit-arm-fanned/13813/

[code]

/cc @nodejs/v8

[2018-01-19 10:20] targos commented on #35
Yes: arm-linux-gnueabihf-gcc (crosstool-NG linaro-1.13.1+bzr2650 - Linaro GCC 2014.03) 4.8.3 20140303 (prerelease)

[2018-01-19 10:25] targos commented on #35
OK, then the relevant issue is https://github.com/nodejs/build/issues/762

[2018-01-25 07:37] fhinkel commented on #35
Pinged @hammacher if we can re-write the `VariadicCall` upstream - moving to 4.9 would of course be better though.

[2018-01-25 10:26] seishun commented on #35
The minimum supported gcc version for Node.js has been 4.9.4 since 5 Jun 2017: https://github.com/nodejs/node/commit/d13a65ad68c429884434cdcd94c52b79a6d69717. There should be no need to spend resources to support an older gcc version.

[2018-01-26 00:41] joyeecheung opened #36 "Cannot compile canary"
https://github.com/v8/v8/commit/f9934aa9cf77b76c5fa78137e32939f30d9e2f81 have broken the canary branch. This patch fixes that.

[code]

was there an issue about this?

[2018-01-26 02:20] mmarchini commented on #36
Maybe it's related to https://github.com/nodejs/node/issues/18262#issuecomment-359743547? /cc @hashseed

[2018-01-26 06:44] hashseed commented on #36
Yes indeed. This is in preparation to remove gypfiles altogether. It was discussed that the gypfiles that Node.js will inherit should be collected to the same location.

[2018-01-26 08:17] #36 closed

[2018-01-26 09:54] fhinkel commented on #35
I think we never updated the build bots, so despite that commit we're basically on 4.8.

[2018-01-26 10:37] hashseed opened #38 "Upcoming changes to GYP"
As previously described in [this document](https://docs.google.com/document/d/1gvHuesiuvLzD6X6ONddxXRxhODlOJlxgfoTNZTlKLGA/edit) and tracked in [these](https://github.com/nodejs/CTC/issues/2) Node.js [issues](https://github.com/nodejs/TSC/issues/411) and this [V8 issue](https://bugs.chromium.org/p/v8/issues/detail?id=6105), V8 has implemented a GYP/GN bridge to allowing building V8 with GN but kee

[2018-01-29 21:03] fhinkel commented on #35
Fix landed upstream as [74915b7](https://chromium.googlesource.com/v8/v8/+/74915b730650dbabd934bd0782993682e5a07ca0)

[2018-01-30 12:59] targos commented on #35
Thanks! Any chance it could be merged to 6.5?

[2018-01-30 13:57] hammacher commented on #35
I don't see why not. Opened https://crbug.com/807275 for the backmerge.

[2018-01-30 20:26] mhdawson commented on #38
Sounds like we need a decision on:

labeling so that it's on the agenda a week from now unless we resolve through GitHub or the discussion with the V8 team after this weeks TSC meeting.

[2018-01-30 20:26] mhdawson commented on #38
@hashseed  I see it's tested on Linux from the doc, can we test it across platforms with one of the existing CI jobs?

[2018-01-31 11:21] hashseed commented on #38
@mhdawson I'm not sure I expressed myself understandably. So let me try again.

`--build-v8-with-gn` is a crutch that we at V8 use for continuously test V8 against Node.js without having to maintain gyp files. It is tested for Linux and Mac, but not yet on Windows.

The canary build at node-v8 is similar, and unless you want to update gyp files on every canary, you could use the same crutch. For u

[2018-01-31 15:13] hammacher commented on #35
It's merged to 6.5 now.

[2018-01-31 15:52] targos commented on #35
Thank you!

[2018-01-31 15:52] #35 closed

[2018-02-01 15:48] mhdawson commented on #38
@hashseed thanks for the clarification, got it.

[2018-02-07 17:18] rvagg commented on #38
We need to have gn binaries on all build machines for this to work right? And for people building from source we have to explain how to get gn installed as well. Is it in an easier to fetch form these days or still bundled up with other stuff?

[2018-02-07 17:22] hashseed commented on #38
We have all of this implemented on our [fork](https://github.com/v8/node/commits/vee-eight-lkgr). There I added a new configure flag so that you can run `./configure --build-v8-with-gn`. This will fetch the necessary dependencies. All you then need to do is `make`. I'll upstream this once Node.js upgrades to V8 6.6.

[2018-02-08 20:12] hashseed commented on #38
gyp configs [have been removed](https://chromium.googlesource.com/v8/v8/+/2c8663aa1a2d7e411bb2759dfe31d289990db135) upstream.

[2018-02-09 16:03] targos commented on #38
Thanks for the heads up!
I updated the canary update script to take this into account.

[2018-03-06 09:05] hashseed opened #39 "Upcoming change to build config"
This [upcoming change](https://chromium-review.googlesource.com/c/v8/v8/+/946011) will change the `run_mksnapshot` build target to produce one more file. The background is that we want to make builtin code objects isolate-independent and move them off V8's heap and embed them in the binary instead.

I don't think this will cause breakages in the short term, since this configuration is gated by a b

[2018-03-07 11:16] mcollina opened #40 "performance regression against master"
I got a performance regression from master to canary.

https://github.com/mcollina/syncthrough/blob/master/benchmarks/basic.js

In master:

[code]

On canary:

[code]

On node 9.7.0:

[code]

On node 8.10.0:

[code]

I can see a similar regression on http as well, if we run:

[code]

And then we load test with `npx autocannon -c 100 -d 5 -p 10 localhost:3000` twice and get the second number:

* **

[2018-03-07 11:53] targos commented on #40
@nodejs/v8

[2018-03-07 17:45] ofrobots commented on #40
Can you also try with `--nountrusted_code_mitigations` ([link](https://cs.chromium.org/chromium/src/v8/src/flag-definitions.h?q=flag-de&sq=package:chromium&l=498))?

[2018-03-07 18:17] mcollina commented on #40
I downloaded an old canary build, I'm now on node-v10.0.0-v8-canary20180306870146ff63-darwin-x64.

master (not sure why but I can't replicate the numbers I had this morning):

[code]

with `--nountrusted_code_mitigations`:

[code]

without `--nountrusted_code_mitigations`:

[code]

Essentially yes, `--nountrusted_code_mitigations`  fixes it. What does that do?

(With the new release I can't replic

[2018-03-07 18:23] ebraminio commented on #40
Spectre and Meltdown related mitigations, not needed for usual use of node.js AFAIK.

[2018-03-07 18:44] mcollina commented on #40
oh nice. Can we flip the switch to have `--untrusted_code_mitigations` instead?
Or is this already happening on master?

[2018-03-07 19:04] hashseed commented on #40
Untrusted code mitigations are on by default in V8. Having them on regresses performance. `--no-untrusted-code-mitigations` disables them and fixes the regression.

@mcollina you said [earlier](https://twitter.com/matteocollina/status/971340490812649472) that the flag does not work for you. Did you find out why?

[2018-03-07 19:10] mcollina commented on #40
@hashseed I used an older binary, I wrongly guessed that the files were sorted, but they weren't.

What I mean is, can we flip this behavior in Node.js against V8? It seems they are not part of Node.js threat model, so we can live without them and enjoy better performance.

[2018-03-07 19:14] hashseed commented on #40
Yes. The best way to do this is to add GYP configs to pass `DISABLE_UNTRUSTED_CODE_MITIGATIONS` as C++ define, to mirror [this GN config](https://cs.chromium.org/chromium/src/v8/BUILD.gn?l=518&rcl=b2a75aa261671bca28890a5dfbce87d96d8eaef4).

[2018-03-07 19:15] devsnek commented on #40
assuming we set DISABLE_UNTRUSTED_CODE_MITIGATIONS, can users still do something like `--enable-untrusted-code-mitigations`

[2018-03-07 19:36] mcollina commented on #40
@hashseed Would this be needed on V8 6.6? Should we do this change after https://github.com/nodejs/node/pull/19201?

[2018-03-07 19:41] hashseed commented on #40
Yes and no. It sets the default value for the flag, so you can still use `--untrusted-code-mitigations` to enable it. However, V8 compiles some of its builtin code at build time to include in the startup snapshot. Once included, the runtime flag won't be able to change it anymore. These builtin code are also affected by mitigations. Though I expect that the performance impact to be less significan

[2018-03-07 19:45] targos commented on #40
@hashseed knowing what you just said, should we instead compile with untrusted code mitigations and disable them by default when Node starts (with `v8.setFlagsFromString`)?

[2018-03-07 19:50] hashseed commented on #40
Yes, that sounds good.

[2018-03-08 05:42] bmeurer commented on #40
You'll probably need this on 6.5 as well. I'm not so eager to have untrusted code mitigations build into the Node snapshot. I think it's better to consistently disable them via the GN/GYP flag. If someone needs a Node with these mitigations, he/she should build a proper binary. We're already stretching the test matrix quite a bit here...

[2018-03-12 10:08] code-tinker opened #41 "what's the usage of 'T ___coalition' in v8 profile log"
I am using v8 profiler to optimize my code. And I got this:
![_a760e796-7858-4bf4-aa5f-a9e37c642452](https://user-images.githubusercontent.com/3404780/37277567-0e72502c-2620-11e8-8696-fb85b608cd44.png)

What's the usage of 'T __coalition' and why it occupies so many ticks.
🙏🙏🙏Thanks for watching

[2018-03-12 13:38] mmarchini commented on #41
/cc @nodejs/v8

[2018-03-12 13:43] hashseed commented on #41
What operating system are you running this on?

[2018-03-12 13:49] ebraminio commented on #41
I guess macOS, as the directories naming.

[2018-03-12 13:55] hashseed commented on #41
Maybe you are making tons of sys calls. See https://opensource.apple.com/source/xnu/xnu-3789.21.4/bsd/sys/coalition.h.auto.html

[2018-03-13 00:35] vsemozhetbyt opened #42 "Last builds lack documentation"
Sorry if this is a known issue.

Last build with docs:
https://nodejs.org/download/v8-canary/v10.0.0-v8-canary20180306870146ff63/

Builds without docs:
https://nodejs.org/download/v8-canary/v10.0.0-v8-canary20180307fecbce45d1/
https://nodejs.org/download/v8-canary/v10.0.0-v8-canary20180308109148ee70/
https://nodejs.org/download/v8-canary/v10.0.0-v8-canary20180309423d5f6381/
https://nodejs.org/down

[2018-03-13 00:58] vsemozhetbyt opened #43 "Windows MSI installer creates doc shortcut with wrong URL"
Meaning this shortcut in Start menu:
![cdocs](https://user-images.githubusercontent.com/10393198/37316863-40caef76-266a-11e8-9bae-00cee6e2af9c.png)

For example, in this build:

https://nodejs.org/download/v8-canary/v10.0.0-v8-canary20180306870146ff63/

Proper URL: https://nodejs.org/download/v8-canary/v10.0.0-v8-canary20180306870146ff63/docs/api/

Shortcut URL: https://nodejs.org/download/custom/

[2018-03-13 01:14] code-tinker commented on #41
@hashseed
tks u so much !!!

[2018-03-13 06:06] targos commented on #43
@nodejs/build

[2018-03-13 07:15] piccoloaiutante commented on #43
After a quick look it seems that that portion of URL is driven by `DistTypeDir`:

https://github.com/nodejs/node-v8/blob/canary/tools/msvs/msi/product.wxs#L261

And that variable is set into `build.bat` from server:
https://github.com/nodejs/node-v8/blob/fecbce45d1ad158d7e869b1d294f731704b65cb1/vcbuild.bat#L344

I guess it will be a matter to to set it properly into jenkins, isn't it @gibfahn ?

[2018-03-13 12:56] targos commented on #39
For reference, commits that landed:
https://github.com/v8/v8/commit/e6476f89307c516c22d5c87875925f53edf6b58e
https://github.com/v8/v8/commit/f45eca794c3e8da46e9f16fe9618eb29af4cd052

[2018-03-13 12:56] targos commented on #39
Also: https://github.com/v8/v8/commit/abcc28ced071faee637d5fd59d06cfdf80d8ea3f

[2018-03-14 19:37] gibfahn commented on #43
DistTypeDir is set in the ci-release job from DISTTYPE, which is a parameter in the job:

<img width="193" alt="image" src="https://user-images.githubusercontent.com/15943089/37426651-0ce80f26-27bf-11e8-9278-79c1c33f0856.png">

It should be release for regular releases.

[2018-03-15 15:10] joaocgreis commented on #43
`DISTTYPE` and `DISTTYPEDIR` are changed to `custom` by the build script when building v8-canaries (and others). The correct variable to use should be `RELEASE_URLBASE`.

[2018-03-16 11:02] mcollina commented on #40
This can be closed then

[2018-03-16 11:02] #40 closed

[2018-03-18 08:45] vsemozhetbyt commented on #42
See also: https://github.com/nodejs/node/issues/19424

[2018-03-22 16:23] #41 closed

[2018-03-22 16:24] targos opened #44 "Test failures on canary"
CI run: https://ci.nodejs.org/job/node-test-commit-linux/17279/nodes=centos7-64/console

[code]

[code]

[2018-03-22 16:39] cjihrig commented on #44
I can look into this one.

[2018-03-23 08:30] hashseed opened #45 "gmock and gtest are changing paths"
gmock and gtest are both dependencies of V8 pulled in via `gclient sync`.
See https://chromium-review.googlesource.com/c/v8/v8/+/639953

[2018-03-23 15:59] #45 closed

[2018-03-23 16:00] targos commented on #45
Thanks, I modified the update script :)

[2018-03-23 16:15] targos opened #46 "New deprecations"
These cannot be fixed on master:

[code]

[code]

[2018-03-23 17:29] targos commented on #46
Second one fixed in https://github.com/nodejs/node/commit/82df09fb751e4aabf88fb694e4d020a4374e3b01

[2018-03-27 16:26] cjihrig commented on #44
Fixes in https://github.com/nodejs/node-v8/pull/47

[2018-03-28 16:46] #44 closed

[2018-04-03 17:15] targos opened #48 "Canary build and test errors"
CI run: https://ci.nodejs.org/job/node-test-commit-node-v8/11/

## freebsd10 and osx

[code]

## smartos

[code]

## postmortem-metadata

[code]

[2018-04-03 19:58] cjihrig commented on #48
I'll look into it.

[2018-04-04 02:57] cjihrig commented on #48
Fixes for SmartOS and postmortem metadata in https://github.com/nodejs/node-v8/pull/49. I couldn't reproduce the macOS issue locally.

[2018-04-04 12:02] #48 closed

[2018-04-04 12:05] targos opened #50 "Build failure on FreeBSD and macOS"
CI run: https://ci.nodejs.org/job/node-test-commit-node-v8/11/

Error:
[code]

[2018-04-04 12:06] targos commented on #48
Opened https://github.com/nodejs/node-v8/issues/50 for the other issue

[2018-04-07 18:57] vsemozhetbyt opened #51 ""High-resolution TimeTicks are not available on this system.""
I have two machines with Windows 7 SP 1 x64 with a similar soft environment (I can build common node on both).

When I run the last nightly (`10.0.0-nightly2018040653aaa55a3a` with V8 `6.5.254.43-node.5`) on both, no warnings appear.

When I run the last v8-canary (`10.0.0-v8-canary20180405bbeda20b90` with V8 `6.7.227-node.0`) on both, one launch does not cause any warnings, another one emit this

[2018-04-07 19:03] targos commented on #51
Refs: https://bugs.chromium.org/p/v8/issues/detail?id=7617

Fixed by @MylesBorins in https://github.com/v8/v8/commit/9ca75fb6352ae2e18aa6dd3f7d55b3330ce82574

[2018-04-07 19:05] vsemozhetbyt commented on #51
Thank you! I this a hardware or software issue?

[2018-04-10 19:52] #51 closed

[2018-04-13 07:15] timusiiit123 opened #52 "Form data"
Hello,

I have made my own API without using express or in core NodeJS. I have an error when I post form data by Postman tool but when I try from raw-data it works what I need.

Error: **SyntaxError: Unexpected token u in JSON at position 1**

[2018-04-13 07:17] apapirovski commented on #52
I think you would be more likely to get help in https://github.com/nodejs/help/issues — this tracker is for `node-v8` issues only, not general help. Also if you do post in the help repo, most people would likely need a bit more info to help out. For example some actual code from the project or a more detailed description of what you're doing.

[2018-04-13 07:17] #52 closed

[2018-04-19 08:17] targos commented on #38
I think this can be closed

[2018-04-19 08:17] #38 closed

[2018-04-19 08:20] targos opened #53 "Torque"
Since https://chromium-review.googlesource.com/c/v8/v8/+/845682 landed upstream, we can no longer build V8 with gyp.

I suppose we will have to port `run_torque` from GN to GYP.

@nodejs/gyp
@nodejs/v8-update

[2018-04-19 09:00] bnoordhuis commented on #53
I can do that if there are no volunteers.

[2018-04-19 09:03] targos commented on #53
I'm not able to do it myself.

Whoever does that can base their work off this branch: https://github.com/nodejs/node/commits/canary-base

[2018-04-19 09:09] bnoordhuis commented on #53
The PR should still be against this repo, right?

[2018-04-19 11:26] targos commented on #53
Yes. I updated the canary branch so you can open a PR against it.

[2018-04-19 12:44] devsnek commented on #53
why can't we just update node to gn at this point

[2018-04-19 18:41] gibfahn commented on #53
@devsnek that is being discussed in a different issue (which I can't find right now), but the net is that porting V8 is quite straightforward, but porting other node dependencies will be much harder.

So if we're going to change (which I think most people think we should) we should make sure we pick the thing that's going to be easiest to maintain in the long term.

[2018-04-19 19:44] bnoordhuis commented on #53
#54 - torque, torque, torque, eat soup with a...?

[2018-04-19 20:35] hashseed commented on #53
Info on gyp/gn: https://docs.google.com/document/d/1gvHuesiuvLzD6X6ONddxXRxhODlOJlxgfoTNZTlKLGA/edit?usp=drivesdk

[2018-04-29 07:07] vsemozhetbyt commented on #53
Is there any ETA for canary build renewal?

[2018-04-29 07:32] targos commented on #53
When https://github.com/nodejs/node-v8/pull/54 is resolved. I think no-one looked into the windows error yet

[2018-05-01 11:41] targos commented on #50
This issue is now being tracked in https://github.com/nodejs/node/pull/19989

[2018-05-01 11:41] #50 closed

[2018-05-01 11:41] targos commented on #46
This issue is now being tracked in https://github.com/nodejs/node/pull/19989

[2018-05-01 11:41] #46 closed

[2018-05-01 11:44] targos commented on #53
Initial gyp implementation landed from https://github.com/nodejs/node-v8/pull/54. There should be a new canary build tomorrow.

[2018-05-01 11:44] #53 closed

[2018-05-01 11:46] targos commented on #42
/cc @nodejs/build

[2018-05-01 11:49] targos commented on #43
So what needs to be changed to fix this?

[2018-05-01 11:52] targos opened #55 "AIX build failure"
CI run: https://ci.nodejs.org/job/node-test-commit-aix/14644/nodes=aix61-ppc64/console

Error:

[code]

/cc @nodejs/platform-aix

[2018-05-01 11:54] targos opened #56 "FreeBSD build failure"
CI run: https://ci.nodejs.org/job/node-test-commit-freebsd/17432/nodes=freebsd10-64/console

Error:

[code]

/cc @nodejs/platform-freebsd

[2018-05-01 11:56] targos opened #57 "Windows build failure"
CI run: https://ci.nodejs.org/job/node-compile-windows/17787/label=win-vs2017/console

Error:

[code]

/cc @nodejs/platform-windows

[2018-05-01 12:31] refack commented on #57
I'll look into this. But if anyone else has a quick solution, please go ahead.

[2018-05-01 17:48] mhdawson commented on #55
@john-yan @jBarz

[2018-05-01 19:32] jBarz commented on #55
looking into it

[2018-05-02 11:54] bnoordhuis commented on #56
Probably missing an `#include <cstddef>` in v8-platform.h.

[2018-05-02 12:40] targos commented on #56
You mean `cstdlib`? CI run with `#include <stdlib.h>`: https://ci.nodejs.org/job/node-test-commit-freebsd/17459/

[2018-05-02 12:50] bnoordhuis commented on #56
Urh, yes, that's what I mean.

[2018-05-02 14:30] targos commented on #56
Upstream CL: https://chromium-review.googlesource.com/c/v8/v8/+/1039705

[2018-05-02 15:46] jBarz commented on #55
fyi, I am able to build the `canary-base` branch on my local aix machine using gcc 6.3.0.

[2018-05-03 03:16] refack commented on #57
I have a lead to a solution... 🤞

[2018-05-06 09:14] targos opened #59 "Missing postmortem constant"
[code]

[2018-05-06 09:15] cjihrig commented on #59
I'll look into it.

[2018-05-07 18:01] targos commented on #59
Fixed in https://github.com/nodejs/node-v8/pull/60

[2018-05-07 18:01] #59 closed

[2018-05-10 12:47] targos commented on #57
https://github.com/nodejs/node-v8/pull/58 should fix this

[2018-05-10 20:13] mhdawson commented on #55
We have updated the compiler to resolve that issue.

Running on nodejs/node-v8, refs/heads/canary

[code]

but that looks related to https://github.com/nodejs/node-v8/pull/58 @bnoordhuis as opposed to the error reported here.  @bnoordhuis

@jBarz you had mentioned that you had gotten it to compile ok before so I could be wrong about it being related to what @bnoordhuis is working on can you check

[2018-05-10 20:15] mhdawson commented on #55
Thinking about it I'm guess I'm most likely wrong and its more likely that we may not be up to date.  In any case @jBarz and @john-yan can you figure that out.

[2018-05-11 07:52] targos commented on #55
Today's canary build looks good on AIX, thanks!

https://ci.nodejs.org/job/node-test-commit-node-v8/32/

Do we need to update the requirements in https://github.com/nodejs/node/blob/master/BUILDING.md#aix or GCC 6.3 is good enough?

[2018-05-11 15:18] mhdawson commented on #55
@targos its still GCC 6.3, our previous install (bit of a long story) ended up having missed some files due to absolute symlinks that did not match were it is installed on the community machines.  We've fixed that.

[2018-05-11 16:35] targos commented on #55
Okay, this can be closed then!

[2018-05-11 16:35] #55 closed

[2018-05-12 21:42] vsemozhetbyt commented on #42
Last build has docs: https://nodejs.org/download/v8-canary/v11.0.0-v8-canary20180512d97ee1b000/

[2018-05-12 21:42] #42 closed

[2018-05-17 16:09] refack commented on #57
https://github.com/nodejs/node-v8/pull/61 might be simpler than 58 (since it doesn't require upstreaming)

[2018-05-18 12:00] targos opened #62 "CallOnBackgroundThread removed from v8-platform"
See:
https://chromium-review.googlesource.com/c/v8/v8/+/942823
https://chromium-review.googlesource.com/c/v8/v8/+/941944
https://chromium-review.googlesource.com/c/v8/v8/+/1045310

/cc @nodejs/v8-update @addaleax

[2018-05-18 12:01] targos commented on #62
Checkout https://github.com/nodejs/node/tree/canary-base for a branch without the API.

[2018-05-18 12:01] addaleax commented on #62
I think https://github.com/v8/node/pull/69 is what we want for this?

[2018-05-18 12:04] targos commented on #62
Right, that fixes it. Thanks!

[2018-05-18 12:04] #62 closed

[2018-05-18 13:31] targos opened #63 "macOS build failure"
CI run: https://ci.nodejs.org/job/node-test-commit-osx/18665/nodes=osx1010/console

[code]

[2018-05-18 13:37] targos commented on #63
Should be update XCode? /cc @nodejs/build

[2018-05-19 20:12] mhdawson commented on #63
@gdams could you take a look into this?  I wonder if its related to the version of Xcode or the target level of OSX.

[2018-05-24 16:18] targos commented on #57
Fixed in https://github.com/nodejs/node-v8/pull/61

[2018-05-24 16:18] #57 closed

[2018-05-27 11:19] lezsakdomi commented on #10
Can you link the new issue please? :)

[2018-06-04 18:32] targos commented on #63
Discussion can happen in the V8 6.8 update thread: https://github.com/nodejs/node/pull/21079

It is related to the version of Xcode. macOS 10.11 and 10.12 do not have this issue.

[2018-06-04 18:32] #63 closed

[2018-06-05 11:49] targos opened #64 "Missing postmortem constant"
[code]

/cc @cjihrig

[2018-06-05 15:15] mmarchini commented on #64
On it

[2018-06-06 06:56] #64 closed

[2018-06-09 21:39] targos opened #66 "Worker code needs to be adapted to canary changes"
After changes to the V8 API and commits https://github.com/nodejs/node-v8/commit/df12c1ddec8daadc9d6ac48e2501a362b7c53a92 and https://github.com/nodejs/node-v8/commit/508941fb36c50b13a4bdfb410d8a4a32fc0ee017, the new worker code fails to compile.

/cc @addaleax

[2018-06-09 22:42] addaleax commented on #66
This would be a fix for the compilation failures; there are test failures that look more complicated:

[code]

It might be worth noting that 508941fb36c50b13a4bdfb410d8a4a32fc0ee017, in this form, is semver-major, i.e. we can’t backport it to v10.x like this – not sure whether that’s an issue or not?

[2018-06-10 09:09] targos commented on #66
@addaleax thanks!

That's not an immediate issue, as this won't land before V8 6.9. We are currently not planning to pull V8 6.9 into v10.x AFAIK.

[2018-06-22 15:52] mmarchini opened #67 "Missing postmortem constant"
Missing `v8dbg_scopeinfo_idx_nstacklocals`

[code]

https://ci.nodejs.org/job/node-test-commit-custom-suites/47/default/console

[2018-07-02 19:40] targos opened #69 "Need help to unbreak canary builds"
The canary branch is currently broken because https://github.com/nodejs/node-v8/commit/714c686f422be53540c751bfc8463f60b593aee0#diff-91081f7e2c43274462308861f4191e3b is no longer valid after recent changes to `test/cctest/node_test_fixture.h` on master.
Would someone be able to help me unbreak it?

[2018-07-02 19:46] addaleax commented on #69
Is d6f7a32570994b21c628b517b3ddc863a1f059fb the conflicting change? I think it might be enough for now to remove the first part of the diff linked above in `test/cctest/node_test_fixture.h`?

[2018-07-02 19:51] targos commented on #69
Yes.

You mean to not add the two lines in `SetUp`? I tried to do that and the test crashes:

[code]

[2018-07-02 20:01] addaleax commented on #69
Ok, I’ll look into it … should be doable :crossed_fingers:

[2018-07-03 03:45] danbev commented on #69
Sorry about this! @addaleax Let me know if there is anything I can help out with. Thanks

[2018-07-03 07:59] danbev commented on #69
@addaleax I took a look and have a suggestion linked above. Feel free to ignore you have already started looking into this. I did not mean to step on your toes here, just felt bad bad that you are having to spend time fixing issues that I caused.

[2018-07-13 14:37] addaleax commented on #69
@targos Can you confirm that the linked patch works, at least as a temporary workaround?

[2018-07-13 15:17] targos commented on #69
@addaleax, @danbev. It does work, thanks!

I pushed the commit to canary: https://github.com/nodejs/node-v8/commit/c538b12bf889b4edb3d8208a0f6cdb3f07316669 and a subsequent one to fix a test (unrelated to this issue): https://github.com/nodejs/node-v8/commit/0f69779e0361307e14395e1f7c761c734243d189

[2018-07-13 15:22] targos commented on #69
Now, lkgr has advanced and I'm experiencing a new issue!

I pushed the current state to canary-base: https://github.com/nodejs/node/commits/canary-base.

Something related to ICU changed upstream, probably related to this commit: https://github.com/v8/v8/commit/3ba5445b8a0e31a0f45d9268286216da0c8dfe89#diff-4eaebbcd1dc0da11e3a3ce488290bfc6

Here is one of the errors I get:
[code]

[2018-07-13 15:24] addaleax commented on #69
/cc @srl295 ?

[2018-07-13 16:12] srl295 commented on #69
@addaleax i'm concerned about the inclusion of the icu deps folder.  `v8_enable_i18n_support` is turned on but we are changing which ICU is built. Seems like a v8 bug.

[2018-07-13 16:36] targos commented on #69
I think I understand what the problem is. After that commit, when `v8_enable_i18n_support` is turned on, more targets need to include ICU, similar to how it's done here for the main target:
https://github.com/nodejs/node/blob/45732c7c19672869a7e517e252c83b371a863bee/deps/v8/gypfiles/v8.gyp#L1820-L1824

[2018-07-13 16:42] srl295 commented on #69
That makes sense. The v8 change is to move more stuff to C++.

more stuff off without ICU..

On Fri, Jul 13, 2018 at 9:36 AM Michaël Zasso <notifications@github.com>
wrote:

[2018-07-13 16:53] targos commented on #69
/cc @nodejs/gyp

Tentative fix: https://github.com/targos/node/commit/adf23f2efb02ace58052d65d1e41a0d5b763b079

Now I see this error:

[code]

[2018-07-13 17:14] srl295 commented on #69
for reference, v8's bump to 62.1 https://chromium-review.googlesource.com/c/v8/v8/+/1111857#message-4f92f63a195703cf7cc65aea74efa2f9b8163f2d

[2018-07-13 22:55] srl295 commented on #69
@targos i finally realized there's a `test-v8-intl` …

[2018-07-21 11:02] targos commented on #69
Ping @nodejs/v8-update. Would someone be able to help with this forward declaration issue?

[2018-07-21 12:31] addaleax commented on #69
@targos I couldn’t reproduce that failure when building the current `canary` … sounds like adding `#include "unicode/regex.h"` in the failing file might be enough though?

[2018-07-21 12:41] targos commented on #69
@addaleax you can try with [`canary-base`](https://github.com/nodejs/node/commits/canary-base) or [`my branch`](https://github.com/targos/node/commits/canary-fix-icu) that has one additional commit.

[2018-07-21 14:22] addaleax commented on #69
[code]

seems to do the trick for me on your branch :tada:

[2018-07-21 14:57] targos commented on #69
Awesome, thank you! I had to fix a few other things but finally got it to compile :)

Update build: https://ci.nodejs.org/view/MyJobs/job/node-update-v8-canary/531/console

[2018-07-23 18:44] targos commented on #67
Fixed by https://github.com/nodejs/node/commit/cbe37b238c7134b46d8f4657bd930bd83581c597

[2018-07-23 18:44] #67 closed

[2018-07-23 18:45] targos opened #70 "Missing postmortem constants"
[code]

[2018-07-23 21:03] mmarchini commented on #70
Oh my, that's a lot of changes 😥

[2018-07-24 12:50] vsemozhetbyt commented on #69
Is it expected that we still have not new builds in https://nodejs.org/download/v8-canary/ ?

[2018-07-24 12:51] targos commented on #69
It's not. Let me check the release CI

[2018-07-24 12:54] targos commented on #69
The release job ends like this (Linux, x64):

[code]

[2018-07-24 13:10] targos commented on #69
lldbinit was removed in https://github.com/v8/v8/commit/3255d8dd4197c986b5fd290356cd575fb3234e00
Refs: https://github.com/v8/node/pull/75

I'm going to cherry-pick the commit to canary for new but we'll need to discuss the impact of this change when we upgrade to this version of V8.

[2018-07-24 13:17] targos commented on #69
New build with that commit: https://ci-release.nodejs.org/job/iojs+release/3593/

[2018-07-24 14:01] targos commented on #69
@vsemozhetbyt https://nodejs.org/download/v8-canary/v11.0.0-v8-canary201807247c08774a29/

OSX build still absent (https://github.com/nodejs/build/pull/1409 fill fix it)
Windows build fails like this:
[code]

[2018-07-24 14:07] vsemozhetbyt commented on #69
Thank you! Hope Windows builds will come around in some days)

[2018-07-24 14:10] targos opened #71 "Compilation failure on Windows"
CI run: https://ci.nodejs.org/job/node-compile-windows/19570/label=win-vs2017/console

[code]

[2018-07-24 14:10] targos commented on #69
I opened https://github.com/nodejs/node-v8/issues/71 to track the Windows failure

[2018-07-24 14:32] targos commented on #71
I think I found the problem. Forgot to add `src/snapshot/embedded-empty.cc` to `v8.gyp`.

[2018-07-24 18:23] #71 closed

[2018-07-24 18:29] targos opened #73 "Compilation failure on SmartOS"
CI run: https://ci.nodejs.org/job/node-test-commit-smartos/19027/

Error:
[code]

[2018-07-24 18:29] targos commented on #73
@nodejs/platform-smartos

[2018-07-25 06:07] targos opened #74 "Port torque_base to gyp"
https://github.com/v8/v8/commit/f31c6419ebd6362225fb1838d7ccbcae7bddeda4#diff-4eaebbcd1dc0da11e3a3ce488290bfc6

We'll need it to run V8 tests.

[2018-07-25 06:48] targos commented on #74
It doesn't seem necessary. `make test-v8` passes already.

[2018-07-25 13:15] refack commented on #74
AFAICT it's because the `torque` target covers these files, but we could replicate the refactoring.
https://github.com/nodejs/node-v8/blob/a7defddf340e425d68d3f54d7b583295e6c86d67/deps/v8/gypfiles/v8.gyp#L2606-L2633

[2018-07-26 08:21] targos commented on #70
Closing in favor of https://github.com/nodejs/node/pull/21983

[2018-07-26 08:21] #70 closed

[2018-07-26 08:24] targos commented on #73
Closing in favor of https://github.com/nodejs/node/pull/21983

[2018-07-26 08:24] #73 closed

[2018-07-28 09:32] vsemozhetbyt commented on #69
Thank you!

[2018-08-22 11:06] targos opened #75 "Port support for embedded builtins/embedded bytecode handlers to gyp"

[2018-08-25 08:58] targos commented on #75
@refack have you started working on it?

[2018-08-25 20:28] refack commented on #75
Working on it, off and on. Hope to finish by Monday.

[2018-08-31 14:33] vsemozhetbyt opened #76 "Last builds lack most of artefacts"
The last build with Windows artefacts:

https://nodejs.org/download/v8-canary/v11.0.0-v8-canary20180821b69fa228f2/

The next ones are almost empty:

https://nodejs.org/download/v8-canary/v11.0.0-v8-canary201808252a6f9e198d/
https://nodejs.org/download/v8-canary/v11.0.0-v8-canary201808264c9a3d4bb8/
https://nodejs.org/download/v8-canary/v11.0.0-v8-canary2018082770be48ba81/
https://nodejs.org/downloa

[2018-08-31 14:51] targos commented on #76
It lacks most of the platforms. For some reason that I haven't had time to investigate, the release builds fail:

https://ci-release.nodejs.org/job/iojs+release/3701/nodes=centos6-64-gcc6/console
[code]

[2018-08-31 14:52] targos commented on #76
Actually, the regular CI fails as well:

https://ci.nodejs.org/view/MyJobs/job/node-test-commit-node-v8/95/

[2018-08-31 14:58] targos commented on #76
For Linux, it looks like it's related to the compiler version. Only recent systems are able to compile V8.

[2018-08-31 15:40] targos commented on #76
/cc @nodejs/v8-update

[2018-08-31 15:47] targos commented on #76
The Windows issue was something else. I just fixed it.

[2018-09-01 10:06] targos commented on #75
@refack do you have a wip branch? I can try to help.

[2018-09-01 11:26] vsemozhetbyt commented on #76
It seems Windows binaries still absent:

https://nodejs.org/download/v8-canary/v11.0.0-v8-canary20180901a9c418f77e/

[2018-09-01 13:03] targos commented on #76
@vsemozhetbyt sorry I pushed the fix without testing it and of course it was wrong! I triggered a new build that should be fine: https://nodejs.org/download/v8-canary/v11.0.0-v8-canary20180901b949e11a12/ (x64 is still building)

[2018-09-01 13:09] targos opened #77 "Build failure on most Linux systems"
There seems to be something in V8's code that GCC 6 can't handle.

@nodejs/v8-update

CI run: https://ci.nodejs.org/job/node-test-commit-node-v8/98/

Error output:
[code]

[2018-09-01 13:09] vsemozhetbyt commented on #76
Thank you!

[2018-09-01 13:39] targos commented on #76
All Windows binaries are there. I move the Linux issue to another thread, so this can be closed.

[2018-09-01 13:39] #76 closed

[2018-09-01 15:44] refack commented on #77
I've made some progress by adding:
[code]
since we run with `-fno-exceptions` anyway.

[2018-09-05 20:22] targos opened #78 "failing test-trace-events-dynamic-enable"
This test was added in https://github.com/nodejs/node/pull/22114

That PR backported https://chromium-review.googlesource.com/1161518 from V8.

The problem is that the CL was reverted in https://chromium-review.googlesource.com/1162122 and never relanded.

/cc @ofrobots

[code]

[2018-09-06 21:16] ofrobots commented on #78
I'll take a look. I am working on relanding the original change upstream. I had to fix some thread-safety issues (unrelated to the nodejs/node#22114, but exposed by it) that caused the revert. The upstream fixes that have landed: https://github.com/v8/v8/commit/602aeb4, and https://github.com/v8/v8/commit/f964846. I am still working on the reland: https://chromium-review.googlesource.com/c/v8/v8/+

[2018-09-08 14:27] targos commented on #77
@refack sure, but you don't need to. You can start `node-test-commit` jobs against your fork

[2018-09-08 22:04] refack commented on #77
Well it's compiling, so https://chromium-review.googlesource.com/c/v8/v8/+/1215222

[2018-09-10 14:12] vulder commented on #77
It's not a gcc bug. It related to the function's exception specification that is generated for default members. If gcc decides to generate a default member without noexcept and we specify this member as noexcept the specification does not longer match. Therefore, we get an error.

[2018-09-10 14:50] refack commented on #77
@vulder thank for reviewing this. I'll try to supply as much info on the platforms where this fails:
One example is https://ci.nodejs.org/job/node-test-commit-linux/21235/nodes=ubuntu1604-64/
Machine is:
[code]
toolset:
[code]
The command line is:
[code]
[code]

[2018-09-10 15:01] vulder commented on #77
thx for the Infos:
I checked out a fresh copy of the node repo.
Build it with:
`CXX=g++-6 CC=gcc-6 ./configure --debug`
`CXX=g++6 CC=gcc-6 make BUILDTYPE=Debug V=2 all`
and it worked. Maybe I need to use a different build target, not sure. What did you use?

I see that you have gcc-5 installed and not 6 but before mentioned 6, does it work for you on 6 or do you get the same error?

[2018-09-10 15:24] refack commented on #77
Did you try building `https://github.com/nodejs/node-v8/tree/canary` or the `canary-base` branch of the "regular" node repo (it's where we keep V8 LKGR).

I picked one machine that failed, I'm not sure we have GCC 6 in our CI mix, and ATM our CI server is vvveerrryyy slow  https://ci.nodejs.org/job/node-test-commit-linux/21235.

For easier repro I've pre-processed the file:

[wasm-compiler.post.zi

[2018-09-10 15:29] targos commented on #77
I'm the one who mentioned GCC 6. It was because one of the failing CI run was on `centos7-64-gcc6`

[2018-09-10 15:57] vulder commented on #77
thanks, the file helped. It's what I expected.
I'm going to building a patch cl for v8 and send it to you for testing. If it compiles afterwards and your problems are fixed I'm going to land it an bug fix merge it into the last release, so you can pull in v8 as usual.

[2018-09-10 17:42] vulder commented on #77
Ok, sadly my first idea did not work -.-
I preprocessed the same file on my machine, the relevant parts of the code look the same.
Using gcc-6 I cannot figure out why ResultBase move constructor gets deleted in your version but not in my one.
Could you please compile the two attached files on your machine and post the output.

foo.cpp is just a smaller test that hopefully triggers the behavior.
[w

[2018-09-10 20:09] refack commented on #77
Your preprocessed file compiles, `foo.cpp` doesn't (I used all the `-D`s and `-I`s just because I'm lazy)...
[code]

[code]

[2018-09-11 07:07] targos commented on #75
Since https://github.com/v8/v8/commit/5a9f05560e5d6b608e6cdd73540845a365812b56, embedded builtins support seems mandatory to build V8.

The canary build fails with:
[code]

@nodejs/v8-update is that expected?

[2018-09-11 07:39] schuay commented on #75
@danelphick

Bytecode handlers were recently moved into the builtins list, and the CL mentioned above generates a bytecode handler macro list at compile-time. See the 'generate_bytecode_builtins_list' action added in https://github.com/v8/v8/commit/5a9f05560e5d6b608e6cdd73540845a365812b56#diff-4eaebbcd1dc0da11e3a3ce488290bfc6R990.

Support will probably have to be added in gyp. The steps are:
1. b

[2018-09-14 12:46] targos commented on #78
Any progress? I see there was some trouble with the reland CL

[2018-09-14 12:49] targos commented on #75
Thank you @schuay.

/cc @nodejs/gyp @nodejs/build

We are looking for someone who can do this work.

[2018-09-16 19:10] refack commented on #75
I have wip branch, but as usual I get sucked into other tasks... This weekend is it, or I'm giving up.

[2018-09-16 21:46] refack commented on #75
https://ci.nodejs.org/job/node-test-commit/21493/

[2018-09-16 21:47] refack commented on #74
I did that as part of the `builtins` patch.

[2018-09-16 21:53] refack commented on #39
@targos this still hasn't been done, right? I'll fold this into https://github.com/refack/node/tree/gyp-v8-embedded-builtins

[2018-09-16 21:56] refack commented on #77
Landed upstream as https://chromium-review.googlesource.com/c/v8/v8/+/1219632 (by @vulder)

[2018-09-17 10:30] targos commented on #77
Thank you @vulder and @refack!

[2018-09-17 10:30] #77 closed

[2018-09-17 10:33] targos commented on #39
This hasn't been done

[2018-09-17 10:35] targos commented on #75
https://ci.nodejs.org/job/node-test-commit/21509/

[2018-09-17 11:14] targos commented on #75
Error:
[code]

[2018-09-17 12:13] refack commented on #75
AFAICT this error is because of https://github.com/nodejs/node-v8/issues/39. I'll push code later today that should resolve this. 🤞

[2018-09-17 13:39] schuay commented on #75
It looks like these errors are all related to [Torque test builtins](https://cs.chromium.org/chromium/src/v8/test/torque/test-torque.tq).

[2018-09-17 17:31] ofrobots commented on #78
@targos I'm looking at this now.

[2018-09-17 18:48] ofrobots commented on #78
The ASAN issues in V8 CQ were legitimate, and should be fixed by this fix: https://chromium-review.googlesource.com/c/v8/v8/+/1228419. Here are the steps that need to happen:

1. Land the above mentioned fix.
1. Rebase https://chromium-review.googlesource.com/c/v8/v8/+/1188529 on top of the fix. It should land cleanly this time.
1. Pick up all these patches here.

Until then, we can either revert

[2018-09-17 23:27] refack commented on #75
https://ci.nodejs.org/job/node-test-commit/21547/

[2018-09-18 21:37] ofrobots commented on #78
Both changes have landed upstream.

[2018-09-19 01:26] refack opened #79 "aix: embedded-builtins generated code doesn't compile"
* **Version**: V8 7.1
* **Platform**: AIX

[code]

[embedded_default.cc.txt](https://github.com/nodejs/node-v8/files/2395076/embedded_default.cc.txt)

[2018-09-19 03:16] richardlau commented on #79
cc @nodejs/platform-aix

[2018-09-19 08:34] targos commented on #78
Nice! Can we try to have the changes backported upstream?

[2018-09-19 10:54] targos commented on #78
LMK if I should open an issue for the merge request

[2018-09-19 16:56] targos commented on #78
Merge request opened: https://bugs.chromium.org/p/v8/issues/detail?id=8199

[2018-09-20 12:37] #78 closed

[2018-09-21 14:46] V-for-Vasili commented on #79
@mhdawson @refack We have found out that embedded builtins do not work correctly on Aix and they were temporarily disabled (for gn build) in this patch: https://chromium-review.googlesource.com/c/v8/v8/+/1168085

This change does not affect GYP build.

[2018-09-21 15:46] refack commented on #79
@V-for-Vasili thanks. I will manually reflect this in the GYP scaffolding.

I'd like to keep this issue open, so we'll track when/if this is actually solved.

[2018-10-01 20:42] vsemozhetbyt opened #80 "There are no binaries since 10-Sep-2018"
[The last binary.](https://nodejs.org/download/v8-canary/v11.0.0-v8-canary20180910566e979d5c/)

[2018-10-01 20:59] richardlau commented on #80
See https://github.com/nodejs/node/issues/22757#issuecomment-425280376

[2018-10-05 06:32] targos commented on #75
Done in https://github.com/nodejs/node/pull/22920

[2018-10-05 06:32] #75 closed

[2018-10-05 06:32] targos commented on #39
Done in https://github.com/nodejs/node/pull/22920

[2018-10-05 06:32] #39 closed

[2018-10-05 06:32] targos commented on #74
Done in https://github.com/nodejs/node/pull/22920

[2018-10-05 06:32] #74 closed

[2018-10-05 06:32] targos commented on #79
Fixed in https://github.com/nodejs/node/pull/22920

[2018-10-05 06:33] targos commented on #80
Now that https://github.com/nodejs/node/pull/22920 landed, we can try to generate new binaries 🎉

Starting with canary update: https://ci.nodejs.org/view/MyJobs/job/node-update-v8-canary/618/

[2018-10-05 08:22] targos opened #81 "Port "MIPS: Implement 64-bit atomics in software" to gyp"
https://github.com/v8/v8/commit/408896a8b41751fea92e482c5eb4b858e7ffe68d

[2018-10-05 09:21] targos opened #82 "SmartOS build failure"
[code]

@nodejs/platform-smartos

[2018-10-05 13:18] cjihrig commented on #82
I'll take a look. Is this V8 7.1? Is the postmortem metadata test passing?

[2018-10-05 15:18] refack commented on #79
Do we want to keep track of this, since it wasn't actually fixed, rather disabled as a temporary workaround?

[2018-10-05 19:46] mhdawson commented on #79
From my understanding from @V-for-Vasili the gap in AIX will result in slower code but not functional problems.  Given that I think its ok to close and then things will speed up once we close the gap and the tests will be re-enabled when we either float the required changes or move up to a new v8 level.

[2018-10-06 08:31] #81 closed

[2018-10-06 09:03] targos opened #83 "Broken V8 test"
https://ci.nodejs.org/job/node-test-commit-v8-linux/1735/

https://ci.nodejs.org/job/node-test-commit-v8-linux/1735/nodes=benchmark,v8test=v8test/testReport/junit/(root)/v8tests/mjsunit_wasm_jsapi_harness/

[2018-10-06 11:40] targos commented on #83
It's because we need to fetch `v8/test/wasm-js`. The following patch fixes it:

[code]

@hashseed what do you think?

[2018-10-06 13:55] hashseed commented on #83
Do you run V8 tests relying on `fetch_deps.py`. It's originally intended for building node with `--build-v8-with-gn`, which doesn't depend on tests.

We could either go with your patch, or not run wasm tests at all. I'm fine with either.

[2018-10-06 14:34] targos commented on #83
Yes, we currently do this:

- Run https://github.com/nodejs/node-v8/blob/canary/tools/make-v8.sh to build V8
- Run V8 tests: https://github.com/nodejs/node-v8/blob/ac272b331988306812c2d3e8ddb022c0b3eed472/Makefile#L570-L576

Maybe there's a better way?

[2018-10-06 14:39] hashseed commented on #83
Does TAP_V8 include wasm tests?

[2018-10-06 14:44] targos commented on #83
No, it just contains the `--junitout` config flag.
But the test that's failing is in `mjsunit` directory: https://github.com/nodejs/node-v8/blob/ac272b331988306812c2d3e8ddb022c0b3eed472/deps/v8/test/mjsunit/wasm/jsapi-harness.js#L102-L104

[2018-10-06 14:46] targos commented on #83
Maybe that's actually a bug in the test? The 3 files are present in `mjsunit/wasm` so it doesn't seem necessary to load them from another place.

[2018-10-06 18:17] hashseed commented on #83
I think that the tests are ok. Wasm test suite is shared between implementations, but it includes utilities that are reused here.

I would be fine with changing `fetch_deps.py`. You could also add a new flag to indicate what we are fetching deps for, so that we don't need to fetch wasm tests for building V8.

[2018-10-11 17:20] #82 closed

[2018-10-11 22:20] targos commented on #83
I created https://chromium-review.googlesource.com/c/v8/v8/+/1278166

[2018-10-16 20:17] targos commented on #83
Change landed upstream. I'll open a merge request for 7.1

[2018-10-16 20:17] #83 closed

[2018-10-22 13:49] refack opened #85 "s390: 7.2 does not compile"
* **Version**: V8 7.2
* **Platform**: s390x a.k.a. LinuxONE
* **Subsystem**: assembler

https://ci-release.nodejs.org/job/iojs+release/nodes=rhel72-s390x-release/3859/console
[code]

[2018-10-22 21:35] mhdawson commented on #85
@john-yan can you take a look

[2018-10-22 21:37] john-yan commented on #85
This one fixes above error: https://chromium-review.googlesource.com/c/v8/v8/+/1293774

[2018-10-22 23:12] john-yan commented on #85
Another question: why would you test master (7.2) on the node CI? as master is not guarantee to be clean for s390x. We will continue to upstream necessary changes to fix master, but there will be a time period before we can put in our fix.

[2018-10-22 23:12] john-yan commented on #85
Same for ppc ports.

[2018-10-23 00:13] refack commented on #85
This is the "canary" repo, so things are not urgent.
We "canary" the V8 dev branch because we want to be ahead of the curve, and get early warning in case something breaks.

[2018-10-23 00:15] refack commented on #85
Specifically s390x and ppc, since V8 doesn't regularly CI them...

[2018-10-23 14:44] mhdawson commented on #85
@refack, V8 does regularly CI s390x and ppc in simulated mode so we have some coverage, but our community runs do add native coverage.

I think the main reason for the canary builds is to be seeing what problems might be coming in the future  not necessarily the platform coverage.  We probably could be testing more platforms but we never expanded from the initial set (its also not been a big probl

[2018-10-23 16:19] john-yan commented on #85
@refack Thanks for clarify this. As memtioned by @mhdawson , we do have simulator testing on Google's build farm from https://ci.chromium.org/p/v8/g/ports/console and we also run regular native testings internally to continuously monitor the master branch from V8. So we will likely catch most of the issues when they arises and put in fixes within 1~2 days. I don't think reports like this one is ne

[2018-10-23 16:29] refack commented on #85
Ack.

[2018-10-23 17:42] mhdawson commented on #85
Also that only applies to canary, for other branches opening an issue right away makes sense.

[2018-11-08 19:29] srl295 opened #86 "deps: v8 will require ICU 63"
When  https://crbug.com/v8/8401 lands in Node.js, ICU ≥63 will be required.  Looks like v8 may not check the version properly.

see also https://github.com/nodejs/node/issues/24253

Something like the following (not sure of the newline situation)

[code]

[2018-11-08 19:30] srl295 commented on #86
looks like commit 30a350f298732d6622712aa113d72fe3382c7f39

[2018-11-09 17:58] srl295 commented on #86
v8 is tracking this in
https://crbug.com/v8/8424 to make the requirement clear.

[2018-11-09 17:59] srl295 commented on #86
Fixed via https://github.com/nodejs/node/pull/24258

[2018-11-09 17:59] #86 closed

[2018-11-13 08:06] hashseed commented on #79
Not supporting embbeded builtins on AIX will become a deal breaker soon. We are planning to remove support for non-embedded builtins and that will break AIX. See https://bugs.chromium.org/p/v8/issues/detail?id=8043

[2018-11-13 09:03] targos commented on #79
Thanks for the update @hashseed. I'll reopen for more visibility.

[2018-11-14 19:45] mhdawson commented on #79
From talking with @V-for-Vasili we should see a PR to V8 to add support soon on AIX.

[2018-11-15 16:04] mhdawson commented on #85
Going to close out for now.

[2018-11-15 16:04] #85 closed

[2018-11-17 10:52] targos opened #87 "Failures with V8 (de)serialization"
Can be reproduced with the latest canary-base: https://github.com/nodejs/node/commits/canary-base

/cc @addaleax

[code]

[2018-11-17 11:03] targos commented on #87
Small repro:

[code]

[2018-11-17 11:16] targos commented on #87
Probably caused by https://chromium-review.googlesource.com/c/v8/v8/+/1339699

/cc @hashseed

[2018-11-17 13:28] targos opened #88 "V8 warns itself in v8.h"
Compilation output is filled with useless (for us) lines like the following:
Can we do something about it?

[code]

[2018-11-17 13:59] hashseed commented on #87
I already landed a fix to vee-eight-lkgr for this.

[2018-11-17 14:00] hashseed commented on #87
See 72e90edc20f2f0a05d77f278ac8649acc4991a8a

[2018-11-17 14:01] hashseed commented on #87
See https://github.com/v8/node/commit/72e90edc20f2f0a05d77f278ac8649acc4991a8a

[2018-11-17 14:01] refack commented on #88
I think the issue should be solved upstream, but until then we can undefine V8_DEPRECATION_WARNINGS and V8_IMMINENT_DEPRECATION_WARNINGS for scope of V8 in our gyp.

[2018-11-17 14:05] targos commented on #87
@hashseed ah, thanks! I watch that repo but GH doesn't send notifications for commits (which is a good thing, of course. But I missed the change).

[2018-11-17 14:07] targos commented on #87
I cherry-picked the commit

[2018-11-17 14:07] #87 closed

[2018-11-17 14:52] targos opened #89 "Broken build on Windows"
https://ci.nodejs.org/job/node-compile-windows/22413/label=win-vs2017/console

Error:

[code]

[2018-11-17 17:50] addaleax commented on #87
@hashseed Is this, like, the best solution to this issue? I’m just wondering, because I wouldn’t expect V8 to forbid JS execution unless there’s a technical reason to do so?

[2018-11-17 20:54] refack commented on #88
See https://github.com/nodejs/node/pull/24454

[2018-11-17 21:01] refack opened #90 "tracking: canary doesn't compile on s390 and ppcle"
* **Version**: `canary`
* **Platform**: `s390x` and `ubuntu@ppcle`
* **Subsystem**: V8

### s390x:
[code]

### ubuntu@ppcle
[code]

[2018-11-18 07:39] hashseed commented on #87
Executing arbitrary JS during deserialization is not intended because objects may not be fully initialized yet. While it's not a big issue for Node.js, it could cause breakage in Chrome due to the latter running untrusted JS.

[2018-11-19 16:52] mhdawson commented on #90
@john-yan can you take a look.

[2018-11-19 19:34] john-yan commented on #90
Please wait until these 4 changes get in:
https://chromium-review.googlesource.com/c/v8/v8/+/1342738
https://chromium-review.googlesource.com/c/v8/v8/+/1342977
https://chromium-review.googlesource.com/c/v8/v8/+/1342661
https://chromium-review.googlesource.com/c/v8/v8/+/1342978

remaining ppc issue has to be waited until:
https://chromium-review.googlesource.com/c/v8/v8/+/1336110

[2018-11-19 19:35] refack commented on #90
To reiterate this is just a tracking issue, and is related to our canary build. If you are already dealing with it, it would be enough if you just keep up in the loop.
FTR: Still relevant as of last night with V8 7.2.378

P.S. I just saw your reply @john-yan , thank you very much for the context.

[2018-11-20 14:48] refack commented on #89
@targos do you know which change made this regression?

[2018-11-20 14:52] targos commented on #89
@refack Probably this change: https://github.com/v8/v8/commit/bd8ed720cfa
Corresponding gypfile update: https://github.com/nodejs/node-v8/commit/0b2a344b28f983905b9eb12dcd26e60bebc7761a

[2018-11-21 12:44] bzoz commented on #89
FWIW manually changing `embedded.S` file type fixes compilation:
![image](https://user-images.githubusercontent.com/17704638/48842016-709b4700-ed93-11e8-9e89-1a9053e8f854.png)

[2018-11-21 13:07] bzoz commented on #89
Got it working, a GYP issue:
[code]

[2018-11-21 13:14] refack commented on #89
Thanks @bzoz, that's the patch I came up with

[2018-11-21 13:30] bzoz commented on #89
PR with fix: https://github.com/nodejs/node/pull/24553

[2018-11-21 18:57] refack commented on #89
So FTR windows-32 is a different error:
[code]

[2018-12-01 19:00] vsemozhetbyt commented on #89
Still no Windows binaries in the last Build?
https://nodejs.org/download/v8-canary/v12.0.0-v8-canary2018120142ec383074/

[2018-12-01 19:39] targos commented on #89
@ryzokuken fixed the canary branch today. Should be fine in the next build

[2018-12-02 19:06] ryzokuken commented on #89
The build is restored. Unless it's broken again, the binaries should be back up! :D

[2018-12-02 19:11] targos commented on #89
Windows build still fails:
[code]

[2018-12-02 22:00] ryzokuken commented on #89
@targos is it because of pending V8 upgrades? Doesn't seem to be so.

[2018-12-11 13:53] bzoz commented on #89
Fix inm https://github.com/nodejs/node-v8/pull/92

[2018-12-16 16:51] targos commented on #89
Fix landed in https://github.com/nodejs/node/commit/72c318e2761d271968dccd8822af3ac2243e6020

[2018-12-16 16:51] #89 closed

[2018-12-20 21:32] vsemozhetbyt opened #94 "Last canaries lack x86 binaries for Windows"
Not sure if this is intended, just a heads-up:

https://nodejs.org/download/v8-canary/v12.0.0-v8-canary20181217e2f11a7b92/
https://nodejs.org/download/v8-canary/v12.0.0-v8-canary2018121928d8a550c4/

[2018-12-21 09:37] targos opened #95 "Build failure on SmartOS"
CI: https://ci.nodejs.org/job/node-test-commit-smartos/22671/nodes=smartos17-64/console

[code]

[2018-12-21 09:40] targos commented on #79
It's done

[2018-12-21 09:40] #79 closed

[2018-12-21 09:42] targos commented on #94
This is because the build fails:

https://ci.nodejs.org/job/node-compile-windows/23300/label=win-vs2017-x86/console

[code]

[2018-12-21 09:46] targos commented on #94
That error is actually fixed in today's build.
But there's another one!

https://ci.nodejs.org/job/node-compile-windows/23313/label=win-vs2017-x86/console

[code]

[2018-12-21 14:21] cjihrig commented on #95
Will look into this.

[2018-12-21 19:05] cjihrig commented on #95
So, this isn't a SmartOS issue. The postmortem debugging metadata was pretty broken in V8. This should be fixed by https://github.com/nodejs/node-v8/pull/96, although the first commit there needs to be upstreamed.

[2018-12-26 18:17] bcoe opened #97 "coverage issues on canary"
* **Version**: v12.0.0-pre
* **Platform**: OSX
* **Subsystem**: process

I'm trying to test some changes @schuay, @hashseed, and I have been working on for block coverage, and I noticed some regressions on this branch with relation to coverage handling:

1. in `internal/process/coverage.js`, `coverageDirectory` is now `undefined` when entering the `writeCoverage` method; this suggests that `writeC

[2018-12-31 16:09] bcoe commented on #97
I've confirmed that the fix being discussed on `nodejs/node` corrects this issue.

[2018-12-31 16:09] #97 closed

[2019-01-07 21:12] targos opened #98 "Build failure on Windows"
See https://ci.nodejs.org/job/node-compile-windows/23577/label=win-vs2017/console

[2019-01-08 06:57] bzoz commented on #98
Those look like something is off with the source code:
[code]

[2019-01-08 14:33] refack commented on #98
Attempt at fixing https://github.com/nodejs/node/pull/25393.
If this works, I'll upstream.

[2019-01-10 20:18] mhdawson commented on #90
@refack is this still an issue?

[2019-01-10 20:19] mhdawson commented on #90
Actually, I'll answer that myself.  I think the answer is yes.  The originally reported issues were fixed but there have been new issues since them.

I'm wondering if this should be closed or if we should keep it.  I think a lot of the time canary will not be working for those platforms as canary is the bleeding edge and we are always catching up.

[2019-01-10 22:50] refack commented on #90
I'd say it's your (s390 & linux@ppc team's) call.

[2019-01-10 22:59] refack commented on #90
Wrong button (the time off made me rusty)
I'm thinking maybe there's a wider conversation to be had. Maybe we want to have a different CI/CR flow for these platforms....

[2019-01-16 14:49] mhdawson commented on #90
I think everything is fine except for Canary.  We might want to exclude them from the Canary builds but they should be good for everything else.

[2019-01-16 17:00] targos commented on #90
Do we care to know if/when they fail on canary? If not, I can remove them from the test job.

[2019-01-16 19:06] mhdawson commented on #90
@john-yan what's your take.  If they are not going to be passing more than 50% of the time it might be better to just remove them.

@targos since this would just be for canary but its the same job for release we'd have to be careful that they are only removed for the canary builds.

[2019-01-16 19:08] john-yan commented on #90
I don't think it's necessary to track master branch either.

[2019-01-16 19:08] targos commented on #90
@mhdawson It's a different job: https://ci.nodejs.org/view/MyJobs/job/node-test-commit-node-v8/

[2019-01-16 19:16] mhdawson commented on #90
Ok I was thinking of the nightly canary builds.  I'm fine removing it from the job testing canary v8 with Node. While I'd like our platforms to be there, at this point I think it adds more noise than benefit.

[2019-01-18 08:44] targos commented on #90
Ok, I removed `aix`, `plinux` and `linuxone` from the job. I think we can keep the release job as it is, so we get a chance to have canary builds on those platforms when compilation works.

[2019-01-18 14:17] mhdawson commented on #90
@targos  + 1

[2019-01-20 07:31] #95 closed

[2019-01-20 07:31] targos commented on #43
Is it still an issue?

[2019-01-20 07:43] targos commented on #94
Windows builds are still failing:

x64:
[code]

x86:
[code]

[2019-01-20 08:59] targos commented on #98
Was it fixed upstream? Or is this issue shadowed by https://github.com/nodejs/node-v8/issues/94#issuecomment-455844564?

[2019-01-20 11:38] vsemozhetbyt commented on #43
For the last Canary build for Windows (as of 2019-01-02), yes, the issue still exists.

[2019-02-08 17:27] targos commented on #90
@refack Is this resolved from your POV?

[2019-02-08 17:37] targos opened #100 "Broken V8 CI"
https://ci.nodejs.org/job/node-test-commit-v8-linux/2081/nodes=benchmark,v8test=v8test/console

Error:
[code]

[2019-02-08 17:39] targos commented on #100
Support for junit output was removed in https://github.com/v8/v8/commit/bd019bdb725cebaa34327634d73936cd7003d17c

[2019-02-08 18:11] refack commented on #100
Who do we talk to to get this back. JUnit is the lingua franca of Jenkins...

@nodejs/v8-update

[2019-02-08 18:14] hashseed commented on #100
I wasn't aware this was used. Is there no alternative? It's hard to maintain features we don't test upstream.

[2019-02-08 18:22] refack commented on #100
Ironically I wanted to port it to node-core's test.py, since ATM we output TAP and transform it to JUnit...

From what I see in that file you also dropped TAP so the only machine readable output format is your proprietary JSON?
https://github.com/v8/v8/blob/master/tools/testrunner/testproc/progress.py#L249

An alternative could be to write a transformer for that, but IMHO restoring those dropped 9

[2019-02-26 19:50] dcodeIO commented on #98
Would also appreciate Windows builds again :)

[2019-03-07 16:41] vsemozhetbyt commented on #94
Humble ping @nodejs/platform-windows : we have no Windows v8-canary builds for almost 3 months.

[2019-03-07 16:47] targos commented on #94
We are currently focusing on V8 7.3 here: https://github.com/nodejs/node/pull/25852
Once Windows builds are working there, maybe canary will be fixed as well.

[2019-03-14 13:55] modulesio opened #101 "Readme: explain ci"
The readme currently does not explain how the ci works.

I couldn’t find the source for the node 12 ci line for example. It would be useful to also know how the v8 lkgr is brought in, and what the current version of that is.

The broader question to clarify would be how exactly node and v8 come together, and result in the ci builds.

[2019-03-16 16:07] ryzokuken commented on #101
Hi @modulesio!

You're very right. That said, could you also make me understand why it is important to document all these publicly? A lot of these things don't bring a lot of value to the community when disclosed in my opinion (particularly because hardly anyone cares) and definitely increases the overhead in maintaining this fork.

[2019-03-17 01:02] refack commented on #100
No expected resolution?

[2019-03-17 06:04] hashseed commented on #100
@tmrts we should consider readding junit support.

[2019-03-17 15:42] vsemozhetbyt commented on #94
Last build has binaries for Windows: https://nodejs.org/download/v8-canary/v12.0.0-v8-canary20190317da0952ae7d/

So this can be closed. Thank you!

[2019-03-17 15:42] #94 closed

[2019-03-17 15:43] vsemozhetbyt commented on #98
Last build has binaries for Windows: https://nodejs.org/download/v8-canary/v12.0.0-v8-canary20190317da0952ae7d/

[2019-03-17 16:01] #98 closed

[2019-03-18 09:47] tmrts commented on #100
@hashseed agreed, I'll readd it this week.

Thanks for the details @targos @refack!

[2019-03-18 12:29] refack commented on #100
@tmrts, thanks for your consideration!

[2019-03-31 09:13] #88 closed

[2019-03-31 09:15] targos opened #102 "Windows build failure"
https://ci.nodejs.org/job/node-compile-windows/25607/label=win-vs2017/console

[code]

[2019-03-31 15:08] refack commented on #102
Seems like the generator doesn't handle `\` in paths:
[code]
![image](https://user-images.githubusercontent.com/96947/55290740-ec8e4700-53a4-11e9-8e6a-c7cbcd4d868e.png)

![image](https://user-images.githubusercontent.com/96947/55290757-34ad6980-53a5-11e9-81e5-4912f7831b8c.png)

Where `\b` = `\0x08`

[2019-03-31 15:39] refack commented on #102
https://github.com/nodejs/node-v8/blob/3c649ecee65eaf871dd8671896f84fea2e8da7c3/deps/v8/src/snapshot/embedded-file-writer.cc#L644
This doesn't work as expected (and BTW this is C++20)

Now that I think of it this is probably related to https://github.com/nodejs/node/pull/27017. This is a line from
`global_intermediate\torque-output-root\torque-generated\builtins-array-from-dsl-gen.cc`
[code]

[2019-03-31 15:54] refack commented on #102
Pushed a temporary patch as 42f8116d43cc002b98b3933c0af93b9fc3aad9b7
https://ci.nodejs.org/job/node-test-commit-node-v8/229/

[2019-03-31 20:05] refack commented on #102
Ok, seems like we were missing another small thing 17d955fe13fa02eb57b46f352ffbc3c9947e6282

https://ci.nodejs.org/job/node-test-commit-windows-fanned/26076/

[2019-03-31 21:23] refack commented on #102
Rebased 3c649ecee65eaf871dd8671896f84fea2e8da7c3...506610d5ae1aaeb69e5b82bd54095a9978533ace
Windows CI: https://ci.nodejs.org/job/node-test-commit-windows-fanned/26080/ ✔️

[2019-03-31 21:29] #102 closed

[2019-04-02 14:37] refack opened #103 "Build fails on centos7-arm64-gcc6"
[code]

[2019-04-05 11:28] refack opened #104 "GCC-4.9 crash on debian8-64"
[code]

[code]

@hashseed is there a way to reduce the pressure the generated files create? They are very compiler-intensive (for example they [stump the optimizer of MSVC 19.20.27508.1](https://developercommunity.visualstudio.com/content/problem/512352/compiler-doesnt-finish-142027508.html))

[2019-04-06 13:33] refack commented on #104
Seems like it's a broader issue, as compiler crashes for `master` as well.

[2019-04-07 15:03] vsemozhetbyt opened #105 "Last canaries lack binaries for some platforms"
Last successful for Windows:
https://nodejs.org/download/v8-canary/v12.0.0-v8-canary201904031b435ddb85/

Lacking:
https://nodejs.org/download/v8-canary/v12.0.0-v8-canary20190405929ef2a396/
https://nodejs.org/download/v8-canary/v12.0.0-v8-canary20190406ed9cfb8555/
https://nodejs.org/download/v8-canary/v12.0.0-v8-canary201904072d523c2b09/

[2019-04-07 15:35] refack commented on #105
Many other platforms are broken:
[code]
Some seem like actual V8 code issues
https://gist.github.com/refack/9ec1797d4da8df4590a0086bb22f1c8a

[2019-04-07 15:50] refack commented on #104
It's a memory limit issue
[code]
IMO compilation should not need more then 2GB RAM...

[2019-04-23 04:23] vsemozhetbyt opened #106 "No canary builds for fortnight"
The last semi-successful build is https://nodejs.org/download/v8-canary/v12.0.0-v8-canary2019040849acabe2eb/

[2019-04-23 04:57] targos commented on #106
Canary builds won't be possible until we upgrade ICU

[2019-05-10 17:42] refack opened #107 "V8 7.5 - Compilation issues on multiple platforms"
Refs: list of patches needed to get V8 7.5 to compile in MSVS on Windows https://github.com/nodejs/node-v8/commits/v8-7.5

Seems like there are a few code issues in [`7.5.288.2`](https://github.com/nodejs/node-v8/commit/2fef4d2f22b9f42042dcd96374e01dfc736bd782)
1. Access RIP register from thread context fails to compile on Windows/ia32, LinuxONE, CentOS7/ppcle, possibly others.
   * Windows can't

[2019-05-10 21:38] hashseed commented on #107
@schuay @ahaas does this ring bells?

[2019-05-13 09:46] schuay commented on #107
What are the missing symbols? Ideally we would avoid an `objects-inl.h` include in the snapshot file. As a shot in the dark, I suspect the include should be added in `src/snapshot/snapshot.h` instead, or wherever the missing symbols are used.

Could you open a bug at [crbug.com/v8/new](crbug.com/v8/new) with more details? AFAIK these functions *are* only used if `::IsWindows8OrGreater()` returns t

[2019-05-16 18:18] nolanmar511 commented on #106
Is it likely that v8-canary builds will become available again soon? (If so, any time line?)

[2019-05-16 18:31] refack commented on #106
IIUC https://github.com/nodejs/node-v8/issues/107 is the next blocker.

[2019-05-16 21:56] mhdawson commented on #107
@john-yan @midladfarca can you take look at the issues on linuxone/centos7/ppcle

[2019-05-17 13:01] john-yan commented on #107
Is there a CI link that I can take a look at?

[2019-05-17 13:10] refack commented on #107
https://ci.nodejs.org/job/node-test-commit/28626/
specifically:
LinuxONE - https://ci.nodejs.org/job/node-test-commit-linuxone/13350/nodes=rhel72-s390x/
CentOS7/PPC64 - https://ci.nodejs.org/job/node-test-commit-plinux/25808/nodes=centos7-ppcle/
AIX - https://ci.nodejs.org/job/node-test-commit-aix/23190/nodes=aix61-ppc64/

[2019-05-17 13:35] miladfarca commented on #107
Some of the Macros defined under `src/libsampler/sampler.cc`, to make `ucontext->uc_mcontext` host specific,  might have to be ported. We will investigate.

[2019-05-17 14:23] miladfarca commented on #107
Looking at `BUILD.gn` under `V8`, `"src/trap-handler/handler-inside-posix.cc",` is only being used when running on `v8_current_cpu == "x64"`. Same need to be implemented on Nodejs GYP, to only include the file when compiling on x64.

[2019-05-17 14:28] refack commented on #107
Oops, seems like I missed the indentation level in https://github.com/nodejs/node-v8/blob/b174edcd3298737b4c524a376188a8b879310734/deps/v8/BUILD.gn#L2951-L2984
Thanks, @miladfarca for the heads up.

[2019-05-17 23:35] refack commented on #107
CI passes for LinuxONE and CentOS7/PPC64 - https://ci.nodejs.org/job/node-test-commit/28645/ with latest https://github.com/nodejs/node-v8/commits/v8-7.5
AIX fails with `libv8_compiler_for_mksnapshot.a: not a COFF file`.

[2019-05-18 16:41] miladfarca commented on #107
@refack
`v8_gypfiles/v8.gyp`, line 890:
[code]
Shouldn't the type be 'none'? as this isn't marked as a static library in `BUILD.gn` and has no sources.

[2019-05-18 17:33] refack commented on #107
Makes sense. I've pushed a test in https://github.com/nodejs/node/commit/c10a83ed50da982503973ac3f64166d8796c5192.
(BTW: I'm working on adding a target types to GYP3 that are similar to GN's `group` and `config`)

[2019-05-20 08:36] hashseed opened #108 "V8 files moving"
Please be advised that due to slight changes to V8's code review guidelines, we need to move some source files. That may break the gyp build.

https://groups.google.com/forum/?#!topic/v8-dev/b3ELZa4JPss

[2019-05-22 12:57] refack commented on #106
We got _some_ canaries https://nodejs.org/download/v8-canary/v13.0.0-v8-canary201905227c86ec79a7/ 🎉 🤸‍♂

[2019-05-22 13:03] refack commented on #108
Thank you very much for the heads up! It indeed cough us mid-sync trying to get the v8-canary back to life...
Anyway we got the gypfiles a tiny bit more robust with: https://github.com/nodejs/node-v8/blob/7c86ec79a731b0643477390a776e561b903c9cda/tools/v8_gypfiles/v8.gyp#L319

So if you remember to ping us on `BUILD.gn` structure changes that require changing the scraping regex, that would be aweso

[2019-05-22 13:03] refack commented on #108
P.S. the canary is feeling slightly better https://nodejs.org/download/v8-canary/v13.0.0-v8-canary201905227c86ec79a7/

[2019-05-22 13:03] #108 closed

[2019-05-22 13:09] refack commented on #90
this cycle was resolved (and another one since then)

[2019-05-22 13:09] #90 closed

[2019-05-22 13:19] refack commented on #107
Update: most MSVC issues are triggered by setting `BUILDING_V8_SHARED`, which defines
https://github.com/nodejs/node-v8/blob/3fc3d9a8f17f1806ab9ee306c1db1ebd7a46e480/deps/v8/src/base/macros.h#L418
and `__declspec(dllexport)` forces the linker to look for instantiations of all templated methods.

We've unset it for now https://github.com/nodejs/node-v8/commit/379835a903da6660669c3e9f90c3d5f145bf378

[2019-05-23 00:53] mhdawson commented on #107
@miladfarca, @john-yan @gireeshpunathil can you help look at the AIX issue

[2019-05-23 01:24] miladfarca commented on #107
@mhdawson @refack is AIX having other problems? seems like the suggestions in the last comment fixes the issue?

[2019-05-23 18:08] mhdawson commented on #107
@miladfarca ok thanks, that was not clear to me when I scanned the issue. Thanks for clarifying.

[2019-05-25 15:19] targos commented on #103
this is being handled in https://github.com/nodejs/node/pull/27375

[2019-05-25 15:19] #103 closed

[2019-05-25 23:01] refack commented on #107
I'm going to close this issue since 75 has moved to https://github.com/nodejs/node/pull/27375 and we resolved most issues that we hit originally.

Thank you everyone for helping 🎩

[2019-05-25 23:01] #107 closed

[2019-05-25 23:03] refack commented on #104
Well issue has been resolved...

[2019-05-25 23:03] #104 closed

[2019-05-26 15:35] refack commented on #107
Refs: https://bugs.chromium.org/p/v8/issues/detail?id=9295 -  `v8_win64_unwinding_info` makes process hang on abort

[2019-05-28 13:18] refack commented on #100
ping? any news of this?

[2019-05-28 13:20] refack commented on #100
BTW you can rename this `xUnit` as the format has been adopted by multiple tools for several runtimes - https://en.wikipedia.org/wiki/XUnit#Test_result_formatter

[2019-06-01 15:30] refack commented on #106
Last couple of days we are back to full repertoire
https://nodejs.org/download/v8-canary/v13.0.0-v8-canary201906016be26d0c21/

[2019-06-01 15:30] #106 closed

[2019-06-01 15:30] refack commented on #105
Last couple of days we are back to full repertoire
https://nodejs.org/download/v8-canary/v13.0.0-v8-canary201906016be26d0c21/

[2019-06-01 15:30] #105 closed

[2019-06-06 21:51] refack opened #109 "known: canary is broken"
At least two issues:
- [ ] https://github.com/nodejs/node/commit/485a39b5d455692682d20786612a8c50944302fe doesn't float
- [ ] https://github.com/v8/v8/commit/437f680e19b50ce2c608fab1ecfe0be03bf28440 needs migrating

IIUC @ryzokuken is on it.

[2019-06-07 02:48] ryzokuken commented on #109
Done! 😄

[2019-06-07 02:48] #109 closed

[2019-06-15 02:30] ryzokuken opened #110 "Torque lint errors in V8"
Hi @hashseed! We've been hitting some snags while fixing canary with the new versions of V8 (7.7.x). Precisely, we have linting errors in the torque code. I have no clue how it could have passed the V8 CI?

[code]

[2019-06-15 02:30] ryzokuken commented on #110
/cc @targos @refack

[2019-06-15 07:13] hashseed commented on #110
@szuend

[2019-06-15 11:51] szuend commented on #110
This is weird. I remember removing some of these upstream while landing the CL that produces lint errors for unused macros.

Macros marked as unused can safely be removed from the code, *with one exception*: Macros _only_ used in asserts are wrongly reported as unused in release builds. As a workaround, such macros can be marked with `@export`.

[2019-06-17 06:24] targos commented on #110
The problem is that those three things are only used in `test/torque/test-torque.tq` which we don't build in Node.
Also `IsEmpty()` cannot be marked with `@export` because it's a method, not a macro.

[2019-06-17 07:29] targos commented on #110
Adding `test/torque/test-torque.tq` to `v8.gyp` seems to be enough. I'm building with it...

[2019-06-17 07:56] targos commented on #110
That did the trick

[2019-06-17 07:56] #110 closed

[2019-06-17 08:26] targos opened #111 "Failing es-module test on latest canary"
Test:
[code]

Stack trace:
[code]

![image](https://user-images.githubusercontent.com/2352663/59589371-10327500-90ea-11e9-9969-29560e748679.png)

I think it's the same issue as https://github.com/nodejs/node/issues/27492

/cc @devsnek @ryzokuken

[2019-06-17 08:45] guybedford commented on #111
We should just make these strongly held references if it is causing too
many issues, and then work out the right GC approach when someone has the
time to do that.

On Mon, 17 Jun 2019 at 10:27, Michaël Zasso <notifications@github.com>
wrote:

[2019-06-17 11:38] targos commented on #111
This also affects the build with [V8 7.6](https://github.com/nodejs/node/pull/28016): https://ci.nodejs.org/job/node-test-pull-request/23936/.

@guybedford do you know what to do exactly to mitigate that?

[2019-06-17 11:44] guybedford commented on #111
@targos it should just be a couple of lines to ensure that the map is a map of Persistent references.

[2019-06-17 12:23] targos commented on #111
From env.h: `std::unordered_map<uint32_t, v8::Global<v8::Function>> id_to_function_map;`

`v8::Global`, like `v8::Persistent` inherits from `v8::PersistentBase`. Are you saying that changing from `Global` to `Persistent` should prevent garbage collection of the functions? It's not obvious to me from reading V8's documentation.

[2019-06-17 12:37] guybedford commented on #111
Hmm ok then it should already be persistent. Perhaps just remove the code paths that are attempting to clear this in https://github.com/nodejs/node/blob/master/src/node_contextify.cc#L1123 then.

[2019-06-17 12:39] guybedford commented on #111
Where the actual clearing is being done in https://github.com/nodejs/node/blob/master/src/node_contextify.cc#L295. We can just allow these to accumulate rather than segfault.

[2019-06-18 06:49] targos commented on #111
@guybedford the only thing I would be able to do is stop making the reference weak. I'm afraid this would leak to a major memory leak for programs that use `vm.compileFunction`.

[2019-06-18 08:41] guybedford commented on #111
Yes that’s the best we can do without someone to put in the dev work to
ensure proper GC behaviors for these maps. We’ve had some discussions with
v8 and I believe we have the ideas for how such an approach might work, so
if someone is interested in working on it I’d be happy to discuss the
details here.

Otherwise, perhaps we can condition these maps on the experimental modules
flag to isolate th

[2019-06-18 17:08] guybedford commented on #111
To update here - the discussions with v8 were specifically about the GC cases for Module, which we worked out can work as long as we tie the references to the v8::Module itself since that should be live for as long as any of its closures (which could reference dynamic import).

The problem here is that Function is being disposed even when it might have closures that are live (that use dynamic impo

[2019-07-01 18:19] targos commented on #111
/cc @devsnek or @ryzokuken would you like to try and fix this? Or do you know who else might?

[2019-07-03 14:40] targos commented on #111
@guybedford feel free to ping anyone you might think of to help.

[2019-07-03 16:41] guybedford commented on #111
Thanks @targos, I'm not sure who else may be able to assist here unfortunately. Maybe other core C++ contributors? What sort of timeline are we looking at for these upgrade paths?

[2019-07-07 18:27] targos commented on #111
/cc @addaleax ?

[2019-07-07 18:28] targos commented on #111
This is no longer reproducible with canary but it is with V8 7.6: https://github.com/nodejs/node/pull/28016

[2019-07-07 19:40] addaleax commented on #111
Will take a look, thanks for the ping :)

[2019-07-07 19:57] guybedford commented on #111
@addaleax would be amazing to have your insights on these problems. Some discussion around the memory models here can be found in https://chromium-review.googlesource.com/c/v8/v8/+/1553008, as well as the other issues on Node around this. Just let me know if I can provide more information at all.

[2019-07-07 21:42] addaleax commented on #111
@guybedford Looking at everything… I think it would help if we had a way to get the `Script` instead of only the `Function` returned by `CompileFunctionInContext()`, because any code inside the script would refer back to the script and keep it alive? That’s an API change but seems doable to me.

[2019-07-09 20:54] guybedford commented on #111
@addaleax thanks for taking a look. That definitely sounds like the right sort of approach to me. Unless we could tie to the GC of the ScriptOrigin itself (since that is tied to the script and likely only the script)? But yes some v8 work is likely needed to do this properly either way.

[2019-07-09 21:18] addaleax commented on #111
Okay, I’ll go with that approach, try to come up with a patch for Node.js that resolves the issue and then open a V8 CL with the parts of it that should be upstreamed. Will keep you posted :+1:

Unfortunately, `ScriptOrigin` is purely a C++ object and not managed by the V8 heap, so GC doesn’t apply to it…

[2019-07-10 15:24] nolanmar511 opened #112 "Linux-64x builds missing from V8 canary on 7/10/19"
* **Version**: V8 canary from 7/10/19
* **Platform**: Linux x64

I tried to download the latest version of the V8 canary build using nvm and got a 404 error:
[code]

Looking at https://nodejs.org/download/v8-canary/v13.0.0-v8-canary2019071073fa564988/, I see that the files ending with "-linux-x64.tar.xz" and "-linux-x64.tar.gz" are not available for the latest v8 canary build, but were available f

[2019-07-10 23:46] addaleax commented on #111
Okay, that’s definitely not as straightforward as I hoped it would be – my (somewhat fragile) understanding is that there is no `v8::Script` API object that could be returned in this case, because V8 itself never actually exposes what it considers a script internally, and when we deal with a `Local<Script>` returned from the API we’re actually dealing with a function object, but no such object is

[2019-07-11 00:29] devsnek commented on #111
@addaleax is the function's SFI not usable in this case? iirc SFI maps directly to Local<Script>

[2019-07-11 00:48] devsnek commented on #111
I think this patch works... just waiting for 700 files to rebuild since i changed v8.h :(

[code]

[2019-07-11 01:08] devsnek commented on #111
can confirm the patch works :)

@hashseed is this too far removed from v8's api design to be upstreamed?

[2019-07-11 05:57] ryzokuken commented on #112
@nolanmar511 this might be because of build failures. @targos any idea what exactly happened?

[2019-07-11 06:04] targos commented on #112
The error on Jenkins is:

[code]

Probably a random connection failure. Let's see if it works today (the build will start in ~4 hours from now).

[2019-07-11 06:07] ryzokuken commented on #112
Closing this since there’s nothing more to be done. @nolanmar511 I am sorry if this caused any inconvenience, hopefully we will have the Linux builds up today.

@refack could we look into this infra fail and somehow make sure it doesn’t happen again (or maybe make automated retries if it does?)

[2019-07-11 06:07] #112 closed

[2019-07-11 14:25] nolanmar511 commented on #112
Thanks so much!
I can install the latest release -- glad to see it's not on-going!

[2019-07-11 20:14] addaleax commented on #111
@devsnek Since you have a compiled copy of that available … do you know *why* that works? I.e. what way the SFI is kept alive when the JS function object itself isn’t? And as for the API design, I guess that might partially depend on whether the function returns meaningful values for generic `function` inputs (i.e. non-top-level-functions)…

[2019-07-11 20:21] devsnek commented on #111
@addaleax

Not really... I tried reading through some v8 source last night and got lost very quickly

I added a `CHECK(shared->is_wrapped())` which is only set for functions that come from CompileFunctionInContext. (The same CHECK is in `CreateCodeCacheForFunction`)

[2019-07-11 20:27] addaleax commented on #111
I think in that case it might be preferable to return a second, optional, value from `CompileFunctionInContext` through an out parameter?

[2019-07-11 20:29] devsnek commented on #111
That also seems like a reasonable design, I'd just like to hear from someone on v8 about whether v8 is comfortable exposing that you can get a Script from a Function.

[2019-07-12 16:25] devsnek commented on #111
@nodejs/v8

[2019-07-12 18:44] hashseed commented on #111
The newly introduced API in @devsnek's patch looks useful. I'm not entirely sure about the context though.

[2019-07-12 19:00] devsnek commented on #111
@hashseed we need to avoid freeing internal data related to module resolution inside functions that were created with `CompileFunctionInContext`. An `import()` call can occur after the js function object is collected. Therefore, we need to track the lifetime of the SFI instead of the lifetime of the function object. The patch above would allow us to use the same approach we use with ContextifyScri

[2019-07-12 19:33] devsnek commented on #111
https://chromium-review.googlesource.com/c/v8/v8/+/1699698

[2019-07-13 06:07] hashseed commented on #111
Is the SFI being held alive by anything else than the JSFunction? The way I understand it, compileFunctionInContext always creates a new SFI, so the live time of both the SFI and the JSFunction should be the same?

[2019-07-13 17:11] devsnek commented on #111
@hashseed that's beyond my technical understanding of V8, but I think addaleax and I had the same idea that using the same lifetime handle that scripts use would result in the same behaviour.

[2019-07-14 05:24] hashseed commented on #111
Maybe we should understand the issue fully before adding an API to try to solve this.

Iiuc, you so far use a weak global handle on the JSFunction

[2019-07-14 05:52] devsnek commented on #111
@hashseed what does `import()` use as the referrer then? whatever it is using, that is the thing we want to use as the lifetime.

[2019-07-14 06:28] hashseed commented on #111
I don't actually know. Maybe @addaleax can provide some insight? I currently don't have a good way to browse code.

[2019-07-14 21:59] addaleax commented on #111
@hashseed So … I’m probably not saying anything that hasn’t been said before, but my top-level understanding of the situation is:

- `import()` requires some metadata to figure out how to import a module
- Storing only primitives for that metadata is too restrictive for Node’s needs (iiuc)
- `import()` calls can come from anywhere in a module/script source, so the metadata needs to be available as

[2019-07-15 02:33] devsnek commented on #111
I got as far as here

[code]

I haven't yet figured out where `function_closure` is set, but if we assume it's the actual js function closure, then the original code we have in core right now should already be working... so i'm very confused.

[2019-07-15 02:44] devsnek commented on #111
definitely the js function closure.
![](https://gc.gy/30863580.png)

so now the question is, how can this CallRuntime node reference the function closure even though it has been gc'd, causing node to crash.

[2019-07-15 05:54] hashseed commented on #111
But the problem is that as soon as the wrapper function gets collected, the SFI backing it could as well. And if it is currently not the case, it could be in the future, because that's simply an implementation detail.

The right way would be to expose the underlying `v8::internal::Script` as a `v8::ScriptOrModule` object. This is also passed as argument to `v8::HostImportModuleDynamicallyCallback`

[2019-07-15 07:19] hashseed commented on #111
Iiuc, when you compile a script or module, you pass in an id as part of the `PrimitiveArray` that is part of `HostDefinedOptions`. You use that id as a key to a pair of weak global handle to a V8 object, and a metadata object. The metadata object is passed to the JavaScript `import_callback`. Using the weak global handle, you link the lifetime of the metadata object to that V8 object. The requirem

[2019-07-15 09:07] addaleax commented on #111
@hashseed Thanks for confirming that, that’s kind of what I’ve been expecting.

@devsnek That sounds about right to me… do you want to look into modifying your CL to do this?

@hashseed That’s a good point, but I don’t really see another way for us to achieve this?

The metadata isn’t the function object, but we use the function object as the key for a weak map which stores the metadata object. I

[2019-07-15 13:19] devsnek commented on #111
@hashseed to clarify, holding a weak handle to a `ScriptOrModule` will work?

[2019-07-15 13:26] hashseed commented on #111
@devsnek yes, but currently there is no way to access a `ScriptOrModule` object except within the `HostImportModuleDynamicallyCallback`. I'm proposing to use `ResourceName` to store the metadata object directly on the `ScriptOrModule` object. That way, you don't need a map anymore.

[2019-07-15 13:28] devsnek commented on #111
@hashseed so i should change ScriptOrigin to take `Local<Value>` instead of adding a `GetScriptOrModuleForFunction`?

[2019-07-15 18:20] hashseed commented on #111
In that case let's add a Script::GetScriptOrModule(). Naming is a bit weird but whatever.

[2019-07-15 18:42] devsnek commented on #111
@hashseed do you mean `Function::GetScriptOrModule()`?

[2019-07-16 09:55] hashseed commented on #111
You are right. And I think as an out argument for CompileFunctionInContext would be best to limit the use of this feature. I don't think it makes sense to expose `v8::internal::Script` for every `v8::internal::JSFunction`.

[2019-07-16 15:11] devsnek commented on #111
@hashseed how does one do an out parameter with regard to handle scopes and such?

[2019-07-16 15:29] addaleax commented on #111
@devsnek You can either use a `v8::Global` (or other kind of persistent handle) for an out parameter, that would be easiest, or alternatively use a `v8::Local` as an out parameter and only perform the steps to create that handle outside of the handle scope that `RETURN_ESCAPED` uses. For the latter, it might be easiest to rename the current `CompileFunctionInContext` and replace it with a wrapper

[2019-07-17 06:31] hashseed commented on #111
Your solution works, but I made a few changes to make it cleaner :)

[2019-07-17 06:37] targos commented on #111
I think adding a new parameter might not be API or ABI compatible? How are we going to fix the issue in Node.js 12?

[2019-07-17 07:18] addaleax commented on #111
@targos It’s API-compatible, but not ABI-comptaible when done this way. When backporting to Node.js 12, we provide 2 functions, one with the old signature and one with the additional parameter included, i.e. `Foo(a, b = 0)` is split into `Foo(a)` (which just calls `Foo(a, 0)`) and into `Foo(a, b)`.

[2019-08-03 20:51] ryzokuken opened #113 "Whitespace issue on BUILD.gn"
There's an inconsistent whitespace symbol in BUILD.gn (https://github.com/v8/v8/blob/master/BUILD.gn#L94) that breaks `./configure` for Node. We've patched gyp internally to handle it, but it looks like a mistake and it should be patched to avoid similar issues.

/cc @hashseed I'll make a CL.

[2019-08-05 06:15] ryzokuken commented on #113
Fixed in https://crrev.com/8ab0eed20cb9336420937c016e3821ea7ef28985

[2019-08-05 06:15] #113 closed

[2019-08-05 06:18] targos commented on #113
Nice, thanks!

[2019-08-19 13:57] targos opened #114 "Failing test with V8 7.8"
[code]

It seems to be a bug in V8. I opened https://bugs.chromium.org/p/v8/issues/detail?id=9634 upstream

[2019-08-19 14:40] targos commented on #114
This is a won't fix per https://bugs.chromium.org/p/v8/issues/detail?id=9620

/cc @BridgeAR Do you have an idea on how to fix this?

The issue if that with V8 canary, the following script prints 1 instead of 3:

[code]

[2019-08-20 15:42] BridgeAR commented on #114
@targos it should be fine to just change the line offset by adding `2` in case we check for the function (https://github.com/nodejs/node/blob/85898e0aca26cee2e68aea9ba384e23cd4457849/lib/assert.js#L289). That way it should be fixed again.

[2019-08-20 15:48] targos commented on #114
maybe, but I'm afraid it's a special case when the function was created with `new Function()`. I'll try anyway, thanks.

[2019-08-25 06:46] ryzokuken commented on #114
@targos any updates?

[2019-08-25 06:55] targos commented on #114
No. Feel free to pick it up if you want.

[2019-08-25 07:01] ryzokuken commented on #114
@targos Okay, I'll let you know if I decide to pick it up.

[2019-08-25 07:03] ryzokuken commented on #114
I guess it's intentional: https://tc39.es/ecma262/#sec-createdynamicfunction

[2019-09-11 06:40] targos opened #115 "Segmentation fault in worker test"
On [canary-base](https://github.com/nodejs/node/commits/canary-base), there is currently one test failure:

[code]

Backtrace:
[code]

/cc @addaleax

[2019-09-11 07:08] targos commented on #115
Backtrace with debug build:

[code]

[2019-09-11 07:20] targos commented on #115
The line that fails: https://github.com/nodejs/node/blob/ebfb709b5f095c43f528affaaafe027efe6c223d/deps/v8/src/objects/backing-store.cc#L157

[2019-09-11 15:20] addaleax commented on #115
Thanks for the ping, I’ll look into it

[2019-09-12 05:36] addaleax commented on #115
I think this is v8/v8@b6b7de0d60b1dc4b72e953828e1d8d7333d1f6ce … since there are no accompanying API changes in V8, I think code that worked before should also work after, so this might be a bug in V8? I’ll still try to figure out what’s happening here exactly, but I think there might be a chance that V8 is trying to free an externalized SharedArrayBuffer instance on Isolate teardown.

Is Node.js

[2019-09-12 05:50] targos commented on #115
Here is the node V8 CI run for that commit: https://ci.chromium.org/p/node-ci/builders/try/node_ci_linux64_rel/b8906314882042544400
It is green but I don't see this test in the output.

[2019-09-12 05:55] targos commented on #115
Of course, you added the test less than a month ago, so without an up to date v8/node repo it won't be executed by the V8 CI

[2019-09-13 13:30] addaleax commented on #115
Hm yeah, I’m a bit stumped. The V8 change requires the `ArrayBuffer::Allocator` behind a `SharedArrayBuffer` to have a longer lifetime than previously, and while the change is one in the right direction, the different timing means that V8 tries to access it after we destroyed it.

[2019-09-13 13:36] addaleax commented on #115
So … what we could do, I think, is to store all `ArrayBuffer::Allocator` instances referenced by a Node.js `Environment` in a separate array that outlives the `Environment`, and then release those after the `Isolate` has been torn down – this isn’t a good solution, though, and one that requires a breaking change to our embedder API, at least temporarily (if we want to avoid memory leaks).

@targos

[2019-09-13 14:14] targos commented on #115
This change won't land on time for Node.js 13.0.0.
There are at least two options:
- We make the necessary breaking API changes before 13.0.0, allowing us to upgrade V8 when the version containing this change is released.
- We wait for the integration of this change in Node.js to adapt our API, locking us to the previous V8 version until Node.js 14.0.0 is released.

[2019-09-20 22:03] addaleax commented on #115
@targos Sometimes it’s good to get a bit of distance and think about it again :) Found a way to address this without API changes: https://github.com/nodejs/node/pull/29637

[2019-09-25 04:36] #115 closed

[2019-10-01 08:49] #114 closed

[2019-10-01 09:00] targos opened #116 "Node broken if v8_enable_31bit_smis_on_64bit_arch is on"
Following an upstream change, we tried to turn `v8_enable_31bit_smis_on_64bit_arch` on by default

The binary is broken in mysterious ways.

- `./node script.js` hangs without using any CPU.
  - `kill -s SIGUSR1 pid` makes it crash:
![image](https://user-images.githubusercontent.com/2352663/65947848-63ca9380-e439-11e9-8754-8c3d393cc14a.png)
- `node inspect script.js` crashes:
![image](https://user

[2019-10-01 09:03] targos commented on #116
Upstream change: https://github.com/v8/v8/commit/d68bf369cb8f2cdd2068dd8c31c2418b2b974c60

[2019-10-01 09:06] targos commented on #116
/cc @nodejs/v8

[2019-10-01 09:07] targos commented on #116
I pushed https://github.com/nodejs/node/commit/362d16c6a3809be62d53eb1a3c8333bb1784f373 to disable it for now.

[2019-10-01 12:54] ryzokuken commented on #116
/cc @hashseed @verwaest-zz

[2019-10-01 15:41] addaleax commented on #116
This is caused by an ABI mismatch between our build of V8 and the Node.js parts of the source; the `V8_31BIT_SMIS_ON_64BIT_ARCH` define needs to be set for both V8 and Node.js (and for addons) if the feature is enabled. On `canary/canary`, it is only set for V8.

[2019-10-01 15:58] targos commented on #116
is it a mistake we made when porting the flag to GYP or the same issue would happen with GN ?

[2019-10-01 16:06] addaleax commented on #116
If that’s a question directed at me – I really don’t know, sorry. The flag is a bit different from the other V8 flags, so it’s quite possible that this happened while porting the flag over. And either way, this seems like something that needs to be fixed in GYP; but:

I also remember there being a larger conversation about ABI compatibility and pointer compression. I think this flag needs to go in

[2019-10-01 17:38] targos commented on #116
Yeah, so defining `V8_31BIT_SMIS_ON_64BIT_ARCH` explicitly in `common.gypi` fixes it. Is it because the macro is used in V8's headers?

[2019-10-01 17:40] addaleax commented on #116
Yes, and because it doesn’t define a feature, but rather a format that V8 and its consumer have to agree on (namely how to pass integers through the API from and to V8).

[2019-10-01 17:52] richardlau commented on #116
Does this flag have implications for n-api (i.e. existing addons wouldn't work on builds with this defined?

[2019-10-01 17:56] addaleax commented on #116
@richardlau No, N-API is unaffected because that’s a fully separate ABI.

[2019-10-04 11:43] isheludko commented on #116
It looks like these two CLs were not merged to Node:
https://github.com/v8/node/commit/7dffdf0ac3a4c8d7e0b8a29f597756b02b2f43a2
https://github.com/v8/node/commit/a044ce1c5fc26f24f5011758b217283109b2601f

[2019-10-08 16:14] vsemozhetbyt opened #117 "Last canaries lack Windows binaries"
The last Windows build is [of 2019.09.12](https://nodejs.org/download/v8-canary/v13.0.0-v8-canary201909122854701dc7/).

[2019-10-08 16:55] ryzokuken commented on #117
@targos

[2019-10-08 17:14] targos commented on #117
Error:

[code]

[2019-10-09 20:47] sam-github opened #118 "node-test-commit-node-v8 is all red, is this expected?"
@nodejs/v8, see https://ci.nodejs.org/view/All/job/node-test-commit-node-v8/

Poking about to see if this is expected I found:
- https://ci.nodejs.org/job/node-test-commit-linux/nodes=centos6-64-gcc6/30132/console failed becuse test-softlayer-centos6-x64-1 only has Python 2.6, and since 12.x 2.7 or later is required, see
https://github.com/nodejs/node/blob/v12.x/BUILDING.md#note-about-python-2-and

[2019-10-10 11:04] targos commented on #118
I transferred this issue to the `node-v8` repo. We can talk about the existing failures and what should be done about them.

[2019-10-10 11:50] targos commented on #118
SmartOS failure is:

[code]

/cc @cjihrig

[2019-10-10 11:51] targos commented on #118
macOS failure is:

[code]

/cc @MylesBorins

[2019-10-10 11:54] targos commented on #118
Failure on Debian 8 is:

[code]

[2019-10-10 11:55] targos commented on #118
Test failure on alpine linux with `test.sequential/test-net-bytes-per-incoming-chunk-overhead`:

[code]

[2019-10-10 17:28] targos commented on #118
@cjihrig yes

[2019-10-10 19:36] targos commented on #117
Also: https://github.com/nodejs/node-v8/issues/118#issuecomment-540535900

[2019-10-11 08:38] targos commented on #116
I added the variables and macros to `common.gypi` in https://github.com/nodejs/node/commit/048918afe31d03149e690182197cda91aa9964d2

[2019-10-11 08:38] #116 closed

[2019-10-14 06:36] targos commented on #118
Now it's also failing on [CentOS 7](https://ci.nodejs.org/view/MyJobs/job/node-update-v8-canary/1086/console):

[code]

[2019-10-15 00:46] cjihrig commented on #118
@targos, please cherry-pick these commits:

- https://github.com/cjihrig/node-1/commit/ba518b980a1587165b27b59e3f7caeda4162660e - this updates V8's postmortem generation script, and I'll upstream it.
- https://github.com/cjihrig/node-1/commit/59a3ce8a34998de312ed6dcd1fc68bd610365084 - this updates the failing postmortem metadata test to use the correct constants.
- https://github.com/cjihrig/node-

[2019-10-22 17:43] vsemozhetbyt commented on #117
Seems fixed in today build: https://nodejs.org/download/v8-canary/v13.0.0-v8-canary20191022e5d3472f57/

[2019-10-22 17:43] #117 closed

[2019-10-23 13:07] targos commented on #118
most issues are now fixed and we can track the remaining at https://github.com/nodejs/node/pull/30020
thanks @cjihrig for the postmortem patches

[2019-10-23 13:07] #118 closed

[2019-10-28 10:56] targos opened #119 "V8 compilation error on PPC"
See: https://ci.nodejs.org/job/node-test-commit-v8-linux/2590/nodes=ppcle-ubuntu1404,v8test=v8test/console

[code]

@nodejs/platform-ppc

[2019-10-28 17:12] miladfarca commented on #119
It seems like `v8_enable_backtrace = true` is missing from `GN` flags, could you try to add this flag and recompile V8.

[2019-10-28 17:26] miladfarca commented on #119
Flag should be added to the Jenkins job which runs `gn`. The above console output shows the current flag is set to the following:
[code]
`v8_enable_backtrace = true` can be be added to the args list.

[2019-10-29 07:32] targos commented on #119
Trying: https://ci.nodejs.org/job/node-test-commit-v8-linux/2594/

[2019-10-29 08:03] targos commented on #119
It builds, but hits another error:

[code]

[2019-10-30 02:51] miladfarca commented on #119
I checked out `node-v8`, fetched dependencies according the the `console` output and tests start normally.

I did however get the above error on a V8 checkout with older dependencies, running "gclient sync" fixed it.

Could you try rerunning  a fresh Jenkins job? I also don't have access to thar machine, could you  please add my key for any further investigations, I got permission here: https://gi

[2019-10-30 07:22] targos commented on #119
/cc @nodejs/build-infra ^

[2019-10-30 19:08] sam-github commented on #119
Anyone with @nodejs/build access can add authorized keys to test machines (if an issue exists to say its OK!). I added @miladfarca.

[2019-10-31 17:51] miladfarca commented on #119
There seems to be a bug in Python versions prior to `2.7.9` which produces the above error:
https://bugs.python.org/issue21591
https://github.com/pyinstaller/pyinstaller/issues/1408
https://github.com/django-extensions/django-extensions/issues/1219

Python version on this machine is `2.7.6`. This is the V8 CL which has introduced this issue:
https://chromium-review.googlesource.com/c/v8/v8/+/18649

[2019-10-31 18:54] sam-github commented on #119
I can schedule python updates if it ends up that is what's necessary. It'll require updates to all the ansilbe scripts that build python for those hosts (likely, unless some are getting it from package repos with updates, but thats not likely).

I'd need an explicit list of hosts that need the update - all `*ppc64*`? just ubuntu? just centos? Its not clear ATM.

Also, I'd need a minimum python2 ve

[2019-11-01 00:22] miladfarca commented on #119
Thanks Sam,
I have proposed a change for a workaround in this CL, waiting for a review:
https://chromium-review.googlesource.com/c/v8/v8/+/1893647

Let's see if they accept the change considering Python 3 is going to replace it sometime very soon. If not then we might have to upgrade Python to at-least `2.7.9` (preferably `2.7.15+`).

[2019-11-04 13:46] miladfarca commented on #119
above CL is now landed. Issue should be solved on the next lkgr build.

[2019-11-04 14:20] targos commented on #119
Thanks.

Before closing this, can I ask why `v8_enable_backtrace=true` fixed the issue?
Should we also set it in our .gyp files to build Node.js?

[2019-11-04 14:29] miladfarca commented on #119
We always had this flag in our V8 internal builds, I feel this might be a gcc limitation where not having the backtrace symbols causes lambda related syntax errors. More info can be found here:
https://www.gnu.org/software/libc/manual/html_node/Backtraces.html

[2019-11-05 08:02] #119 closed

[2019-11-17 17:07] miladfarca commented on #119
This is CL is now merged https://github.com/v8/v8/commit/0c3906f4dce0aadf3675687837642aa838c80567 however it's breaking Python 3 compatibility as @cclauss has mentioned and I will have to revert it.

@sam-github The only way to get around this bug is to upgrade our python versions from `2.7.6` to
any version above `2.7.9`. I have tested `2.7.15+` and it works fine, was wondering if you could help

[2019-11-17 17:22] cclauss commented on #119
As discussed in nodejs/build#1802

[2019-11-17 18:12] sam-github commented on #119
Is reworking https://github.com/v8/v8/commit/0c3906f4dce0aadf3675687837642aa838c80567 so that it works for py2 and py3 not a much easier option, and one which would increase the robustness of the v8 built scripts?

I checked the three machines you listed, they all use latest package python2 from the distro, so in order to update we'll have to abandon using pre-packaged binaries and build python fr

[2019-11-17 19:10] miladfarca commented on #119
The above Cl is the only workaround possible from a syntax point of view which is not compatible with py3. This is valid py2 syntax, it's just that our python versions are too old and need to be patched.
There might be more of such commits as they are preparing v8 to use with py3, seems like we might need to patch some of our machines.

These are the only 3 machines I noticed on the job, there cou

[2019-11-18 15:15] targos opened #120 "Failing test: test-inspector-multisession-ws"
[code]

[2019-11-18 19:01] targos commented on #120
@nodejs/inspector

[2019-11-18 19:02] targos commented on #120
This is with V8 lkgr (canary branch of this repo{

[2019-11-18 21:43] sam-github commented on #119
@miladfarca I think you only found one single syntax that works for both py3 and py2.7.9+, but I'm suggesting a conditional: if py3 do X, if py2 do Y.

As you point out, google is going towards python3, so time spent trying to update python2 seems a bit  pointless.

We'll do the update if its blocking, but no packages exist, so its a matter of building from source, and its necessary to find all th

[2019-11-18 21:44] sam-github commented on #119
I guess this issue needs to be reopened?

[2019-11-18 21:56] mhdawson commented on #119
@sam-github should be able to generate that list.

If ' if py3 do X, if py2 do Y.' is an option then that will save us a bunch of time (unless of course we later have to upgrade for some other reason).

[2019-11-19 15:07] miladfarca commented on #119
The problem is python will byte-compile your source file before starting to execute it. The whole file must at least parse correctly. My previous patch isn't a correct syntax in python 3 so something like this:
[code]
won't even run with py 3 as `exec "print(dir())" in {}` is invalid syntax (but the only workaround possible to the above python2 bug).

[2019-11-19 15:17] cclauss commented on #119
I have seen other projects deal with this using
[code]

However, my strong preference would be that we drop support for Python < 2.7.9.

[2019-11-19 19:17] miladfarca commented on #119
I have created a new CL which uses a combination of `eval` and `compile`. Doesn't look pretty but it
works in both py2 and 3. Waiting for it to be reviewed:
https://chromium-review.googlesource.com/c/v8/v8/+/1925028

[2019-11-19 19:44] sam-github commented on #119
Should we be opening another issue to get the V8 builds to use python3?

I'm not very familiar with the V8 build jobs:

Do they support python 3? I've seen some comments which I can't find ATM that indicate that the google tools might not all be py3 capable yet.

Do they auto-detect python, and prefer python3 if found? If so, we could just install python 3 on some set of machines -- "install" via

[2019-11-19 19:52] targos commented on #119
V8 builds fail with Python 3, because Google tooling is not compatible.
See https://ci.nodejs.org/job/node-test-commit-v8-linux/2640/ for example.

[2019-11-19 20:04] sam-github commented on #119
OK, in that case, patching as little as possible until they support python3, then moving to python3 would be my preferred path. If we can't get them to be a bit more lenient with the patch version of 2.7 they support, then we'll be forced to move away from distro-packaged Python.

[2019-11-20 13:49] miladfarca commented on #119
V8 community has now removed the entire "preparser" (which includes the line we are changing) in favour of "cctest/test-parsing":
https://chromium-review.googlesource.com/c/v8/v8/+/1926147

[2019-11-22 16:18] vsemozhetbyt opened #121 "No Windows builds since 2019.11.07"
[Last successful build.](https://nodejs.org/download/v8-canary/v14.0.0-v8-canary20191107f476177e93/)

[2019-11-22 16:39] targos commented on #121
If you would like to help investigate when it happens, check this CI job: https://ci.nodejs.org/view/MyJobs/job/node-test-commit-node-v8/

At the moment, compilation fails on Windows and a fix is being worked on here: https://chromium-review.googlesource.com/c/v8/v8/+/1924356

[2019-11-23 13:55] targos commented on #121
Next error: https://ci.nodejs.org/job/node-compile-windows/29988/label=win-vs2017/console

[code]

[2019-12-04 10:16] targos opened #122 "Failing test: test-assert"
[code]

[2019-12-04 10:18] targos opened #123 "Broken V8 build on S390x"
https://ci.nodejs.org/job/node-test-commit-v8-linux/2674/nodes=rhel72-s390x,v8test=v8test/console

/cc @nodejs/platform-s390

[code]

[2019-12-04 10:27] BridgeAR commented on #122
Just a guess: I believe the V8 team considered removing `stackframe.getFunction()`. That function is necessary for this test to pass.

[2019-12-04 10:38] targos commented on #122
`getFunction` still returns a function. The problem seems to be that it returns a reference to the `assert.ok` function instead of the function being tested (created with `new Function()`)

[2019-12-04 10:39] targos commented on #122
This is where it fails:

https://github.com/nodejs/node-v8/blob/35eb0577120e3353dc652a59801850dd56b62649/test/parallel/test-assert.js#L912-L920

[2019-12-04 10:43] BridgeAR commented on #122
That sounds like a breaking change? I guess it could also something that was not intentional and regressed?

[2019-12-04 10:47] targos commented on #122
/cc @nodejs/v8

[2019-12-04 14:24] targos opened #124 "Build broken on FreeBSD"
https://ci.nodejs.org/job/node-test-commit-freebsd/29907/nodes=freebsd11-x64/console

[code]

Note that according to the CI run, compiler is too old:

[code]

[2019-12-04 14:24] targos commented on #124
/cc @nodejs/platform-freebsd

[2019-12-04 14:26] addaleax commented on #124
Adding `#include <functional>` to `src/base/template-utils.h` is probably enough?

[2019-12-04 14:27] devnexen commented on #124
https://github.com/nodejs/node/blob/master/BUILDING.md#fn7

[2019-12-04 14:27] targos opened #125 "Build broken on SmartOS"
https://ci.nodejs.org/job/node-test-commit-smartos/29426/nodes=smartos18-64/console

[code]

/cc @nodejs/platform-smartos

[2019-12-04 14:35] targos opened #126 "Build broken on Windows (VS2019)"
https://ci.nodejs.org/job/node-compile-windows/30296/nodes=win-vs2019-x86/console

[code]

[2019-12-04 14:36] targos opened #127 "Blockers for the update to V8 8.0"
We've got quite a few things to fix this time!

- [ ] [Failing test-inspector-multisession-ws](https://github.com/nodejs/node-v8/issues/120)
- [x] [Failing test-assert](https://github.com/nodejs/node-v8/issues/122)
- [x] [S390x fails to build](https://github.com/nodejs/node-v8/issues/123)
- [x] [FreeBSD fails to build](https://github.com/nodejs/node-v8/issues/124)
- [x] [SmartOS fails to build](ht

[2019-12-04 14:37] targos opened #128 "Build broken on Windows (VS2017)"
https://ci.nodejs.org/job/node-compile-windows/30296/nodes=win-vs2017/console

[code]

[2019-12-04 14:39] targos opened #129 "Broken debug build"
https://ci.nodejs.org/job/node-test-commit-linux-containered/16511/nodes=ubuntu1804_sharedlibs_debug_x64/console

[code]

[2019-12-04 14:40] targos opened #130 "Incomplete zlib.gyp"
V8 now has a dependency on a Chromium's fork of zlib.
I made a minimal port of the GN file to GYP that works on my Linux machine but it is not enough.

https://github.com/nodejs/node-v8/blob/canary/tools/v8_gypfiles/zlib.gyp
The gyp file for our copy of zlib: https://github.com/nodejs/node-v8/blob/canary/deps/zlib/zlib.gyp

https://ci.nodejs.org/job/node-cross-compile/26378/nodes=cross-compiler-ar

[2019-12-04 16:15] mhdawson commented on #123
@miladfarca can you take a look.

[2019-12-04 17:14] cjihrig commented on #125
I'll take a look at this, but it might be a few days. I'm currently sick, plus I have a few other things going on ATM.

[2019-12-04 18:18] addaleax commented on #129
https://chromium-review.googlesource.com/c/v8/v8/+/1950971

[2019-12-04 18:26] targos commented on #125
No problem, thanks!

[2019-12-04 18:52] miladfarca commented on #123
Is it possible to clear any cached files? `export 'CXX=ccache s390x-redhat-linux-g++'` seems to be interfering with the dependencies. I unset `CC` and `CXX` and compiled it successfully.

[2019-12-04 18:55] targos commented on #123
@nodejs/build ^

[2019-12-04 19:49] ryzokuken commented on #122
@targos I guess it makes sense to open an issue on the V8 issue tracker?

[2019-12-04 19:56] richardlau commented on #123
On the machine you can run `ccache -c` or `ccache --cleanup` to wipe the cache completely. Maybe we could add some logic to `select-compiler.sh` to optionally (via an option on the Jenkins jobs) set the `CCACHE_RECACHE` environment variable which would ignore the stored cache but write the new results?

https://ccache.dev/manual/latest.html

[2019-12-04 20:02] targos commented on #122
@ryzokuken sure, would you like to do it? Best would be to have a repro using d8.

[2019-12-05 07:06] ryzokuken commented on #122
@targos on it.

[2019-12-05 07:29] targos commented on #129
Fixed upstream. Thank you @addaleax !

[2019-12-05 07:29] #129 closed

[2019-12-05 07:32] targos commented on #124
CI with that change: https://ci.nodejs.org/job/node-test-commit-freebsd/29927/

[2019-12-05 22:58] miladfarca commented on #123
Thanks  @richardlau , Just ran the above command to clear cache. @targos is it possible to run the Jenkins job again.

[2019-12-05 23:01] richardlau commented on #123
Started a rebuild: https://ci.nodejs.org/job/node-test-commit-v8-linux/2679/

[2019-12-05 23:05] richardlau commented on #123
Still failed 😞

[2019-12-05 23:50] miladfarca commented on #123
I ran the command as root, does it have to be ran as iojs? is it possible to delete the files manually or even disable the cache on Jenkins as a test?

[2019-12-06 00:01] richardlau commented on #123
Yes, it probably should be run as `iojs` (the default location of the cache is `$HOME/.ccache`). Also I misread the [manual](https://ccache.dev/manual/latest.html) and we should run `ccache -C` (capital `C`)/`ccache --clear` to wipe the cache (`--cleanup` is housekeeping).

I've gone ahead and done so and kicked off another build: https://ci.nodejs.org/job/node-test-commit-v8-linux/nodes=rhel72-s3

[2019-12-06 00:11] richardlau commented on #123
Still failed. I'm not even sure `ccache` is being used as I cleared it (with `ccache -C`) and `ccache -s` shows the cache size as 0.0 kB after the failed build.

[2019-12-06 00:43] miladfarca commented on #123
As another try, could you also clear the Jenkins workspace. Want to make sure it is fully downloading the latest dependencies.

[2019-12-06 00:51] richardlau commented on #123
I already did for https://ci.nodejs.org/job/node-test-commit-v8-linux/2681/nodes=rhel72-s390x,v8test=v8test/console as https://ci.nodejs.org/job/node-test-commit-v8-linux/nodes=rhel72-s390x,v8test=v8test/2680/console errored with `You have unstaged changes`.

[2019-12-06 04:11] miladfarca commented on #123
Seems like `g++` is being used to compile part of the V8 dependencies where `gcc` should have been used. Looking a closer look at `tools/make-v8.sh` under `s390x` we have:
[code]
Which is causing the issue. Is gcc pointing to `CXX (g++)` for a specific reason? If not then I have made this PR to fix the issue: https://github.com/nodejs/node/pull/30817

Turns out `export 'CXX=ccache s390x-redhat-lin

[2019-12-06 08:25] targos commented on #124
@addaleax that fixes it, thanks! Would you like to open a CL?

[2019-12-06 12:37] addaleax commented on #124
Sure, done: https://chromium-review.googlesource.com/c/v8/v8/+/1955584

[2019-12-06 13:34] targos commented on #122
Actually the solution is to revert https://github.com/nodejs/node/commit/5981fb7faa13de95550b01272ebfbd8a5220aadb

[2019-12-06 13:34] #122 closed

[2019-12-06 19:33] nolanmar511 opened #131 "Most recently published v8 canary builds don't have files for most systems"
I absolutely love being able use the V8 canary builds!
The most recently published builds are giving me some issues, though.

When I try to install the latest V8 canary build, I get a 404 error:
[code]

When I visit  https://nodejs.org/download/v8-canary/v14.0.0-v8-canary2019120581584c67f0/ only a few of the usual builds are listed:
[code]

I assume this is related to the recent build failures.

[2019-12-06 19:37] addaleax commented on #131
Yeah, I could imagine this is related to the https://github.com/nodejs/node-v8/issues/127 failures … I think the builds here come from our release CI to which I don’t have access to, but maybe @targos could confirm that that’s the cause?

[2019-12-06 23:10] targos commented on #131
Yes, in particular, the Linux build fails because of https://github.com/nodejs/node-v8/issues/130

[2019-12-07 05:54] richardlau commented on #123
@miladfarca No idea -- I'm not even sure what purpose creating the symlinks in `$BUILD_TOOLS` serves but you probably understand the V8 build system better than I do.

In any case I've landed https://github.com/nodejs/node/pull/30817.

cc @targos

[2019-12-07 12:43] targos commented on #123
Last canary build is fine: https://ci.nodejs.org/job/node-test-commit-v8-linux/2687/

Thanks for the fix!

[2019-12-07 12:43] #123 closed

[2019-12-07 12:45] targos commented on #130
The include bug is fixed.

[2019-12-07 12:48] #124 closed

[2019-12-08 03:56] cjihrig commented on #125
@targos can you try https://github.com/cjihrig/node-v8/commit/ce607e4f83dbdd09c06b4d2370d1a6add3563d8e, https://github.com/cjihrig/node-v8/commit/cfd61037745fc96a1f4908077377795a2c87a53d, and https://github.com/cjihrig/node-v8/commit/4177a696c4a2699b16a1033837a989f853cbc139. Only the third commit is SmartOS specific. The first two are about postmortem metadata, which should be broken on all platfo

[2019-12-09 09:47] targos commented on #131
There are now files for Linux and macOS

[2019-12-09 22:40] mhdawson commented on #123
@miladfarca Thanks !

[2019-12-10 13:39] targos commented on #126
/cc @nodejs/platform-windows

[2019-12-10 13:39] targos commented on #128
/cc @nodejs/platform-windows

[2019-12-10 15:05] targos commented on #125
@cjihrig thanks, I applied your commits.

Now it errors with: `16:00:19 dtrace: failed to compile script src/v8ustack.d: line 414: failed to resolve V8DBG_CLASS_CONSSTRING__FIRST_STRING: Unknown variable name`.
Maybe V8 changed it already in the mean time?

[2019-12-17 14:04] bnoordhuis commented on #127
@targos Does https://github.com/nodejs/node-v8/issues/130#issuecomment-562848278 mean that the "incomplete zlib.gyp" bullet point should be checked off?

[2019-12-17 14:10] targos commented on #127
@bnoordhuis I suppose we can check it off because it's no longer a blocker, but I didn't implement the conditions to load optimized code depending on the platform.

[2019-12-17 16:26] targos commented on #125
Ping @cjihrig

[2019-12-17 17:03] cjihrig commented on #125
I'm working on setting up a new SmartOS instance to test on. I haven't forgotten about this.

[2019-12-17 19:39] cjihrig commented on #125
@targos, looking at this again, I think the constants in  https://github.com/cjihrig/node-v8/commit/4177a696c4a2699b16a1033837a989f853cbc139 are just missing an extra `_`. I think https://github.com/cjihrig/node-v8/commit/d677605bfb79c016cae863f4dd8f2cd8936d8715 should do the trick instead.

[2019-12-17 19:40] cjihrig commented on #125
Also, unrelated to this issue, but related to updating V8, have you seen https://github.com/nodejs/node/issues/30916#issuecomment-565743054? I don't think that issue can be addressed in the main repo yet.

[2019-12-30 19:47] ryzokuken opened #132 "zlib broke ninja build"
The new zlib stuff on v8 (see: #130) broke the ninja build. Currently it fails on canary with:

`ninja: error: obj/deps/zlib/zlib.ninja:39: multiple rules generate libzlib.a [-w dupbuild=err]`

[2019-12-30 19:47] ryzokuken commented on #132
cc @targos

[2019-12-31 13:14] targos commented on #132
I can't reproduce on Linux

[2020-01-01 14:11] ryzokuken commented on #132
@targos oops, my bad, it's broken on MacOS. Can you/someone confirm that it doesn't work on MacOS?

[2020-01-01 14:12] ryzokuken commented on #132
ninja version: 1.9.0

[2020-01-13 13:08] targos commented on #132
@ryzokuken is it fixed by https://github.com/nodejs/node-v8/pull/135 ?

[2020-01-13 13:08] #130 closed

[2020-01-13 13:12] targos commented on #131
I'm closing this as a duplicate of https://github.com/nodejs/node-v8/issues/127.

[2020-01-13 13:12] #131 closed

[2020-01-13 13:13] targos commented on #121
Windows build issues are tracked at https://github.com/nodejs/node-v8/issues/128 and https://github.com/nodejs/node-v8/issues/126

[2020-01-13 13:13] #121 closed

[2020-01-13 13:47] targos commented on #125
Applied fix to canary. Thank you!

[2020-01-13 13:47] #125 closed

[2020-01-14 00:41] Zaseth commented on #127
Is this still being worked on? I would love to have the latest v8.

[2020-01-15 02:10] gengjiawen commented on #126
Also you can see the error from github action.

Log from: https://github.com/nodejs/node-v8/runs/388526007
[code]

[2020-01-15 15:42] gengjiawen commented on #126
Looks like path generated not right.
Compatibility issue with node-gyp ? cc @nodejs/node-gyp

![image](https://user-images.githubusercontent.com/3759816/72447396-3b9c5000-37f0-11ea-9ea0-1faf06f90bd8.png)

[2020-01-15 15:47] richardlau commented on #126
node-gyp isn't used to build Node.js. It's possible there's an issue with gyp but it's not failing on the current master.

[2020-01-16 07:09] gengjiawen commented on #126
Which part in `gyp` handles include directive, looks like a path format problem.

[2020-01-16 07:38] richardlau commented on #126
Aren't those #include directives written out by torque?

[2020-01-16 08:43] gengjiawen commented on #126
Looks like not the root cause, Node.js master branch with same path.

[2020-01-16 09:54] gengjiawen commented on #126
Another possible cause (right panel is current repo) :
![image](https://user-images.githubusercontent.com/3759816/72514167-24f60780-3889-11ea-88ce-1784f74deeb8.png)

[2020-01-16 12:42] targos commented on #126
I can probably handle the unresolved symbols. I did that in the past (it's about inline methods that should be moved from `.h` to `-inl.h`)
Now we need to find out what put those quotes and how to prevent that.

[2020-01-16 12:42] targos commented on #126
Thanks @gengjiawen for your help on this

[2020-01-17 07:14] richardlau commented on #126
I think there should at least be a space between `..\..\deps\v8\src\torque\runtime-support.h` and `&quot;`. @targos Looks like there's a missing comma at the end of this line https://github.com/nodejs/node-v8/blob/be1fee99d2864e7423c3f340f70f861501a59e97/tools/v8_gypfiles/v8.gyp#L284

[2020-01-17 07:32] richardlau commented on #126
Let's see if fixing the missing comma gets the build further along: https://github.com/nodejs/node-v8/pull/136

[2020-01-17 08:25] richardlau commented on #126
Looks like it fixed the quote issue and gets to the same unresolved symbols.

[2020-01-17 11:12] targos commented on #132
ping @ryzokuken

[2020-01-17 11:13] targos commented on #126
Building on my computer to fix the unresolved symbols.

[2020-01-17 11:39] targos commented on #126
Well, I cannot reproduce the errors on my PC (VS 2019). Node builds fine now...

[2020-01-17 12:47] targos opened #137 "V8 zlib target fails for cross-compilation"
https://ci.nodejs.org/job/node-cross-compile/27290/nodes=cross-compiler-armv7-gcc-6/console

[code]

[2020-01-17 14:11] targos commented on #126
Actually, VS2019 is fixed 🎉

https://ci.nodejs.org/job/node-compile-windows/31309/

[2020-01-17 14:11] #126 closed

[2020-01-18 03:37] gengjiawen commented on #128
Thought on add visual studio 2017 to github action ?

[2020-01-18 05:19] cclauss commented on #128
Both [__2017__](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/software-installed-on-github-hosted-runners#visual-studio-2017-enterprise) and [__2019__](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/software-installed-on-github-hosted-runners#visual-studio-2019-enterprise) are available on GitHub Actions if you want to take a shot

[2020-01-18 07:07] gengjiawen commented on #128
Yeap. But I want github action only do the least job. We have jenkins for full CI.
Maybe only add vs2017 to this repo only ? cc @targos @richardlau

[2020-01-18 07:10] gengjiawen commented on #127
Yeap. We have just fixed build issue on vs2019. Still some work todo. See https://github.com/nodejs/node-v8/issues/127#issue-532724601 for update.

[2020-01-18 07:10] targos commented on #128
What kind of information could a github action give us that's not already part of our CI job result?

[2020-01-18 07:14] gengjiawen commented on #128
Automatically trigger for PR and push.

Also the build log won't lost. ci.nodejs.org/job/node-compile-windows/30296/nodes=win-vs2017/console is broken.

But I am quite insist on this, we got vs2019 on github action anyway.

[2020-01-18 09:12] richardlau commented on #128
The GitHub runner containing VS2017 is being removed soon:

https://help.github.com/en/actions/automating-your-workflow-with-github-actions/software-installed-on-github-hosted-runners#windows-server-2016

[2020-01-18 09:28] richardlau commented on #128
(Also our Windows builds using GitHub Actions are broken at the moment failing to install `nasm`.)

[2020-01-18 09:32] gengjiawen commented on #128
Yeap, there websites is down.

[2020-01-18 10:02] gengjiawen commented on #128
Looks like this happen multi times https://github.com/microsoft/vcpkg/issues/2777

[2020-01-19 19:16] vsemozhetbyt opened #138 "last node-v8 REPL issue"
* **Version**: v14.0.0-v8-canary2020011995087de57b
* **Platform**: Windows 7 x64
* **Subsystem**: REPL

This is OK in 13.6.0 and v14.0.0-nightly20200119b318926634, but throws in v14.0.0-v8-canary2020011995087de57b:

[code]
It seems all the intermediate evaluations are saved in the context. See:
[code]

[2020-01-19 19:44] cclauss commented on #138
[code]

[2020-01-19 19:51] vsemozhetbyt commented on #138
[code]

[2020-01-19 19:54] cclauss commented on #138
BEFORE you attempt to (re)define it, `foo` is already set to `1`?

[2020-01-19 19:57] vsemozhetbyt commented on #138
No:
[code]

[2020-01-19 21:06] cclauss commented on #138
OK.  So there is no bug here.  You can defined a const once and only once in a run.  If you want to redefine a const then you need to reboot.

[2020-01-19 21:14] vsemozhetbyt commented on #138
But i do not redefine the const:
[code]

[2020-01-19 21:15] cclauss commented on #138
Please try same with `bar`.

[2020-01-19 21:16] vsemozhetbyt commented on #138
The same in  13.6.0 and v14.0.0-nightly20200119b318926634:
[code]

[code]

[2020-01-19 21:17] vsemozhetbyt commented on #138
[code]

[2020-01-19 21:25] vsemozhetbyt commented on #138
Also notable:
Google Chrome 81.0.4029.3 Dev with V8 8.1.187:
[code]

Google Chrome 81.0.4031.0 canary with V8 8.1.218:
[code]
It seems something happens between V8 8.1.187 and V8 8.1.218 (the last node-v8 canary has 8.1.222).

[2020-01-19 21:40] vsemozhetbyt commented on #138
Is this the same issue? https://bugs.chromium.org/p/chromium/issues/detail?id=1043151

[2020-01-24 17:54] SFx2018 commented on #127
any news? :D looking forward for it :D

[2020-01-24 17:55] addaleax commented on #127
@SFx2018 There is a checklist at the top of this PR :)

[2020-01-25 11:10] vsemozhetbyt commented on #138
In Chrome, this seems fixed at least since V8 8.1.281.

[2020-02-06 07:40] hashseed commented on #127
V8 had to make some changes to make building with zlib work again: https://chromium-review.googlesource.com/c/v8/node-ci/+/2037570

[2020-02-10 19:47] SFx2018 commented on #127
any ETA for release for nodejs?

[2020-02-13 01:13] vsemozhetbyt commented on #138
Seems fixed in [14.0.0-v8-canary202002123546737a75](https://nodejs.org/download/v8-canary/v14.0.0-v8-canary202002123546737a75/). Thank you.

[2020-02-13 01:13] #138 closed

[2020-02-19 02:37] gengjiawen opened #139 "zlib build fail on windows platform"
[code]

[2020-02-20 07:32] gengjiawen commented on #139
cc @nodejs/platform-windows @mscdex

[2020-02-20 11:19] seishun commented on #139
It seems after [this change](https://chromium.googlesource.com/chromium/src/third_party/zlib/+/ee4f17204f61e39851f833199965e72a76e5437f%5E%21/#F4) zlib requires the X86_WINDOWS define to be set on Windows.

[2020-02-22 02:54] mmarchini commented on #120
FYI, I'm looking into this (couldn't find any PRs referencing this issue, so I assume no one fixed it yet). The child process (the process being inspected) is segfaulting when it receives a `Debugger.pause`. I was able to reproduce this outside test with:

[code]

[code]

[code]

Stack from core dump:

[code]

Interestingly enough, this only happens with `--inspect-brk` -> `Debugger.resume` -> `De

[2020-02-22 04:29] mmarchini opened #140 "`./configure --debug` not working without `--experimental-enable-pointer-compression`"
[code]

With `--experimental-enable-pointer-compression` it works though.

[2020-02-22 06:59] targos commented on #140
@nodejs/v8

[2020-02-22 09:57] mmarchini commented on #120
My current theory is that we're hitting pause right after a script is loaded, parsed, maybe even compiled, and pushed onto the stack, but it's not quite ready to run yet.

Why this is happening so frequently? When `session.on` runs, it will `require` files in the inspector thread. When `console.log` runs, it will require several files if they were not required yet. Since the script is so small and

[2020-02-22 10:37] mmarchini commented on #140
FWIW:

[code]

[2020-02-22 10:58] mmarchini commented on #140
Upstream bug: https://bugs.chromium.org/p/v8/issues/detail?id=10257

[2020-02-24 07:31] targos commented on #120
@mmarchini thanks a lot for looking into this!

[2020-02-26 02:41] gengjiawen commented on #139
close via https://github.com/nodejs/node-v8/pull/141.

[2020-02-26 02:41] #139 closed

[2020-02-26 10:12] gengjiawen commented on #128
current error on visual studio 2017:

[code]

[2020-02-26 17:16] mmarchini commented on #140
Should be fixed on lkgr

[2020-02-26 23:18] mmarchini commented on #120
Likely caused by this change: https://chromium-review.googlesource.com/c/v8/v8/+/1876821. Now the NativeContext has a SCRIPT_SCOPE attached to it instead of a FUNCTION_SCOPE. Will keep digging, I think we might be using the NativeContext in an incompatible way compared to the new behavior.

[2020-02-27 10:12] gengjiawen opened #142 "failed on test-finalization-group"
Full log: https://github.com/nodejs/node-v8/runs/469163730

[code]

[2020-02-27 10:13] gengjiawen commented on #142
cc @devsnek

[2020-02-27 13:14] gengjiawen commented on #128
New fix: https://github.com/nodejs/node-v8/pull/143.

[2020-02-27 14:55] #128 closed

[2020-02-27 14:56] #142 closed

[2020-02-27 14:57] targos commented on #142
@gengjiawen you may want to watch https://github.com/v8/node/ for fixes that the V8 team applies when they make backwards-incompatible changes.

[2020-02-27 15:01] targos commented on #140
the fix was reverted for now: https://bugs.chromium.org/p/v8/issues/detail?id=10257#c10

[2020-02-27 15:02] targos commented on #132
I assume this is fixed. Feel free to reopen if not.

[2020-02-27 15:20] gengjiawen commented on #142
thanks.

[2020-02-27 15:30] gengjiawen commented on #127
vs2017 build issue has been resolved.

[2020-02-27 15:56] targos commented on #137
this is fixed

[2020-02-27 15:56] #137 closed

[2020-02-27 15:56] targos commented on #132
I assume this is fixed. Feel free to reopen if not.

[2020-02-27 16:38] targos commented on #127
CI: https://ci.nodejs.org/view/MyJobs/job/node-test-commit-node-v8/450/

[2020-02-28 02:13] gengjiawen commented on #120
Is this test flaky, it's not seeing in node-v8 master.

[2020-02-28 02:17] gengjiawen opened #144 "memory related test failed on v8 8.2"
I have checked `v8/node` repo, doesn't see related issue.

Full log: https://github.com/nodejs/node-v8/runs/472689076.

[code]

cc @addaleax @joyeecheung

[2020-02-28 02:20] mmarchini commented on #120
Yes, but the failing is legit

Do you mean `canary`? Let me try it

[2020-02-28 02:35] gengjiawen commented on #120
yeap, only 3 test failed, but this one is not one of them.

https://github.com/nodejs/node-v8/runs/472689076

[2020-02-28 02:40] mmarchini commented on #120
Still happening:

[code]

I also used one of the scripts described in https://github.com/nodejs/node-v8/issues/120#issuecomment-589939128, and it is still segfaulting.

I'm inclined to say this is a bug on V8. I'm trying to come up with a test on V8 for this, but writing a custom inspector test is somewhat investing, so it's taking some time.

I was able to confirm (using bpftrace and some debuggi

[2020-02-28 02:48] mmarchini commented on #120
It also failed on the latest Jenkins run: https://ci.nodejs.org/job/node-test-commit-linux/33109/nodes=ubuntu1804-64/consoleFull

[2020-02-28 02:54] gengjiawen commented on #120
Weird github CI not reporting this error. Any clue ? @cclauss

[2020-02-28 02:58] mmarchini commented on #120
The test is super flaky (the `Debugger.pause` inspector protocol call must happen at the exact "wrong" time), so in the run you linked the test passed. GitHub Actions won't report results from Jenkins.

[2020-02-28 03:12] gengjiawen commented on #120
Is it possible we biselect v8 commit to find the problem ?

[2020-02-28 03:15] mmarchini commented on #120
The commit where it started is likely https://chromium-review.googlesource.com/c/v8/v8/+/1876821, but I haven't bisected to double check (since I don't have a test on V8 yet, would need to bisect on node-v8, which is too much effort). I think I'm close to have a repro on V8 though.

[2020-02-28 03:38] gengjiawen opened #145 "debug build is broken"
[code]

[2020-02-28 03:40] addaleax commented on #145
Duplicate of https://github.com/nodejs/node-v8/issues/140

[2020-02-28 03:40] #145 closed

[2020-02-28 05:53] mmarchini commented on #120
Ok, got a repro on V8. I had to copy an entire script there (tty.js), so I'm not sure what exactly is triggering the bug. Will start to refactor the test to see where the problem is.

[2020-02-28 06:17] gengjiawen commented on #145
Sorry missing this part :(

[2020-02-28 07:21] cclauss opened #146 "CI tests are failing or not running at all"
Is it a problem that our CI tests are either failing or not running at all?
https://github.com/nodejs/node-v8/actions

Related to #144 ?

* **Version**:
* **Platform**:
* **Subsystem**:

### What steps will reproduce the bug?

### How often does it reproduce? Is there a required condition?

### What is the expected behavior?

### What do you see instead?

### Additional information

[2020-02-28 08:29] mmarchini commented on #120
V8 minimal repro: https://chromium-review.googlesource.com/c/v8/v8/+/2080072
Upstream bug: https://github.com/nodejs/node-v8/issues/120
First V8 commit with the issue (found with `git bisect`): https://chromium-review.googlesource.com/c/v8/v8/+/1903440

[2020-02-28 08:39] gengjiawen commented on #146
Looks like github action problem. Happens before. It seems run now.

[2020-02-28 08:56] cclauss commented on #146
The JS tests seem the most error prone so should we delay them so we can see if we have lint or C++ issues?  Perhaps we should change the execution order from:
Compile Node.js --> Test JS Suites --> Test C++ Suites --> Make lint  # to:
Compile Node.js --> Make lint --> Test C++ Suites --> Test JS Suites  # or:
Make lint --> Compile Node.js --> Test C++ Suites --> Test JS Suites

Lint can be a usef

[2020-02-28 09:11] gengjiawen commented on #146
I am inclined to `Make lint --> Compile Node.js --> Test C++ Suites --> Test JS Suites`.

But there is one thing. @richardlau put some lint task in `.github/workflows/CI.yml`, should we make lint a standalone task ?

[2020-03-02 17:01] mmarchini commented on #140
Re-landed on https://chromium-review.googlesource.com/c/v8/v8/+/2077682

[2020-03-04 03:14] gengjiawen commented on #140
Do we need to cherrypick it or it will auto sync to this repo ?

[2020-03-04 03:49] mmarchini commented on #140
It should automatically sync

[2020-03-04 12:39] gengjiawen commented on #127
With With https://github.com/nodejs/node-v8/pull/147 and https://github.com/nodejs/node-v8/issues/120 fixed, hopefully we have only two test case failed.

[2020-03-04 13:43] liudonghua123 commented on #127
Glad to here that, I hope I can use v8 8.0 as soon as possible. :haha:

[2020-03-04 16:06] mmarchini commented on #127
#120 was not fixed upstream yet though :/

[2020-03-04 16:16] mmarchini commented on #120
This is such an edge case I'm wondering if we should mark the test as flaky (and maybe add a test specific for this bug on `known_issues`) and remove this from blockers. My reasoning is:

* This bug should not affect people running Node.js in production, since using the inspector to pause a production app is not recommended (pausing is a Debugger domain feature, and enabling that domain triggers s

[2020-03-04 20:21] mmarchini opened #148 "Update canary-base to remove stale commits"
* https://github.com/nodejs/node/commit/7d6911eb31f61551a08124e43db2ad3fb1a177d0 is a no-op now due to postmortem changes upstream (other postmortem commits are probably stale as well)
* https://github.com/nodejs/node/commit/644a85db2fa0b05b288a92b8ac8d95432bcaf0e5 and https://github.com/nodejs/node/commit/5f693ef7ffbf9a50bc5d4bc45167adc6df60e5a0 should be squashed together

What's the process to

[2020-03-05 01:36] gengjiawen commented on #127
got it wrong, should be https://github.com/nodejs/node-v8/issues/140

[2020-03-05 02:58] gengjiawen commented on #120
I am on adding it to known issue (also not a fan of mutli session in debugging)

[2020-03-05 03:00] mmarchini commented on #120
FWIW this bug is unrelated to multi-session. It was a coincidence this happened on this test.

[2020-03-05 03:06] gengjiawen commented on #120
Sorry for miss that part. Is there `known issue` part for Node.js ? seems we only mark test flaky.

[2020-03-05 03:08] mmarchini commented on #120
It's a folder there (https://github.com/nodejs/node/tree/master/test/known_issues). Tests there are expected to always fail, so `test-inspector-multisession-ws` would stay where it is (but marked as flaky) and we could write another test that can reliably reproduce the issue (I have some ideas, will try later or tomorrow).

[2020-03-05 03:16] gengjiawen commented on #120
`test-inspector-multisession-ws` always failed on my machine. It's not on your machine ?

Also, for anyone interested, v8 crashes in here

[code]

[2020-03-05 03:18] mmarchini commented on #120
It failed rather consistently, but it would succeed occasionally.

[2020-03-05 04:52] targos commented on #148
Force push is the way

[2020-03-05 05:10] mmarchini commented on #148
Ok, will do tomorrow :)

[2020-03-05 09:21] gengjiawen commented on #148
Not sure code merge strategy in this repo. Can you merge https://github.com/nodejs/node-v8/pull/147 before force update ? @targos

[2020-03-06 04:30] mmarchini commented on #148
Will update canary-base tomorrow, it's late and I'll probably make a mistake if I rebase it now.

[2020-03-07 08:27] mmarchini commented on #148
In the end I didn't rebase it today because there was still some legitimate failures on the PR (and I wanted to avoid rebasing multiple times). I think now things are more stable (let's see the results from the last CI), so tomorrow I'll do it.

[2020-03-08 07:00] mmarchini commented on #148
Rebased and force-pushed. I couldn't cherry-pick #147 (conflict, will cherry-pick next week) and #149 (failing test). I cherry-picked #150, otherwise canary-base wouldn't build.

[2020-03-08 07:00] #148 closed

[2020-03-11 22:38] mmarchini commented on #144
FYI, `parallel/test-memory-usage` is also failing (less frequently) on 8.1. Even on 8.2 the test is flaky (but it fails almost always).

Seems related to GC:

[code]

Note how when the test fails, the second Scanvenge reporting "allocation failure", whereas when the test succeeds it's reporting "task". `--predictable-gc-schedule` seems to fix the issue, although I'm not sure this is the right appr

[2020-03-12 00:23] mmarchini commented on #144
Ok, there has been some changes to ArrayBuffer upstream. Now V8 keeps [two lists for young and old JSArrayBuffers](https://chromium-review.googlesource.com/c/v8/v8/+/2010107) and [sweeps ArrayBufferExtensions concurrently](https://chromium-review.googlesource.com/c/v8/v8/+/1997438). `--no-concurrent-array-buffer-sweeping` was introduced, but adding it to the test doesn't fix it. Adding this flag a

[2020-03-14 02:24] mmarchini commented on #144
`test-zlib-unused-weak` seems related to the same upstream changes to ArrayBuffer:

[code]

The test will succeed with ` --no-concurrent-array-buffer-sweeping`. I'm not sure how this new V8 behavior will work in practice though. It's kinda surprising that forcing a mark-sweep in the main thread won't sweep `ArrayBuffer` anymore (at least that's what seems to be happening here).

[2020-03-14 02:46] mmarchini commented on #144
https://github.com/v8/node/pull/109/files :upside_down_face:

[2020-03-18 01:08] gengjiawen commented on #144
Fixed.

[2020-03-18 01:08] #144 closed

[2020-03-18 01:09] #140 closed

[2020-03-18 05:48] MKRhere commented on #127
#140 is closed, should it be checked off?

[2020-03-19 00:41] gengjiawen commented on #127
V8 8.1 landed on Node.js master.

[2020-03-19 00:44] mmarchini commented on #127
Yes, this can be closed now. Hooray!

[2020-03-19 00:44] #127 closed

[2020-03-19 00:48] mmarchini commented on #146
CI will eventually and periodically fail here, because the repository is automatically synced with nodejs/node and then upgraded with the latest version of V8.

If there is a specific issue when building in one platform, or a specific test failing, please open individual issues for it.

As for any changes on the Build/Test/Linter order, this should be handled on nodejs/node.

I'll close this as it

[2020-03-19 00:48] #146 closed

[2020-03-19 00:52] mmarchini commented on #100
Is there anything left to be done here?

[2020-03-20 07:51] #120 closed

[2020-03-20 07:56] mmarchini commented on #120
We should open a tracking issue on nodejs/node, since the underlying bug still exists on V8

[2020-03-20 07:58] gengjiawen commented on #120
Move this to issue to `nodejs/node` ?

[2020-04-07 00:52] gengjiawen opened #153 "test broken on report/test-report-fatal-error"
From latest github CI pipeline.

[code]

[2020-04-07 03:01] mmarchini commented on #153
Looks like a formatting change on the error.

[2020-04-07 03:23] gengjiawen commented on #153
From what I debug, `report` is empty string for now

https://github.com/nodejs/node-v8/blob/867ff41d87e292997ff2ceb8d77e715145aed7b7/test/report/test-report-fatal-error.js#L117-L119

The node error output, perhaps and regex to match the report file ?

[code]

[2020-04-07 03:42] gengjiawen commented on #153
Looks like this is a way to fix:

[code]

[2020-04-09 07:04] #153 closed

[2020-04-10 16:32] gengjiawen opened #155 "two test related to finalization group failed"
[code]

[2020-04-10 16:33] addaleax commented on #155
/cc @devsnek

[2020-04-10 16:36] jkrems commented on #155
Should those tests be removed/disabled? It feels weird that node's tests would be sensitive to language features that are still being worked out (stage 3 but barely so).

[2020-04-10 16:42] devsnek commented on #155
As long as node specializes weakref cleanup in some way (which we do, see Environment::RunWeakRefCleanup) we should keep the tests. They will need to be updated as the proposal and v8 are updated though.

[2020-04-14 01:14] gengjiawen commented on #155
This one still failed:
cc @mmarchini
[code]

[2020-04-14 16:58] mmarchini commented on #155
Oh no, this will keep closing because of the daily job :joy:

We should another issue for `test-finalization-group-error`

[2020-04-15 06:56] #155 closed

[2020-04-15 07:19] gengjiawen commented on #155
😂😂😂

[2020-04-15 07:20] gengjiawen opened #156 "test-finalization-group-error failed on v8 8.4"
This one still failed:
cc @mmarchini
[code]

_Originally posted by @gengjiawen in https://github.com/nodejs/node-v8/issues/155#issuecomment-613173121_

[2020-04-21 02:15] gengjiawen commented on #156
I debugged this, throw is triggered, but `uncaughtException` not noticed.

https://github.com/nodejs/node-v8/blob/e1230d518d2dc28feafacab58d644583f7c78406/test/parallel/test-finalization-group-error.js#L8-L10

cc @devsnek @syg

[2020-04-21 17:31] syg commented on #156
Pretty sure this is because you need to change the flag to `--harmony-weak-refs-with-cleanup-some`. At the last TC39, Apple objected to `cleanupSome`, so the method was made optional. V8 split out `cleanupSome` to a different flag so the rest of the API may ship. That test uses `cleanupSome`, which is no longer exposed by default.

[2020-04-22 00:42] gengjiawen commented on #156
I am aware of that, when I debug, I add `--harmony-weak-refs-with-cleanup-some`, but the test still failed.

[2020-04-22 01:37] devsnek commented on #156
@syg could recent changes (maybe the torque rewrite?) have broken the uncaught exception reporting? there's been a similar issue with microtasks for a while.

[2020-04-22 02:29] syg commented on #156
I debugged this locally. I noticed three issues with node's WeakRef integration. I'm not exactly sure how this test worked before.

1. The top-level line `g.register({}, 42)` doesn't actually cause the unreachable `{}` to be GC-able when calling `gc()`, so the async task wasn't being scheduled and wasn't running at all. I didn't dig into why exactly, but other V8 tests tend to do the registration

[2020-05-13 07:43] targos commented on #156
This is made obsolete by https://github.com/nodejs/node/pull/33373 which I cherry-picked to canary-base.

[2020-05-13 07:43] #156 closed

[2020-05-14 10:46] targos opened #157 "Compiler error with VS2017"
https://ci.nodejs.org/job/node-compile-windows/33891/nodes=win-vs2017/console

[code]

[2020-05-14 16:22] targos commented on #157
/cc @nodejs/platform-windows any way we could work around this?

[2020-05-14 16:25] joaocgreis commented on #157
Ran https://ci.nodejs.org/job/node-test-binary-windows-native-suites/3232/ with the binaries that succeeded building in the job above. This does not include VS2017 because of the mix we use but includes VS2015 and it passed. So, this is probably not an issue for building native modules, only Node itself.

We'll have to see if this can be worked around with a simple patch, if not, dropping VS2017 f

[2020-05-14 18:10] targos commented on #157
I'd like to be able to update V8 to 8.4 in Node 14, so dropping VS2017 wouldn't be enough this time.

[2020-05-27 09:40] targos commented on #157
Moving over to https://github.com/nodejs/node/pull/33579#issuecomment-634548584

[2020-05-27 09:40] #157 closed

[2020-05-31 20:44] vsemozhetbyt opened #158 "No Windows builds since 2020.05.28"
https://nodejs.org/download/v8-canary/v15.0.0-v8-canary2020053077f9337a58/
https://nodejs.org/download/v8-canary/v15.0.0-v8-canary202005311fd149cdf5/
https://nodejs.org/download/v8-canary/v15.0.0-v8-canary20200601bbef71d2b9/
https://nodejs.org/download/v8-canary/v15.0.0-v8-canary202006025eea8ef984/

[2020-06-01 14:09] bzoz commented on #158
Maybe it is because the build issues in https://github.com/nodejs/node/pull/33579?

[2020-06-01 14:20] vsemozhetbyt commented on #158
FWIW, the recent nightly builds have Windows binaries:

https://nodejs.org/download/nightly/v15.0.0-nightly202005296a1df3b5af/
https://nodejs.org/download/nightly/v15.0.0-nightly20200530d79c330186/
https://nodejs.org/download/nightly/v15.0.0-nightly202005312935f72ae1/

[2020-06-01 14:55] gengjiawen commented on #158
Is it the node-v8 daily windows build using vs2017 ? @targos @ryzokuken

[2020-06-01 15:01] gengjiawen commented on #158
Looks like windows build is broken: https://github.com/nodejs/node-v8/runs/726470134.

[2020-06-01 15:51] gengjiawen commented on #158
Not sure related to this:
https://github.com/nodejs/node/pull/33685
https://github.com/v8/v8/commit/e87972b162c43ae7bd185f0042e65dcb61940a26#commitcomment-39582496.

[2020-06-01 16:42] gengjiawen commented on #158
Possible fix: https://github.com/nodejs/node-v8/pull/159

[2020-06-02 04:47] gengjiawen commented on #158
Looks like build passed on github action, upstream patch: https://chromium-review.googlesource.com/c/v8/v8/+/2226121.

[2020-06-03 14:30] gengjiawen commented on #158
Looks like fixed: https://nodejs.org/download/v8-canary/v15.0.0-v8-canary20200603908772e6f4/

[2020-06-03 14:30] #158 closed

[2020-06-08 15:11] d3x0r commented on #115
Is this still an issue?  I ask, because I've updated to backing store in Node 14 to solve the deprecation warnings; everything's kind of working, but the backing store is created... in not the main thread... and is being released in not the main thread; and is crashing in the deconstructor method of BackingStore...

[2020-06-12 07:45] targos opened #160 "Broken debug build"
[code]

[2020-06-12 08:59] addaleax commented on #160
This was added in https://github.com/v8/v8/commit/6f994a0bdf447a32ccbdfb5547a283110f59bf51

/cc @marjakh

[2020-06-12 09:33] marjakh commented on #160
Yikes, this is unexpected. How can I repro this?

[2020-06-12 19:54] addaleax commented on #160
@marjakh The following should work:

- Check out this repo (current HEAD is ec7f9a6cee4eae88568a0eda33935a2099a524d0)
- `./configure --v8-with-dchecks` or `./configure --debug`
- `make -j8`
- Run `./node` (or `./node_g` in the `--debug` case)

(You probably want to use `--debug` and possibly also pass `--v8-non-optimized-debug` to configure in order to get a reasonable debugging experience, it jus

[2020-06-15 11:53] marjakh commented on #160
Here are some initial findings (I haven't had the chance to look into this too much):

When promise_fun is initially created (at snapshot generation time), it has fast properties as expected:

0x24ec23148999: [Function] in OldSpace
 - map: 0x0b2f70a44ba9 <Map(HOLEY_ELEMENTS)> [FastProperties]
 - prototype: 0x24ec23140991 <JSFunction (sfi = 0xe38194c9ff9)>
 - elements: 0x1fd3c5ec0b29 <FixedArray[0]

[2020-06-16 07:02] targos commented on #160
/cc @joyeecheung

[2020-06-16 07:47] marjakh commented on #160
Here's a stack trace for the moment where the map turns dictionary props during node_mksnapshot time:

    node-v8/out/Debug/node_mksnapshot(v8::internal::JSObject::MigrateToMap(v8::internal::Isolate*, v8::internal::Handle<v8::internal::JSObject>, v8::internal::Handle<v8::internal::Map>, int)+0x3e5) [0x563d702e0265]
    node-v8/out/Debug/node_mksnapshot(v8::internal::JSObject::NormalizeProperties(

[2020-06-16 07:48] marjakh commented on #160
My current understanding: it's debatable whether this is the expected behavior or not, but at least, given the current state of the things, the DCHECK is wrong. I'll remove it on V8 side.

[2020-06-16 08:08] marjakh commented on #160
https://chromium-review.googlesource.com/c/v8/v8/+/2246577 is in the works

[2020-06-16 09:08] marjakh commented on #160
The fix landed, do you need anything more from our side?

[2020-06-16 12:13] ryzokuken commented on #160
Thanks a ton, @marjakh. No, once the commit lands on LKGR, we'd pick it up.

[2020-06-16 14:33] joyeecheung commented on #160
My guess is this has something to do with [primordials baking](https://github.com/nodejs/node/blob/master/lib/internal/per_context/primordials.js) which is done during snapshot building (we now extends Promise with a SafePromise class and copy the methods/prototype methods over before freezing it)

[2020-06-16 14:37] marjakh commented on #160
Yep, that looks like it's causing this. (In particular: using Promise as a prototype.) It's ok, just has this side effect that Promise will now have dictionary properties in your snapshot. :)

[2020-06-22 08:09] targos opened #161 "Port cppgc config to gyp"
V8 now depends on it. We need to port the config to our GYP files

[2020-06-24 16:30] targos commented on #161
I fixed the build at least on Linux with https://github.com/nodejs/node/commit/4ba0b28ef59dcebe6a17713554aec4cd37fff84a and https://github.com/nodejs/node/commit/ac8fb3faa944217e643cce111801da648579600d.
Let's keep this issue open because cppgc is still a moving target and I did not look into implementing the build options that it provides.

[2020-06-24 18:04] targos commented on #161
CI: https://ci.nodejs.org/job/node-test-commit-node-v8/546/

Need to fix cross-compilation:

[code]

And macOS:

[code]

And Windows:
[code]

/cc @nodejs/v8

[2020-06-24 22:40] ryzokuken commented on #161
The ARM issue doesn't look like a platform-specific error?

[2020-06-26 02:01] #160 closed

[2020-06-26 10:40] gengjiawen commented on #161
Windows build actually success on v16.5.5, but failed on v16.6.2.

[2020-06-27 08:41] vsemozhetbyt opened #162 "Last versions lack some binaries"
Last full build:
https://nodejs.org/download/v8-canary/v15.0.0-v8-canary202006192e28363093/

Deficient builds:
https://nodejs.org/download/v8-canary/v15.0.0-v8-canary202006254d76a1d646/
https://nodejs.org/download/v8-canary/v15.0.0-v8-canary2020062643c97a74f2/

[2020-06-27 08:49] targos commented on #162
This is because of https://github.com/nodejs/node-v8/issues/161

[2020-06-27 12:44] targos commented on #161
I pushed a few fixes. New CI: https://ci.nodejs.org/job/node-test-commit-node-v8/551/

[2020-06-27 14:27] gengjiawen commented on #161
Windows still failed on latest vs2019 (works on vs2017, vs2019 v16.5.5), not sure is this a regression.

![image](https://user-images.githubusercontent.com/3759816/85924490-48f05700-b8c5-11ea-840d-dc214108ea74.png)

[2020-06-27 15:23] targos commented on #161
I did not do anything for Windows. I don't know if it's a bug in the compiler or in V8

[2020-06-27 15:24] targos commented on #161
@nodejs/platform-windows PTAL: https://ci.nodejs.org/job/node-compile-windows/34716/

[2020-06-27 15:40] gengjiawen commented on #161
I tend to a compiler bug, but I simulate related code but still failed to create a repro :(

[2020-06-28 10:43] gengjiawen commented on #161
I pushed a possible fix, now run into lots of unresolved external symbol. cc @targos
 https://github.com/gengjiawen/node-v8/runs/815584612?check_suite_focus=true#step:6:3810

[code]

[2020-06-29 11:32] gengjiawen opened #163 "Support clang build on windows."
We have run into multi issues using msvc compiler. Is it possible we add clang support for windows too.
Some benefits:

* v8 use clang on windows too, v8 build will be less problematic.
* clang is small compared to visual studio
* ninja support

cc @nodejs/v8 @nodejs/build

[2020-06-29 11:52] targos commented on #163
It's possible if someone does the work to enable it.

[2020-06-29 11:58] ryzokuken commented on #163
@gengjiawen it sounds like a major win. As @targos said, I hope someone finds the time and energy to make this happen.

[2020-06-29 12:25] richardlau commented on #163
This is probably one for @nodejs/platform-windows (in particular @joaocgreis and @bzoz). As long as Node.js supports building with MSVC we'll need to continue building on it so adding an additional toolchain (clang) doesn't avoid us having to fix the build with MSVC.

[2020-06-29 12:32] gengjiawen commented on #163
Actually v8 doesn't use msvc bring too much trouble when we building Node.js.If this is doable, we can move msvc support to second layer ?

The biggest problem with msvc is that, it's very hard to debug with all those mistery.
It often take many days to debug a msvc-only problem like in this repo and https://github.com/bnoordhuis/v8-cmake/issues/10.

[2020-06-29 16:53] mmarchini commented on #163
It would be amazing if we could do so, and it had been suggested before by V8. One thing to consider is that such a change would be semver-major, and the biggest challenge is ensuring native modules still work (and I'm not sure if native modules would need a different toolchain with clang instead of msvc, @nodejs/platform-windows might know it). As soon as we had this working it would be feasible

[2020-07-04 09:41] gengjiawen commented on #161
Is this similar to https://github.com/nodejs/node-v8/issues/126#issuecomment-575111775 cc @targos

[2020-07-04 09:48] targos commented on #161
Maybe? But I don't see any syntax error in the changes to the gyp files this time.

[2020-07-06 08:23] saurabhprasadsah opened #164 "last version lack of issues"
* **Version**:
* **Platform**:
* **Subsystem**:

### What steps will reproduce the bug?

### How often does it reproduce? Is there a required condition?

### What is the expected behavior?

### What do you see instead?

### Additional information

[2020-07-06 08:27] ryzokuken commented on #164
@saurabhprasadsah could you please provide some more information? Thanks.

[2020-07-10 00:52] gengjiawen commented on #161
I have report this to in https://bugs.chromium.org/p/v8/issues/detail?id=10691.

[2020-07-10 09:17] gengjiawen commented on #161
I made some progress on https://github.com/gengjiawen/node-v8/tree/vs2019-build, still left some Error LNK2019 error.

[2020-07-13 12:09] gengjiawen opened #165 "issue on warn-on-error with latest v8"
After use git node v8 major with this repo, build on linux failed with. Not sure I miss something.

cc @richardlau

https://github.com/gengjiawen/node-v8/runs/864971031?check_suite_focus=true

[code]

[2020-07-13 12:32] richardlau commented on #165
Well that's warning that whatever version of V8 is being updated to has now deprecated an API we're currently using in core. Which is the whole point of `error-on-warn` -- it makes it obvious when situations like this occur. It's indicative of an issue coming down the line, as deprecated V8 APIs tend to eventually be removed.

[2020-07-13 12:42] gengjiawen commented on #165
Looks like indirect use, I searched the src folder, not finding `AddMicrotasksCompletedCallback` or `RemoveMicrotasksCompletedCallback`.

[2020-07-13 12:48] targos commented on #165
Did you re-apply the commits from the `canary-base` branch on top of the update?
This error should be fixed by https://github.com/nodejs/node/commit/df80a5dde650e317f32bb5af436867bd2ed691c1

[2020-07-13 12:50] gengjiawen commented on #165
Thanks, this should be the reason.

[2020-07-13 12:50] #165 closed

[2020-07-13 14:18] targos commented on #163
I started experimenting with ClangCL here: https://github.com/targos/node/commits/clang-cl
Currently blocked on ICU: https://github.com/nodejs/node/issues/34201

[2020-07-14 03:09] gengjiawen commented on #164
close for lack of feedback.

[2020-07-14 03:09] #164 closed

[2020-07-16 03:10] gengjiawen commented on #161
Can we make cppgc optional for now.

From https://chromium.googlesource.com/v8/v8.git/+/HEAD/include/cppgc/
[code]

[2020-07-16 08:21] targos commented on #161
@gengjiawen I don't think we can. It's now a mandatory dependency to build V8 itself.

[2020-07-16 09:59] gengjiawen commented on #161
Quick update, fix two issues in upstream (one is https://bugs.chromium.org/p/v8/issues/detail?id=10691#c10, not sure how v8 team find it, I find it by using /P, not sure v8 team using the same).

I believe only one issue (linker issue) is left, I have got an idea, need time to verify it.

[2020-07-16 15:17] gengjiawen commented on #161
I have fixed all the issue, successful build can see here. I will try to push related change to upstream.

[2020-07-17 06:27] targos commented on #161
Maybe we're hitting [this issue](https://stackoverflow.com/a/9351193). i.e. we are overwriting files because the outputs are all in the same directory? That can probably be fixed somehow in `v8.gyp`

[2020-07-17 06:48] gengjiawen commented on #161
Looks like it, can this be done by gyp config ?

[2020-07-17 07:03] gengjiawen commented on #161
Looks like gyp not support this. https://github.com/nodejs/node-gyp/issues/1424

[2020-08-01 09:05] vsemozhetbyt commented on #162
Closing for now as we have no binaries at all for the last 10 days.

[2020-08-01 09:05] #162 closed

[2020-08-05 14:06] Horcrux7 commented on #161
What is the status of this issues? If I understand it correctly then the tool gyp does not support the latest changes of the V8 project.

Is the project dead now?

[2020-08-05 14:10] gengjiawen commented on #161
Nope, we have a backup plan (port related change manually to Node.js). But in the long run we need to fix this in  https://github.com/nodejs/gyp-next or switch to clang maybe.

[2020-08-05 15:18] Horcrux7 commented on #161
Sounds like a long-term task, months or years.

[2020-08-05 15:22] gengjiawen commented on #161
We have confidence to keep latest stable v8 release to Node.js, if that's what you worry about.
And also welcome to anyone to help with on this windows issue.

[2020-08-05 15:33] Horcrux7 commented on #161
No, I want use the canary version to try and develop for the WebAssembly/GC feature. This is currently under daily feature improvement in V8. I will rethink my working now.

[2020-08-05 15:40] gengjiawen commented on #162
Looks like new failure occurred, I have open https://github.com/nodejs/node/pull/34634 to track the new error.

[2020-08-06 02:03] gengjiawen opened #166 "V8 update script broken"
https://ci.nodejs.org/view/Node.js%20Daily/job/node-update-v8-canary/1435/console

[code]

cc @targos @ryzokuken

[2020-08-06 02:06] gengjiawen commented on #166
Also cc @nodejs/node-core-utils An edge case in `node-core-utils` ?

[2020-08-06 02:39] mmarchini commented on #166
Did V8 add a new dependency or remove an old dependency? That could break things I think.

[2020-08-06 02:46] mmarchini commented on #166
On a second thought (and after looking at V8 git history for today and yesterday), that's probably not the issue.

[2020-08-06 02:47] codebytere commented on #166
hmm 🤔 not much has changed in that section of the codebase lately that i'm aware of but i can go have a poke

[2020-08-06 03:20] gengjiawen commented on #166
It starts broken on July 24. I checked the node-core-utils v8 part, looks not touched recently.
More likely from V8. but I don't know `13:56:10 [05:56:10] → Cannot read property 'split' of undefined
` comes from since it lacks stacktrace.

[2020-08-06 03:24] mmarchini commented on #166
Probably something changed on V8 which broke spectations we have on ncu.

[2020-08-06 03:29] codebytere commented on #166
If i had to guess it's https://github.com/nodejs/node-core-utils/blob/88d9c618c3ccf60aed8c6832eb6a4b47eb5dd9e6/lib/update-v8/majorUpdate.js#L133 but i'll test locally

[2020-08-06 04:08] codebytere commented on #166
Got it: https://github.com/nodejs/node-core-utils/pull/465

[2020-08-06 04:56] targos commented on #166
I worked on a fix two days ago but didn't have time to test it and open a PR yet:https://github.com/targos/node-core-utils/commit/15bc3b0c683591437b418d97906e6a940d85f23a

[2020-08-06 14:56] codebytere commented on #166
I'm happy to close mine out in favor of yours, or we can merge mine in the short term and then update to yours once we've verified things are shipshape? Up to yall :)

[2020-08-06 15:34] MylesBorins commented on #161
/cc @nodejs/v8-update PTAL

[2020-08-06 15:38] ryzokuken commented on #166
@codebytere but would NCU work on older branches with your patch?